{{ partial "head.html" . }}
  <!-- Header Start -->
{{ partial "header.html" . }}
  <!-- Header End -->

<div class="container center mt-3 mb-3">
  {{ if .Params.bannertemplate }}
    {{ partial .Params.bannertemplate . }}
  {{else}}
    {{ partial "hellug-banner.html" . }}
  {{end}}
</div>

{{ partial "breadcrump.html"}}

<main>
<div class="container">
        <div class="row">
            <div class="col-md-9">
		    <h2 class="title">{{ .Title }}</h2>
  <em>{{ dateFormat "02/01/2006" .Date }}</em>
  <hr>
  <ul class="list-inline">
    {{ if .Params.eventdate }}
    <li class="list-inline-item"><b>📅</b> {{ .Params.eventdate | time.Format ":date_full" }}
    {{ if .Params.eventend }}
    <b>-</b> {{ .Params.eventend | time.Format ":date_full" }}
    {{ end }}</li>
    {{ end }}
    {{ if .Params.eventdate }}
    <li class="list-inline-item"><b>⏰</b> {{ .Params.eventdate | time.Format ":time_short" }}
    {{ if .Params.eventend }}
    <b>-</b> {{ .Params.eventend | time.Format ":time_short" }}
    {{ end }}</li>
    {{ end }}
    {{ if .Params.eventlocation }}
    <li class="list-inline-item"><b>🏛</b> {{ .Params.eventlocation }}</li>
    {{ end }}
  </ul>

  {{.Content | safeHTML }}

  {{- partial "short-link.html" . }}
</div>

    <!-- Column 2 start -->
{{ partial "column2.html" . }}
    <!-- Column 2 end -->
</div>
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
