{{ partial "head.html" . }}
  <!-- Header Start -->
{{ partial "header.html" . }}
  <!-- Header End -->

<div class="container center mt-3 mb-3">
  {{ if .Params.bannertemplate }}
    {{ partial .Params.bannertemplate . }}
  {{else}}
    {{ partial "hellug-banner.html" . }}
  {{end}}
</div>

<main>
<div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-md-9">

  {{.Content}}

</div>


    <!-- Column 2 start -->
{{ partial "column2.html" . }}
    <!-- Column 2 end -->
</div>
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
