
 <!--  Carousel -->

<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
            <img src="media/carousel1.png" >
      
      <div class="carousel-caption">
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="index.html#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="index.html#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

