<div id="column2">
    <div class="well well-lg" align="center"> 
        <div class="list-group">
            <span class="list-group-item active">HEL.L.U.G Meetups!</span>
            {{ $counter := 0 }}
            {{ range first 3 (index .Site.Taxonomies.draseis "meetups") }}
                {{ if .Params.meetupdate }}
                {{ $meetuptime := time .Params.meetupdate }}
                {{ $meetuptimeunix := add $meetuptime.Unix 86400 }}
                {{ if ge $meetuptimeunix now.Unix }}
                {{ $counter = add $counter 1 }}
                <a class="list-group-item" href="{{ .Permalink}}">
                    <span class="label label-default">Nέο</span>
                    {{ dateFormat "02/01/2006" $meetuptime }} - {{ .Params.meetuplocation }}
                </a>
                {{ end }}
                {{ end }}
            {{ end }}
          {{ if eq $counter 0 }}
            <a class="list-group-item">Δεν υπάρχουν</a>
          {{ end }}
        </div>
        <div class="list-group">
            <span class="list-group-item active"> Εκδηλώσεις </span>

        {{ $counter = 0 }}
        {{ $newlimit := (sub now.Unix 604800 ) }}
        {{ range first 5 (index .Site.Taxonomies.draseis "event") }}
          {{ if .Params.eventdate }}
          {{ $eventtime := time .Params.eventdate }}
          {{ if ge $eventtime.Unix now.Unix }}
            {{ $counter = add $counter 1 }}
            <a class="list-group-item" href="{{ .Permalink }}">
              {{ if lt .Date.Unix $newlimit }}
              <span class="label label-default">Nέο</span>
              {{ end }}
              {{ dateFormat "02/01/2006" $eventtime }} - {{ .Title }}
            </a>
          {{ end }}
          {{ end }}
        {{ end }}
          {{ if eq $counter 0 }}
            <a class="list-group-item">Δεν υπάρχουν</a>
          {{ end }}
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">HEL.L.U.G. Sites</h3>
            </div>
        <div class="panel-body" align="left">
            <ul class="nav">
              {{ range .Site.Data.sidebar.links.hellug }}
              <li class="nav-item"><a href={{ .url }}><button type="button" class="btn btn-link">{{ .name }}</button></a></li>
              {{ end }}
            </ul>
        </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Ακολουθήστε τον HEL.L.U.G.</h3>
            </div>
            <div class="panel-body" align="left">
                <div class="btn-group">
                    <a href="https://twitter.com/hellug"><button type="button" class="btn btn-default" style="padding-top:1px; padding-bottom:1px; margin-bottom:4px;"><img src="/media/Twitter.png">Twitter</button></a>
                    <a href="http://www.linkedin.com/groups/HELLUG-108292/about"><button type="button" class="btn btn-default" style="padding-top:1px; padding-bottom:1px; margin-bottom:4px;"><img src="/media/LinkedIn.png">LinkedIn</button></a>
                    <a href="https://www.facebook.com/groups/hellug/"><button type="button" class="btn btn-default" style="padding-top:1px; padding-bottom:1px;margin-bottom:4px;"><img src="/media/Facebook.png">Facebook</button></a>
                </div>
            </div>
        </div>

    </div>
