<div class="footer" >
    <ul class="site-map">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li><div>{{ .Name }}</div>
                <ul>
                    {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                </li>
            {{ else }}
                <li>
                    <div>{{ .Name }}</div>
                    </a>
                </li>
            {{ end }}
        {{ end }}
        <li><div>Σύνδεσμοι</div>
            <ul>
              {{ range .Site.Data.main.links.hellug }}
              <li><a href="{{ .url }}">{{ .name }}</a></li>
              {{ end }}
            </ul>
        </li>
    </ul>
</div>
<div class="infobar">
    <a href="/credits">Credits Ιστοσελίδας</a>
    <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.hellug.gr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</div>
</body>
</html>
