<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="">
    <title>{{ .Title }} | HELLUG </title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Hellug Official" />
        <meta name="keywords" content="Hellug" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap  -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/hellug.css" rel="stylesheet" />
        <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
</head>
<body id="main">
