
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- menu items -->
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ .Name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            {{ range .Children }}
                            <li class="dropdown">
                                <a tabindex="-1" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ .Name }}<b class="caret"></b></a>
                    </li>
                    {{ end }}
                    {{ end }}
                    <!-- menu items end -->
                    <!-- DISABLED
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Linux<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown">
                                <a tabindex="-1" href="/p/ti-einai-to-linux">Τι είναι;</a>
                            </li>
                            <li class="dropdown">
                                <a tabindex="-1" href="/linux/help">Οδηγοί - Βοήθεια</a>
                            </li>
                            <li class="dropdown">
                                <a tabindex="-1" href="/linux/elefthero-logismiko">Ελεύθερο Λογισμικό</a>
                            </li>
                            <li class="dropdown">
                                <a tabindex="-1" href="/linux/dianomes/dianomes">Διανομές</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="/linux/koinotites">Κοινότητες</a>
                                <ul class="dropdown-menu">                    <li><a tabindex="-1" href="/linux/koinotites/ellinikes-koinotites/ellinikes-koinotites">Ελληνικές Κοινότητες</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Σύνδεσμοι<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                          {{ range .Site.Data.main.links.hellug }}
                            <li class="dropdown">
                              <a tabindex="-1" href="{{ .url }}">{{ .name }}</a>
                            </li>
                          {{ end }}
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Αρχείο</a>
                                <ul class="dropdown-menu">
                                  {{ range .Site.Data.main.links.historical }}
                                  <li><a tabindex="-1" href="{{ .url }}">{{ .name }}</a></li>
                                  {{ end }}
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                 <ul class="nav navbar-nav navbar-right">

                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
