:root, html[data-theme='light'] {
    --rem: 16px;
	--navpos: absolute;
	--width: 960px;
	--font-p: 1em/1.6 system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	--font-h: 1em/1.6 "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-c: .9em/1.4 SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--ornament: "";
	--border: 1px solid var(--cmed);
	/* foreground   | background color */
	--cfg:  #212529;    --cbg:    #fff;
	--cdark: #343a40; --clight: #f8f9fa;
	--cmed: #6c757d;
	--clink: #0d6efd;
	--cemph: #7952b3; --cemphbg: #7952b310;
}

html[data-theme='dark'] {
	/* foreground   | background color */
	--cfg:   #cecbc4; --cbg:    #252220;
	--cdark: #999;    --clight: #333;
	--cmed:  #566;
	--clink: #1ad;
	--cemph: #0b9;    --cemphbg: #0b91;
}


footer > .row { display: flex; margin:  0rem 0rem; align-items: normal; }

.sitemap {
display: flex;
align-items: normal;
justify-content: space-around;
flex-wrap: wrap;
}

.sitemap-item {
    text-align: left;
    vertical-align: top;
}

main h3, h4 {
margin-bottom: 0.1em;
}

