{{ partial "head.html" . }}
  <!-- Header Start -->
{{ partial "header.html" . }}
  <!-- Header End -->

<div class="pagewrap">
<div align="center" style="margin:4px;"> 
  {{ if .Params.bannertemplate }}
    {{ partial .Params.bannertemplate . }}
  {{else}}
    {{ partial "hellug-banner.html" . }}
  {{end}}
</div>

<div id="column1">

  {{.Content}}

<!-- Articles Section -->
<div class="well well-lg">
{{ $articlelimit := 10 }}
{{ $articlenum := len .Pages }}
{{ $lastyear := (sub now.Unix 31536000 ) }}
{{ range first $articlelimit .Pages }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{.Permalink}}">{{ .Title }}</a>
    {{ if lt $lastyear .Date.Unix }}
        <span class="label label-default">Nέο</span></h3>
    {{ end }}
    </div>
    <div class="panel-body">
        {{ .Summary }}
        <p><a href="{{.Permalink}}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-zoom-in"></span>Περισσότερα...</a>
        </p>
    </div>
</div>
{{ end }}
<!-- End Articles Section -->

{{ if gt $articlenum $articlelimit }}
<!-- Older Articles Summary -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Άλλες Κατηγορίες</a>
    </div>
    <div class="panel-body">
        <ul>
            {{ range after 10 .Pages }}
            <li><a href="{{.Permalink}}">{{ .Title }}</a>
            {{ end }}
        </ul>
    </div>
</div>

<!-- End Older Articles -->
{{ end }}
</div></div>
</div>

    <!-- Column 2 start -->
{{ partial "column2.html" . }}
    <!-- Column 2 end -->
</div>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
