.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#main
{
}

#footer-wrapper
{

}
#fcolumn1
{
 float:left;
 width:25%;
 margin-left:300px;
}

#fcolumn2
{

   width:25%;
 }

#fcolumn3
{
  float:right;
   width:25%;
   margin-right:600px;
}


#column1
{
float:left;
min-width:400px;
width:70%;
margin-left:1%;
}
#column2
{
float:right;
min-width:250px;
width:27%;
margin-right:1%;
}

.footer
{
  margin-top:5px;
  padding-top:5px;
  border-top:1px solid rgb(66, 139, 202);
  color:rgb(58, 135, 173);
  clear:both;
  background:rgb(217, 237, 247);
  margin-bottom: 0px;
  padding-bottom: 1em;
}


div.footer ul.site-map ul {
 padding-left: 16px;
}

div.footer ul.site-map {
    margin-left: 50px;
    vertical-align: top;
    
}

div.footer ul.site-map > li{
    display: inline-block;
    list-style: none;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}
div.footer ul.site-map ul li {
    /* 2nd+ level */
    list-style: none;
    margin-left: 5px;
}

.infobar
{
  padding-top:1px;
  color:rgb(255,255,255);
  text-align: right;
  background:rgb(217, 237, 247);
  margin-bottom: 0px;
  font-size: 75%;
}

.navbar
{
  font-family: arial, sans-serif;
  margin-bottom: 2px;
}

.carousel-control
{
  opacity:0;
  text-shadow:;
}

#content-area
{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2px;
}

span.article-date {
  font-size: 75%;
  font-weight: bold;
}

h3 span.article-date
{
  float:right;
  display: inline;
  padding: .2em .6em .3em;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #999999;
}

li span.article-date {
    color: rgb(112, 112, 240);
    margin-left: 1em;
}

/* responsive layout */

@media screen and (max-width: 860px) {
    #column1
    {
        float:none;
        min-width:320px;
        width:auto;
       
    }
    #column2
    {
        float:none;
        min-width:180px;
        width:100%;
    }
}



