{{ partial "head.html" . }}
      <div>
          <img src="/media/sad-tux.png">
          <h2>404 Η σελίδα δε βρέθηκε - Page not found</h2>
          <p>Αν βρεθήκατε εδώ αφού ακολουθήσατε κάποιο σύνδεσμο παρακαλούμε επικοινωνήστε με τους διαχειριστές της ιστοσελίδας μέσω του <a href="https://forum.hellug.gr">forum</a> του Hellug και ενημερώστε μας για το περιεχόμενο που λείπει</p>
          <p>If you came here by following a link please contact the site admins within the <a href="https://forum.hellug.gr">forum</a> of Hellug to inform us of the missing content</p>
        
          <h1><a href="{{ "" | relURL }}">Αρχική - Home</a></h1>
      </div>
