{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="pagewrap">
<div align="center" style="margin:4px;"> 
{{ partial "carousel.html" . }}
</div>

<div id="column1">

{{.Content}}

<!-- Articles Section -->
<div class="well well-lg">
{{ $counter := 0 }}
{{ $pages := .Site.RegularPages }}
{{ $recentpostlimit := (sub now.Unix 2592000 ) }}
{{ range first 5 $pages }}
{{ $counter = add $counter 1 }}
{{ if eq $counter 1 }}
<!-- First Post -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{.Permalink}}">{{ .Title }}</a>
        <span class="article-date">{{ dateFormat "02/01/2006" .Date }}</span>
    {{ if lt $recentpostlimit .Date.Unix }}
        <span class="label label-default">Nέο</span></h3>
    {{ end }}
    </div>
    <div class="panel-body">
        {{ .Summary | plainify | safeHTML }}

        <p><a href="{{.Permalink}}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-zoom-in"></span>Περισσότερα...</a>
        </p>
    </div>
</div>
<!-- First Post End -->
{{ else }}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{.Permalink}}">{{ .Title }}</a>
            <span class="article-date">{{ dateFormat "02/01/2006" .Date }}</span>
    {{ if lt $recentpostlimit .Date.Unix }}
        <span class="label label-default">Nέο</span></h3>
    {{ end }}
    </div>
    <div class="panel-body">
        {{ .Summary }}
        <p><a href="{{.Permalink}}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-zoom-in"></span>Περισσότερα...</a>
        </p>
    </div>
</div>
{{ end}}


{{ end }}

<!-- End Articles Section -->
</div></div>

    <!-- Column 2 start -->
{{ partial "column2.html" . }}
    <!-- Column 2 end -->
</div>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->

