<h4>HEL.L.U.G Meetups!</h4>
{{- $counter := 0 }}
{{- $newlimit := (sub now.Unix 604800 ) }}
{{- range first 3 (index .Site.Taxonomies.draseis "meetups") }}
{{- if .Params.meetupdate }}
{{- $meetuptime := time .Params.meetupdate }}
{{- $meetuptimeunix := add $meetuptime.Unix 86400 }}
{{- if ge $meetuptimeunix now.Unix }}
{{- $counter = add $counter 1 }}
<a href="{{ .Permalink}}">{{- if lt .Date.Unix $newlimit }} Nέο {{- end }}{{ dateFormat "02/01/2006" $meetuptime }} - {{ .Params.meetuplocation }} </a>
{{- end }}
{{- end }}
{{- end }}
{{- if eq $counter 0 }}
<a>Δεν υπάρχουν</a>
{{- end }}
<h4> Εκδηλώσεις </h4>
{{- $counter = 0 }}
{{- $newlimit := (sub now.Unix 604800 ) }}
{{- range first 5 (index .Site.Taxonomies.draseis "event") }}
{{- if .Params.eventdate }}
{{- $eventtime := time .Params.eventdate }}
{{- if ge $eventtime.Unix now.Unix }}
{{- $counter = add $counter 1 }}
<a href="{{ .Permalink }}">{{- if lt .Date.Unix $newlimit }} Nέο{{- end }}{{- dateFormat "02/01/2006" $eventtime }} - {{ .Title }}</a>
{{- end }}
{{- end }}
{{- end }}
{{- if eq $counter 0 }}
<a>Δεν υπάρχουν</a>
{{- end }}

<h4>Σύνδεσμοι</h4>
{{- range .Site.Data.main.links.hellug }}
<a href="{{ .url }}">{{ .name }}</a></br>
{{- end }}
