<footer>
<hr>
  <div class="row">
    {{- $currentPage := . }}
    {{- range .Site.Menus.main }}
    <div class="col">
      {{- if .HasChildren }}
      {{- .Name }}
        {{- range .Children }}
        <br><a href="{{ .URL }}">{{ .Name }}</a>
        {{- end }}
      {{- else }}
      {{- .Name }}
      {{- end }}
    </div>
    {{- end }}
    <div class="col">
Ακολουθήστε τον HEL.L.U.G.
<a href="https://twitter.com/hellug"><button type="button" style="padding-top:1px; padding-bottom:1px;margin-bottom:4px;"><img src="/media/Twitter.png">Twitter</button></a>
<a href="http://www.linkedin.com/groups/HELLUG-108292/about"><button type="button" style="padding-top:1px; padding-bottom:1px; margin-bottom:4px;"><img src="/media/LinkedIn.png">LinkedIn</button></a>
<a href="https://www.facebook.com/groups/hellug/"><button type="button" style="padding-top:1px; padding-bottom:1px;margin-bottom:4px;"><img src="/media/Facebook.png">Facebook</button></a>
  </div>
</div>
<small class="float-right sticky"><a href="/credits">Συντελεστές Ιστοσελίδας</a></small>

{{- partial "scripts.html" . }}
</footer>
</body>
</html>
