<!-- menu items -->
<nav>
{{- $currentPage := . }}
<ul>
<li class="float-right sticky"><a onclick="addFontSize(-1)">ᴀ-</a>|<a onclick="addFontSize(1)">A+</a></li>
<li class="float-right sticky"><a onclick="toggleDarkMode(this)">🌓</a></li>
{{- range .Site.Menus.main }}
{{- if .HasChildren }}
<li > <a href="#">{{ .Name }}</a>
    <ul >
        {{- range .Children }}
        <li> <a href="{{ .URL }}">{{ .Name }}</a> </li>
        {{- end }}
    </ul>
</li>
{{- else }}
<li>
    <a href="#">{{ .Name }}</a>
</li>
{{- end }}
{{- end }}
</ul>
</nav>
<!-- menu items end -->
