<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="">
    <title>{{ .Title }} | HELLUG </title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Hellug Homepage" />
        <meta name="keywords" content="Hellug" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/classless.css">
        <link href="/css/hellug.css" rel="stylesheet" />
        {{ with  .OutputFormats.Get  "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s RSS feed" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
</head>
<body>
<!-- <script src="https://dohliam.github.io/dropin-minimal-css/switcher.js" type="text/javascript"></script> -->
