{{ partial "head.html" . }}
<header>
  <!-- Header Start -->
{{ partial "header.html" . }}
  <!-- Header End -->
</header>

{{ partial .Params.bannertemplate . }}


<main>
 {{ partial "breadcrump.html"}}
<div class="row">
<div class="col">
  <h1> {{ .Title }}</h1>
  {{ dateFormat "02/01/2006" .Date }}<hr>
  <ul>
    {{ if .Params.eventdate }}
    <li><b>📅</b> {{ dateFormat "Monday" .Params.eventdate }}</li>
    {{ end }}
    {{ if .Params.eventdate }}
    <li><b>⏰</b> {{ dateFormat "15:04" .Params.eventdate }}</li>
    {{ end }}
    {{ if .Params.eventlocation }}
    <li><b>🏛</b> {{ .Params.eventlocation }}</li>
    {{ end }}
  </ul>
  {{.Content}}
</div>
<!-- Column 2 start -->
<div class="col-3">
{{ partial "column2.html" . }}
</div>
<!-- Column 2 end -->
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
