{{ partial "head.html" . }}
<header>
<!-- Header Start -->
{{ partial "header.html" . }}
<!-- Header End -->
{{- if .Params.bannertemplate }}
{{- partial .Params.bannertemplate . }}
{{- else }}
{{- partial "hellug-banner.html" . }}
{{- end }}
</header>

<main>
    <div class="row">
<!-- Articles Section -->
    <div class="col">
{{- $articlelimit := 5 }}
{{- $articlenum := len .Pages }}
{{- $counter := 0 }}
{{- $recentpostlimit := (sub now.Unix 31536000 ) }}
{{- range first $articlelimit .Pages }}
{{- $counter = add $counter 1 }}
{{- if eq $counter 1 }}
<!-- First Post -->
<h4><a href="{{.Permalink}}">{{ .Title }}</a></h4>
<article>
    <aside>{{- if lt $recentpostlimit .Date.Unix }}Nέο {{- end }}{{- dateFormat "02/01/2006" .Date }}
</aside>
    {{- .Summary }} 
    </article>
<!-- First Post End -->
{{else}}
<h4><a href="{{.Permalink}}">{{ .Title }}</a></h4>
<article>
    <aside>{{- if lt $recentpostlimit .Date.Unix }}Nέο {{- end }}{{ dateFormat "02/01/2006" .Date }}
</aside>
    {{- .Summary }} 
    </aside>
    {{- end }}
{{- end }}
<!-- End Articles Section -->

<section>
{{ if gt $articlenum $articlelimit }}
<!-- Older Articles Summary -->
<h4>Παλαιότερα άρθρα</a></h4>
<ul>
    {{ range after 10 .Pages }}
    <li><a href="{{.Permalink}}">{{ .Title }}</a> {{ dateFormat "02/01/2006" .Date }}</li>
    {{ end }}
</ul>

<!-- End Older Articles -->
{{ end }}
</section>
</div>
<!-- Column 2 start -->
<div class="col-3">
{{ partial "column2.html" . }}
</div>
<!-- Column 2 end -->
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
