{{ partial "head.html" . }}
<header>
<!-- Header Start -->
{{ partial .Params.bannertemplate . }}
{{ partial "header.html" . }}
<!-- Header End -->
</header>
<main>
{{ partial "breadcrump.html"}}
<div class="row">
<div class="col">
<h1>{{ .Title }}</h1>
{{ dateFormat "02/01/2006" .Date }}
<ul>
  {{ if .Params.meetupdate }}
  <li><b>📅</b> {{ dateFormat "Monday" .Params.meetupdate }}</li>
  {{ end }}
  {{ if .Params.meetupdate }}
  <li><b>⏰</b> {{ dateFormat "15:04" .Params.meetupdate }}</li>
  {{ end }}
  {{ if .Params.meetuplocation }}
  <li><b>🏛</b> {{ .Params.meetuplocation }}</li>
  {{ end }}
</ul>
<article>
  {{.Content}}
</article>
</div>
<!-- Column 2 start -->
<div class="col-3">
{{ partial "column2.html" . }}
</div>
<!-- Column 2 end -->
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
