{{- partial "head.html" . }}
<!-- Header Start -->
<header>
{{- partial .Params.bannertemplate . }}
{{- partial "header.html" . }}
</header>
<!-- Header End -->
<main>
{{ partial "breadcrump.html"}}
<div class="row">
<!-- Article start -->
<div class="col">
<h3>{{ .Title }}</h3>
{{- dateFormat "02/01/2006" .Date }}
<article>{{.Content}} </article>
</div>
<!-- Article end -->
<div class="col-3">
<!-- Column start -->
{{- partial "column2.html" . }}
<!-- Column end -->
</div>
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
