{{ partial "head.html" . }}
<!-- Header Start -->
{{ partial "header.html" . }}
<!-- Header End -->

{{ if .Params.bannertemplate }}
{{ partial .Params.bannertemplate . }}
{{else}}
{{ partial "hellug-banner.html" . }}
{{end}}

{{ partial "breadcrump.html"}}
<main>
<div class="row">
<!-- Content Start -->
<div class="col">
<h3>{{ .Title }}</h3>
<article>
  {{.Content}}
</article>
</div>
<!-- Content End -->
<!-- Column 2 start -->
<div class="col-3">
{{ partial "column2.html" . }}
</div>
<!-- Column 2 end -->
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
