{{ partial "head.html" . }}
<header>
<!-- Header Start -->
{{ partial "header.html" . }}
<!-- Header End -->

{{ partial .Params.bannertemplate . }}
</header>
<main>
  <div class="row">
  <!-- Content Area start -->
  <div class="col">
  {{.Content}}
  </div>
  <!-- Content Area end -->
<!-- Column 2 start -->
  <div class="col-3">
{{ partial "column2.html" . }}
  </div>
<!-- Column 2 end -->
  </div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
