{{ partial "head.html" . }}
<header>
<!-- Header Start -->
{{ partial "header.html" . }}
<!-- Header End -->

</header>
{{ partial "hellug-banner.html" . }}

<main>
    <div class="col">
    <div class="row">

{{.Content}}

<!-- Articles Section -->
{{ $articlelimit := 5 }}
{{ $articlenum := len .Pages }}
{{ $counter := 0 }}
{{ $lastyear := (sub now.Unix 31536000 ) }}
{{ range first $articlelimit .Pages }}
{{ $counter = add $counter 1 }}
{{ if eq $counter 1 }}
<!-- First Post -->
<h3><a href="{{.Permalink}}">{{ .Title }}</a> {{ dateFormat "02/01/2006" .Date }}</h3>
{{ if lt $lastyear .Date.Unix }}
Nέο</h3>
{{ end }}
<p>
    {{ .Summary }}
</p>

<!-- First Post End -->
{{else}}
<h3><a href="{{.Permalink}}">{{ .Title }}</a>
    {{ dateFormat "02/01/2006" .Date }}
    {{ if lt $lastyear .Date.Unix }}
    Nέο</h3>
{{ end }}
<p>
    {{ .Summary }}
</p>
{{ end }}
{{ end }}
<!-- End Articles Section -->
<section>
<!-- Older Articles Summary -->
{{ if gt $articlenum $articlelimit }}
<h3>Παλαιότερα άρθρα</h3>
<ul>
    {{ range after 10 .Pages }}
    <li><a href="{{.Permalink}}">{{ .Title }}</a>
        {{ dateFormat "02/01/2006" .Date }}</li>
    {{ end }}
</ul>
{{ end }}
<!-- End Older Articles -->
</section>
</div>

<!-- Column 2 start -->
<div class="row">
{{ partial "column2.html" . }}
</div>
<!-- Column 2 end -->
</div>
</main>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
