{{ partial "head.html" . }}
  <!-- Header Start -->
{{ partial "header.html" . }}
  <!-- Header End -->

<div class="pagewrap">
<div align="center" style="margin:4px;">
{{ partial .Params.bannertemplate . }}
</div>

<div id="column1">
  {{ partial "breadcrump.html"}}

  <h1 class="title">{{ .Title }}</h1>
  <span class="article-date">{{ dateFormat "02/01/2006" .Date }}</span><hr>
  <ul class="list-inline">
    {{ if .Params.eventdate }}
    <li class="list-inline-item"><b>📅</b> {{ dateFormat "Monday" .Params.eventdate }}</li>
    {{ end }}
    {{ if .Params.eventdate }}
    <li class="list-inline-item"><b>⏰</b> {{ dateFormat "15:04" .Params.eventdate }}</li>
    {{ end }}
    {{ if .Params.eventlocation }}
    <li class="list-inline-item"><b>🏛</b> {{ .Params.eventlocation }}</li>
    {{ end }}
  </ul>
  <div id="content-area">



  {{.Content}}

</div></div>

    <!-- Column 2 start -->
{{ partial "column2.html" . }}
    <!-- Column 2 end -->
</div>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
