{{ partial "head.html" . }}
  <!-- Header Start -->
{{ partial "header.html" . }}
  <!-- Header End -->

<div class="pagewrap">
  {{ if .Params.bannertemplate }}
    {{ partial .Params.bannertemplate . }}
  {{else}}
    {{ partial "hellug-banner.html" . }}
  {{end}}

  <div id="column1">
    <div style="padding-left:10px;">
      <div class="section">
        {{ partial "breadcrump.html"}}

        <h1 class="title">{{ .Title }}</h1>
        <hr>
        <div id="content-area">

          {{.Content}}

        </div>
      </div>
    </div>
  </div>

    <!-- Column 2 start -->
{{ partial "column2.html" . }}
    <!-- Column 2 end -->
</div>
<!-- Footer Start -->
{{ partial "footer.html" . }}
<!-- Footer End -->
