{{- partial "head.html" . }}
<header>
{{- if .Params.bannertemplate }}
{{- partial .Params.bannertemplate . }}
{{- else}}
{{- partial "hellug-banner.html" . }}
{{- end }}
{{- partial "header.html" . }}
</header>
<!-- Main View -->
<main>
<!-- Welcome -->
{{- partial "welcome.html" . }}
<!-- Welcome end-->

<!-- Notice -->
{{- partial "notice.html" . }}
<!-- Notice end -->

<div class="row">
<!-- Articles Section -->
<div class="col">
{{- $counter := 0 }}
{{- $pages := .Site.RegularPages }}
{{- $recentpostlimit := (sub now.Unix 2592000 ) }}
{{- range first 5 $pages }}
{{- $counter = add $counter 1 }}
{{- if eq $counter 1 }}
<!-- First Post -->
<h3><a href="{{.Permalink}}">{{ .Title }}</a></h3>
<cite>{{- dateFormat "02/01/2006" .Date }}
{{- if lt $recentpostlimit .Date.Unix }}
<mark>Nέο</mark>
{{- end }}
</cite>
<article>{{- .Summary | plainify | safeHTML }}
</article>
<!-- First Post End -->
{{- else }}
<h4><a href="{{.Permalink}}">{{ .Title }}</a></h4>
<cite>{{- dateFormat "02/01/2006" .Date }}
{{ if lt $recentpostlimit .Date.Unix }}
    <mark>Nέο</mark>
{{- end }}
</cite>
<article>
{{- .Summary }}
</article>
{{- end}}
{{- end }}
</div>
<!-- End Articles Section -->
<!-- Column 2 start -->
<div class="col-2">
{{- partial "column2.html" . }}
</div>
<!-- Column 2 end -->
</div>
</main>
<!-- Footer Start -->
{{- partial "footer.html" . }}
<!-- Footer End -->
