<div class="col-md-3">
    <div class="well well-lg" align="center"> 
        <div class="list-group mb-2" >
            <span class="list-group-item active">HEL.L.U.G Meetups!</span>
            {{- $counter := 0 }}
            {{- range first 3 (index .Site.Taxonomies.draseis "meetups") }}
            {{- if .Params.meetupdate }}
            {{- $meetuptime := time .Params.meetupdate }}
            {{- $meetuptimeunix := add $meetuptime.Unix 86400 }}
            {{- if ge $meetuptimeunix now.Unix }}
            {{- $counter = add $counter 1 }}
            <a class="list-group-item" href="{{ .Permalink}}">
                <span class="label label-default">Nέο</span>
                {{ dateFormat "02/01/2006" $meetuptime }} - {{ .Params.meetuplocation }}
            </a>
            {{- end }}
            {{- end }}
            {{- end }}
            {{- if eq $counter 0 }}
            <a class="list-group-item">Δεν υπάρχουν</a>
            {{- end }}
        </div>
        <div class="list-group mb-4">
            <span class="list-group-item active"> Εκδηλώσεις </span>
            {{- $counter = 0 }}
            {{- $newlimit := (sub now.Unix 604800 ) }}
            {{- range first 5 (index .Site.Taxonomies.draseis "event") }}
            {{- if .Params.eventdate }}
            {{- $eventtime := time .Params.eventdate }}
            {{- if .Params.eventend }}
            {{- $eventtime = time .Params.eventend }}
            {{- end }}
            {{- if ge $eventtime.Unix (sub now.Unix 86400) }}
            {{- $counter = add $counter 1 }}
            <a class="list-group-item" href="{{ .Permalink }}">
		{{- .Params.eventdate | time.Format ":date_short" }}
		{{- if .Params.eventend }}-{{- .Params.eventend | time.Format ":date_short" }}
		{{- end}} # {{ .Title }}
            </a>
            {{- end }}
	    {{- end }}
            {{- end }}
            {{- if eq $counter 0 }}
            <a class="list-group-item">Δεν υπάρχουν</a>
            {{ end }}
        </div>
        <div class="list-group mb-2 d-none d-lg-block">
            <div class="list-group-item active">
                <h6>HEL.L.U.G. Sites</h6>
            </div>

        
                    {{- range .Site.Data.sidebar.links.hellug }}
                    <div class="list-group-item">
                    <a class="dropdown-item" href={{ .url }}>{{ .name }}</a>
                    </div>
                    {{- end }}

        </div>
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">Ακολουθήστε τον HEL.L.U.G.</h4>
            </div>
            <div class="card-body" align="left">
                <div class="btn-group flex-wrap">
		<ul class="list-inline">
                {{- range .Site.Data.social_media.links.sidebar }}
                <li class="list-inline-item"><a class="nav-link" href="{{ .url }}">{{ .svg | safeHTML }}</a></li>
            {{- end }}
            </ul>
            </div>
            </div>
        </div>
    </div>
</div>

