<footer class="bd-footer py-1 py-md-2 mt-2 bg-body-tertiary">
<div class="container sticky-bottom py-1 py-md-2 px-3 px-md-3 text-body-secondary d-none d-md-block">
    <div class="row">
        {{- $currentPage := . }}
        {{- range .Site.Menus.main }}
        {{- if .HasChildren }}
        <div class="col">
            <ul class="list-unstyled list-group-flush">
            {{- .Name }}
                    {{- range .Children }}
                    <li class="list-group-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{- end }}
            </ul>
        </div>
        {{ else }}
        <div>{{ .Name }}</div>
        {{ end }}
        {{ end }}
        <!--
        <div class="col">
            <ul class="list-unstyled list-group-flush">
            Σύνδεσμοι
              {{ range .Site.Data.main.links.hellug }}
              <li class="list-group-item"><a href="{{ .url }}">{{ .name }}</a></li>
              {{ end }}
        </div>
        -->
</div>
</div>
<p class="text-end lh-1 fw-lighter">
<small><a href="/credits">Συντελεστές Ιστοσελίδας</a></small>
</p>
<!-- Scripts -->
{{- partial "scripts.html" . }}
<!-- Scripts end -->
</footer>
</body>
</html>
