<!DOCTYPE html>
<html lang="el" data-bs-theme="auto">
<head>
    <title>{{ .Title }} | HELLUG </title>
        <meta charset="utf-8" >
        <meta name="robots" content="index, follow" >
        <meta name="description" content="Hellug Official Website" >
        <meta name="keywords" content="Hellug" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap  -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
<!--    <link href="/static/css/hellug.css" rel="stylesheet" /> -->
        <link href="https://mastodon.social/@hellug" rel="me">
        {{- range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{- end }}
    <base href="">
</head>
<body>
<script src="/js/bootstrap.bundle.min.js"></script>
