{{- with .GetPage "pages/welcome" }}
<div class="card border border-0">
  <div class="card-body">
    <h3 class="card-title">{{- .Title }}</h3>

    <!-- show only on small screens -->
    <div class="d-md-none"><span class="card-text">{{- .Summary }}</span></div>

    <!-- hide on small screens -->
    <div class="d-none d-md-block"><span class="card-text">{{- .Content}}</span></div>

  </div>
</div>
<hr>
{{- end }}
