---
title: "World Backup Day !"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2023-03-31
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "**World Backup Day:** Η 31η Μαρτίου 2023 είναι η ημέρα εορτασμού, αλλά και υπενθύμησης για τη δημιουργία αντιγράφων ασφαλείας και την καλύτερη προστασία των δεδομένων μας."
---

<table style="width:100%">
  <tr>
    <td style="width:20%"><center>
      <img src="/media/WorldBackupDay/WorldBackupDay2023.png" alt="" style="width:263px;height:310px;">
    </td>
    <td><b>World Backup Day</b>: Η 31η Μαρτίου 2023 είναι η ημέρα εορτασμού, αλλά και υπενθύμησης για τη δημιουργία Αντιγράφων Ασφαλείας (backups) και την καλύτερη προστασία των δεδομένων μας.<br><br>
Η απώλεια των αρχείων μας είναι πολύ πιο συνηθισμένη από ό,τι νομίζουμε !<br><br>
Ας κάνουμε τα Backups να είναι η πιο καθημερινή μας συνήθεια το 2023!<br><br><br>
Περισσότερες Συμβουλές, στο <a href="https://www.worldbackupday.com/en" target="_blank" title="World Backup Day">World Backup Day !</a><br><br>
    </tr>
</table>


   
