---
title: "Εκκίνηση λειτουργίας της Ειδικότητας ΔΙΕΚ *Τεχ. Συστημάτων Ανοικτού Λογισμικού*."
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2023-06-03
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "Η Πειραματική Ειδικότητα ΔΙΕΚ «Τεχν. Συστημάτων Ανοικτού Λογισμικού», ξεκινά τον Σεπτέμβριο 2023, στο Θεματικό ΔΙΕΚ Αιγάλεω και θα εμφανιστεί στο *Παράλληλο Μηχανογραφικό* από τον Ιούλιο 2023, έτσι ώστε οι (Υποψήφιοι/-ες) Σπουδαστές/-τριες, θα έχουν την ευκαιρία να την επιλέξουν ...."
---

<h4></h4>
<br>
<p>Η Πειραματική Ειδικότητα ΔΙΕΚ «Τεχν. Συστημάτων Ανοικτού Λογισμικού», ξεκινά τον Σεπτέμβριο 2023, στο Θεματικό ΔΙΕΚ Αιγάλεω και θα εμφανιστεί στο *Παράλληλο Μηχανογραφικό* από τον Ιούλιο 2023, έτσι ώστε οι (Υποψήφιοι/-ες) Σπουδαστές/-τριες, θα έχουν την ευκαιρία να την επιλέξουν.</p>

<p>Σύμφωνα με τον <a href="https://lists.ellak.gr/edu/2023/06/msg00001.html" target="_blank" title="EELLAK-Edu List">Δ/τή του Θεματικού ΔΙΕΚ Αιγάλεω</a>, κο Δ.Κυριακό, η Ειδικότητα :<br>

<ol type="1">
    <li><b>Θα εφαρμοστεί πειραματικά</b> στο Θεματικό ΔΙΕΚ Αιγάλεω, στην Αττική και στο Πειραματικό ΔΙΕΚ Πάτρας, στην Αχαΐα.</li><br>
    <li>Θα απονέμει <b>Δίπλωμα Επιπέδου 5 (EQF5)</b>, Μεταδευτεροβάθμιου Επίπεδου Σπουδών.</li><br>
    <li>Μπορεί να δεχτεί την <b>Υποβολή Αιτήσεων από όποιο/-α επιθυμεί (Απόφοιτο/-η Παρελθόντων Ετών Δευτεροβάθμιας Εκπαίδευσης),</b> για τις εναπομείνασες θέσεις Σπουδαστών, αφού πρώτα καλυφθούν θέσεις Σπουδαστών, μέσω του "Παράλληλου Μηχανογραφικού".</li><br>
    <li>Θα έχει <b>ανάγκη ΕΚΠΑΙΔΕΥΤΩΝ</b> για την κατάρτιση των Σπουδαστών, οι οποίοι θα πρέπει, αφού κάνουν αίτηση ως "Εκπαιδευτές" στο <a href="https://mitrooiek.minedu.gov.gr/#/JobApplication/WelcomeCandidate" target="_blank" title="Μητρώο Εκπαιδευτών ΔΙΕΚ"><b>Μητρώο Εκπαιδευτών ΔΙΕΚ</b></a>, θα μπορούν αργότερα, να διδάξουν τα μαθήματα τα οποία υπάρχουν στον <a href="https://iekaigal.att.sch.gr/?p=2198" target="_blank" title="Οδηγός Σπουδών"><b>Οδηγό Σπουδών της Ειδικότητας.</b></a></li>
</ol>
<br>

Ο Σύλλογος είχε <a href="https://www.hellug.gr/p/220912-proodos-eidikotitas-foss-diek-final/" target="_blank" title=""><b>ήδη ανακοινώσει στις 12/09/2022</b></a>, την πρόοδο υλοποίησης και διεξαγωγής της νέας Ειδικότητας στο χώρο της Αρχικής Επαγγελματικής Εκπαίδευσης και Κατάρτισης (για την έγκριση της οποίας είχε συνεισφέρει). Παρά την αρχική εκτίμηση, ότι η Ειδικότητα θα ξεκινούσε τον Φεβρουάριο 2023, η ολοκλήρωση των διατυπώσεων στο διάστημα αυτό, κατέστησε εφικτό να λειτουργήσει από τον Σεπτέμβριο 2023 !
</td>
    <td>
     <center><img src="/media/DIEK-FOSS/odigos-neas-eidikothtas.png" alt="1η Σελίδα Οδηγού Σπουδών" style="width:420px;height:350px;"></center>
    </td>
  </tr>

<tr>
  <td colspan="2"></td>
</tr>

<tr>
  <th colspan="2"><center><b>Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.)<br>προτίθεται να παρακολουθεί στενά την εξέλιξη της Ειδικότητας<br> και <i><u>προτείνει σε Υποψήφιους Σπουδαστές, να την επιλέξουν...,</u></i><br><br><p> ... καθώς και <b>σε Μέλη ή/και Φίλους του Συλλόγου,</b> που έχουν γνώση των θεμάτων του Οδηγού Σπουδών,<br> <i><u>να εμπλακούν ως ΕΚΠΑΙΔΕΥΤΕΣ, στην διεξαγωγή της κατάρτισης !</u></i>
  </b></center>
  </th>
  <br>

  </tr>
 </table>
 










