---
title: "Παράδοση 20 Robot FossBot από τον HEL.L.U.G. & το 3o E.K. Πειραιά, στον Οργανισμό Ανοιχτών Τεχνολογιών (ΕΕΛΛΑΚ)."
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2024-04-07
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "Την Παρασκευή 29/03/2024 στις 12:00, έγινε στα Γραφεία του Οργανισμού Ανοιχτών Τεχνολογιών (ΕΕΛΛΑΚ), η συνάντηση παράδοσης 20 τεμαχίων Robot FossBot, από τον HEL.L.U.G. & τo 3o E.K. Πειραιά !"
---


	    <p>Την Παρασκευή 29/03/2024 στις 12:00, έγινε στα Γραφεία του Οργανισμού Ανοιχτών Τεχνολογιών (ΕΕΛΛΑΚ), η συνάντηση παράδοσης 20 τεμαχίων Robot FossBot, από τον HEL.L.U.G. & τo 3o E.K. Πειραιά !</p>
<center><img src="/media/Hellug-FOSSBOT-Delivery/IMG_0447zwfinal.jpg" alt="20 FossBot Ready!" style="width:500px;height:205px;"></center>

<p>Τα 20 τεμάχια FossBot, παρέλαβε τον Μάρτη 2023, ο Σύλλογος HEL.L.U.G. για συναρμολόγηση, ανταποκρινόμενος στο <a href="https://openhardware.ellak.gr/2022/04/18/kalesma-gia-simmetochi-stin-paragogi-tou-fossbot/" target="_blank" title=""><b>Κάλεσμα για συμμετοχή στην παραγωγή του FOSSBOT</b></a>,του Οργανισμού Ανοιχτών Τεχνολογιών (ΕΕΛΛΑΚ).</p>

<p> Για το σκοπό της εθελοντικής αυτής Δράσης και σε συνεργασία με το 3ο Εργαστηριακό Κέντρο Πειραιά, οργανώθηκε:
<ol type="1">
    <li>Η σχεδιαστική κυκλωματική αποτύπωση των συνδεσμολογιών της κατασκευής, λόγω των ελαχίστων οδηγιών που ήταν διαθέσιμες.</li><br>
    <li>Μια σχετική <a href="https://www.hellug.gr/p/meetup-230629-hellug-summersch2023-fossbot/" target="_blank" title=""><b>Θεματική Ενότητα Θερινού Σχολείου στο 3ο Ε.Κ. Πειραιά </b></a>, στο οποίο συμμετείχαν 6-7 συμμετέχοντες. Παράλληλα, το Μέλος του Συλλόγου μας <b>Αλέκος Θεοτοκάτος</b>, βοήθησε με τις γνώσεις και ικανότητές του, στην διαδικασία των ηλεκτρονικών κολλήσεων των πλακετών του FossBot.</li><br>
</ol>

<p>Το επόμενο διάστημα, συναρμολόγηθηκαν και ελέγχθηκαν όλα τα τεμάχια FossBot, για την καλή και σωστή λειτουργία κάθε επιμέρους μονάδας τους, με βάση το Λογισμικό Ελέγχου της αντίστοιχης Ομάδας του Χαροκόπειου Πανεπιστήμιου. H όλη εργασία ολοκληρώθηκε και παρουσιάστηκε στις 14/3/2024, <a href="https://www.ictplus.gr/20i-geniki-synelefsi-tou-organismou-anoichton-technologion-eellak/" target="_blank" title=""><b>στην Τακτική Γενική Συνέλευση του Οργανισμού Ανοιχτών Τεχνολογιών</b></a></p>
<p> Έτσι πλέον, όπως αναφέρεται στο Κάλεσμα της ΕΕΛΛΑΚ, <b>τα τεμάχια αυτά, είναι έτοιμα </b> να <i>"...διατεθούν σε Σχολεία όλης της χώρας από όλες τις βαθμίδες, ενώ Εκπαιδευτικοί όλων των Ειδικοτήτων θα προσκληθούν να συμμετέχουν σε σεμινάρια αξιοποίησης του Fossbot για την εκπαιδευτική διαδικασία όλων των μαθημάτων...".</i></p>


<table style="width:100%">
  <tr>
    <th style="width:50%"><center><img src="/media/Hellug-FOSSBOT-Delivery/hellug-fossbot01.JPG" alt="" style="width:400px;height:300px;"></center></th>
    <th><center><img src="/media/Hellug-FOSSBOT-Delivery/hellug-fossbot02.JPG" alt="" style="width:400px;height:300px;"></center></th> 
</tr>
<tr>
   <th colspan="2">Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.), ελπίζει ότι η παρούσα συνεισφορά της, θα αποδώσει Εκπαιδευτικούς καρπούς στην Εκπαίδευση ΣΤΕΜ, στα χέρια των Εκπαιδευτικών του Νηπιαγωγείου και των Πρώτων Τάξεων Δημοτικών Σχολείων (Δ.Σ.), των τελευταίων Τάξεων των Δ.Σ. και των Τάξεων Γυμνάσιου, του Λυκείου και της Τεχνικής Εκπαίδευσης !! </th>
</tr>
</table>


<hr>
<center><img src="/media/Hellug-FOSSBOT-Delivery/hellug-fossbot00.JPG" alt="Όλοι οι Εκπρόσωποι των Φορέων" style="width:400px;height:300px;"></center>
<p> Κατά την παράδοση  των 20 FossBot, παρεβρέθηκαν οι πιο κάτω Εκπρόσωποι των Φορέων:</p>
<p>κ. Στέλλας Ιάκ. (HEL.L.U.G.)</p>
<p>κ. Μακρυγιάννης Παν. (Δ/τής 3oυ E.K. Πειραιά)</p>
<p>κ. Καρούνος Θ. (Αντιπ/ρος ΕΕΛΛΑΚ)</p>
<p>κ. Μελίδης Αλ. (ΕΕΛΛΑΚ)</p>
<p>κα. Μπελίτση Μαριαλ. (ΕΕΛΛΑΚ)</p>
<p>κ. Στεφανέας Πετρ. (ΕΕΛΛΑΚ)</p>
<p>κ. Χρόνης Χρ. (Ομάδα Χαροκόπειου Παν/μιου)</p>
<hr>
