---
title: "Η Ειδικότητα «Τεχνικός Συστημάτων Ανοικτού Λογισμικού» στο Παράλληλο Μηχανογραφικό 2024"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2024-06-06
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "Ανακοινώθηκαν οι Ειδικότητες των Σ.Α.Ε.Κ. για το Παράλληλο Μηχανογραφικό Δελτίο 2024."
---
 
      <center>
      <img src="/media/Parallilo_Mixanografiko2024/FEK-pageALL-02.png" alt="" style="width:500px;height:500px;">
      </center>
    Ανακοινώθηκαν οι Ειδικότητες των Σ.Α.Ε.Κ. για το Παράλληλο Μηχανογραφικό Δελτίο 2024. Οι απόφοιτοι Λυκείου, που δίνουν τώρα Πανελλαδικές Εξετάσεις, μέσω του Παράλληλου Μηχανογραφικού, θα μπορέσουν να διεκδικήσουν μια θέση στις Δημόσιες Σ.Α.Ε.Κ. (πρώην Δημόσια ΙΕΚ). Δημοσιεύτηκαν σε ΦΕΚ, οι Ειδικότητες και ο αριθμός των εισακτέων ανά Σ.Α.Ε.Κ. <br><br>
Η Ειδικότητα <b>"Τεχν. Συστ/μάτων Ανοικτού Λογισμικού"</b> στην οποία εστιάζουμε ως Σύλλογος, θα λειτουργήσει Πειραματικά, σε δύο Θεματικά Σ.Α.Ε.Κ., στο Αιγάλεω-Αττικής και στην Πάτρα. Κάθε μιά, προβλέπεται να έχει 20 καταρτιζόμενους.<br><br>

Η υποβολή μηχανογραφικών δελτίων στο 2024 θα ξεκινήσει μετά από σχετική ανακοίνωση, ατο σύνδεσμο του ΥπΠΘΑ,  <a href="https://michanografiko-diek.it.minedu.gov.gr/" target="_blank" title="T.Sys.Open Software">Παράλληλο Μηχανογραφικό για εισαγωγή σε Δημόσια Σ.Α.Ε.Κ.</a><br><br>


Θέλουμε να πιστεύουμε ότι η συγκεκριμένη Ειδικότητα, θα επιλεγεί από ικανό αριθμό σπουδαστών, ώστε μετά από την φοίτηση τους, να έχουν αρκέτες από τις ικανότητες που αναζητά η Αγορά Εργασίας στο πεδίο αυτό..!<br><br><br>

<b><center>Προτρέπουμε όλα τα Μέλη και τους Φίλους του Συλλόγου, να συστήσουν την Ειδικότητα αυτή σε άτομα που (μπορεί να) ενδιαφέρονται.!</center></b>
   
