---
title: "Συμπληρωματικές Αιτήσεις σε Σ.Α.Ε.Κ. (πρώην ΙΕΚ) για την Ειδικότητα «Τεχνικός Συστημάτων Ανοικτού Λογισμικού»"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2024-08-31
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "Η Υποβολή των Συμπληρωματικών Αιτήσεων για κάλυψη τυχόν κενών θέσεων, μπορεί να γίνει μέχρι 10 ΣΕΠΤΕΜΒΡΙΟΥ 2024 !"
---
    
 Η Ειδικότητα <b>"Τεχν. Συστ/μάτων Ανοικτού Λογισμικού"</b>, στην ίδρυση της οποίας πρωτοστάτησε ο Σύλλογος, θα λειτουργήσει Πειραματικά (*), σε δύο Θεματικά Σ.Α.Ε.Κ., στο Αιγάλεω-Αττικής και στην Πάτρα. Κάθε μιά, προβλέπεται να έχει 20 καταρτιζόμενους και τα πρώτα μαθήματα, βρίσκονται στην <a href="https://nationaldigitalacademy.gov.gr/" target="_blank" title="«Εθνική Ακαδημία Ψηφιακών Ικανοτήτων»"><b>"Εθνική Ακαδημία Ψηφιακών Ικανοτήτων" του ΥπΨΔ</b></a>, με Πάροχο Περιεχομένου τον <a href="https://oer.ellak.gr/2024/07/31/nationaldigitalacademy-eellak/" target="_blank" title="Λίστα Μαθημάτων της Ειδικότητας “Τεχνικός Συστημάτων Ανοιχτού Λογισμικού” σε ΣΑΕΚ (Πάροχος: ΕΕΛΛΑΚ)"><b>Οργανισμό Ανοιχτών Τεχνολογιών-ΕΕΛΛΑΚ</b></a>. 
<br><br>

Γενικά, η υποβολή των Επιτυχόντων στις Σ.Α.Ε.Κ. μέσω του Παράλληλου Μηχανογραφικού 2024 για εισαγωγή σε Δημόσια Σ.Α.Ε.Κ., θα διαρκέσει μέχρι τις 10 ΣΕΠΤΕΜΒΡΙΟΥ 2024.</a><br><br>

Εν τούτοις, μέχρι τότε,  μπορούν να γίνουν <b>... ΚΑΙ Αιτήσεις από Ενδιαφερόμενους/-ες</b> για την κάλυψη τυχόν κενών θέσεων που θα ανακύψουν, με βάση την <b>ΠΕΡΙΠΤΩΣΗ Β</b> της σχετικής Φόρμας του ΥΠΑΙΘΑ, <a href="https://www.gov.gr/org/minedu/eggraphe-se-skholeio/eisagoge-se-demosia-saek-tou-upaitha" target="_blank" title="Sympl Aithseis gia SAEK"><b>Εισαγωγή σε Δημόσια Σ.Α.Ε.Κ. του ΥΠΑΙΘΑ</b></a><br><br>

<b><center>Προτρέπουμε όλα τα Μέλη και τους Φίλους του Συλλόγου, να συστήσουν σε άτομα που (μπορεί να) ενδιαφέρονται, να συμμετέχουν στην πιο πάνω (απλή) διαδικασία, για αυτή την συγκεκριμένη Ειδικότητα !!!, ώστε μετά από την φοίτηση τους, να έχουν αρκέτες από τις ικανότητες που (διαπιστωμένα) αναζητά η Αγορά Εργασίας στο πεδίο αυτό..!</center></b><br><br><br>
   


(*): Σύμφωνα με την παρ. 4 το Άρθ.41 π.4 του Ν.4763/2020, μετά την ολοκλήρωση δύο κύκλων κατάρτισης και την αξιολόγηση της εφαρμογής τους από τα αρμόδια Συμβούλια Σύνδεσης με την Παραγωγή και την Αγορά Εργασίας (Σ.Σ.Π.Α.Ε.) και μετά την τελική εισήγηση του Κ.Σ.Ε.Ε.Κ., ο Οδηγός Σπουδών θα πιστοποιηθεί από τον Ε.Ο.Π.Π.Ε.Π. 
