---
title: "6ο ΔΣ HELLUG 2011"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-10-05
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>Την Τετάρτη 05/10/2011 στις 18:30 θα πραγματοποιηθεί το 6ο ΔΣ για το 2011. Ο χώρος διεξαγωγής είναι το&nbsp;<a href="http://hackerspace.gr/" style="color: rgb(0, 0, 0); " target="_blank">hackerspace.gr</a>, Αμπατιέλου 11, στην Αθήνα.</p><p>Το ΔΣ όπως πάντα είναι ανοιχτό σε όλους και όποιος θέλει μπορεί να παρευρεθεί για να συζητήσουμε θέματα του συλλόγου.</p>
