---
title: "7o ΔΣ Hellug 2011 - Κυριακή 11/12"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-12-11
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>&nbsp;</p><div>Την Κυριακή 11/12/2011 στις 17:00 θα πραγματοποιηθεί το 7ο ΔΣ για το 2011.</div><div>&nbsp;</div><div>Σημείο συνάντησης είναι ο σταθμός του "ηλεκτρικού" στο Θησείο στις 17:00 και θα καθήσουμε σε κάποια καφετέρια εκεί κοντά.</div><div>&nbsp;</div><div>Το ΔΣ όπως πάντα είναι ανοιχτό σε όλους και όποιος θέλει μπορεί να παρευρεθεί για να συζητήσουμε θέματα του συλλόγου.</div>
