---
title: "Αναζήτηση υλικού σχετικού με τον σύλλογο"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2012-03-11
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>Ανανεώνουμε τον ιστότοπο του συλλόγου, και αναζητάμε φωτογραφίες, βίντεο ή και έντυπο υλικό από εκδηλώσεις και&nbsp;συναντήσεις του συλλόγου.</p><p>Όποια μέλη ή&nbsp;φίλοι του συλλόγου έχουν υλικό που επιθυμούν να μοιραστούν, μπορούν να αποστείλουν το υλικό με mail στο board@hellug.gr ώστε να αναρτηθεί.</p>
