---
title: "Ανοικτή συζήτηση περί ACTA"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2012-01-11
category_title: Δράσεις
tags: [Εκδηλώσεις, Προώθηση]
draseis: [event, advocacy]
---
        
<p>Καλούμε όποιον/α ενδιαφέρει το θέμα, να συμμετάσχει στην ανοικτή συζήτηση που θα πραγματοποιηθεί την Τετάρτη 1η Φεβρουαρίου 2012 και ώρα 19:00 στο χώρο του <a href="http://hackerspace.gr/">hackerspace.gr</a></p><p>Θα προσπαθήσουμε να υπάρχει κάποια κάλυψη μέσω internet της συζήτησης, ..έστω και μέσω irc (freenode channel #acta-el).</p>
