---
title: "Αποτελέσματα ΕΓΣ"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-03-20
category_title: Σύλλογος
tags: [Διοικητικό Συμβούλιο]
peri-hellug: [dioikitiko-symvoulio]
---
        

<h2>Προσέλευση, προεδρείο ΓΣ</h2>
<p>Η προσέλευση ήταν οριακή. Ήρθαν 9 μέλη
του συλλόγου, και εκπροσωπήθηκαν με
εξουσιοδότηση οι Ε. Στ.,
Α. Θ. και Σ. Μ. .</p>
<p>Τα μέλη:</p>
<ul>
	<li><p>Βασίλης Τσιλιγιάννης, και</p>
	</li><li><p>Δημήτρης Αγγελάκος</p>
</li></ul>
<p>ορίστηκαν ως προεδρείο ΓΣ και εφορευτική
επιτροπή για τη διαδικασία.</p>
<h2>Διαδικασία, απολογισμός</h2>
<p>Ο γραμματέας, Ιάκωβος Στέλλας, επανέλαβε
με συντομία την παρουσίαση που είχε
κάνει και στην πρώτη ΓΣ. Ανέφερε,
συνοπτικά, τις δράσεις που έκανε ο Hellug
το 2013-2014. Οι παρευρισκόμενοι ενημερώθηκαν
και συζήτησαν γι' αυτές</p>
<h2>Υποψηφιότητες, Εκλογές ΔΣ</h2>
<p>Για το ΔΣ, υποψήφιοι ήταν οι:</p>
<ol>
	<li><p>Richard Kweskin</p>
	</li><li><p>Ιάκωβος Στέλλας</p>
	</li><li><p>Φάνης Δοκιανάκης</p>
	</li><li><p>Γιώργος Πατέλης</p>
	</li><li><p>Πάνος Χρηστέας</p>
</li></ol>
<p>Η γενική συνέλευση ενέκρινε τις
υποψηφιότητες, και ενέκρινε ομόφωνα
την εκλογή τους ως ΔΣ του 2014. 
</p>
<p>Για ελεγκτική επιτροπή, όλοι οι
παρευρισκόμενοι, ενέκριναν τους:</p>
<ol>
	<li><p>Κωνσταντίνο Μαϊστρέλη</p>
	</li><li><p>Παναγιώτη Πάνο</p>
</li></ol>
<p><br><br>
</p>
<h2>Συζήτηση</h2>
<p>Μετά από τον ορισμό του νέου ΔΣ,
ακολούθησε μία εκτενής συζήτηση για
την κατάσταση του συλλόγου, και για το
ζήτημα της προσέλευσης στις ΓΣ και τις
εκδηλώσεις του.</p>
<p>Ο Πάνος Χρηστέας επέμεινε να ληφθεί
απόφαση της ΓΣ ώστε να επιτρέψει στο ΔΣ
του 2014 να ετοιμάσει διαδικασία ηλεκτρονικής
ψηφοφορίας και Γενικής Συνέλευσης για
το 2015. Η πρόταση του προέδρου ήταν να
γίνει συζήτηση μέσα στη χρονιά, με όλα
τα μέλη, ώστε να καταλήξουν στις τεχνικές
λεπτομέρειες και τη διαδικασία on-line
συζήτησης και ψηφοφορίας.</p>
<p>Ο Ιάκωβος Στέλλας ήταν αρνητικός, με
το σκεπτικό ότι μία απομακρυσμένη
διαδικασία θα αφαιρούσε κάθε λόγο να
προσέλθει κανείς στη ΓΣ.</p>
<p>Τελικά, στην παρούσα Συνέλευση, <b>δεν</b>
εγκρίθηκε η προτεινόμενη διαδικασία
του Πάνου Χρηστέα, αλλά αποφασίστηκε
να παραμείνει ως έχει, με φυσική παρουσία
και παραδοσιακή ψηφοφορία, και για την
επόμενη ΓΣ του 2015. Αναφέρθηκε ότι το
καταστατικό θα επέτρεπε να γίνει πάλι,
του χρόνου, επαναληπτική συνέλευση με
ανοιχτή διαδικασία, χωρίς δηλαδή φυσική
παρουσία κατά το καταστατικό.</p>
<p>Οι παρευρισκόμενοι,
όμως, δέχτηκαν την ιδέα να γίνει κάποια
έκτακτη Συνέλευση, με δευτερεύοντα
ζητήματα (όχι, δηλαδή, την εκλογή ΔΣ), η
οποία, δοκιμαστικά, να χρησιμοποιήσει
και ηλεκτρονικά μέσα.</p>
<p><br>
</p>
<p>Η Γ.Σ. αποδέχεται τα
παραπάνω αποτελέσματα και χαιρετίζει
το νέο ΔΣ.﻿</p>

