---
title: "Εκδήλωση Coding for Europe"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-11-25
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
                                                        <img src="../../../..//media/code-for-europe.png"  width="1000" ></img>
                
<div><span>Την τελευταία εβδομάδα του Νοεμβρίου (25-30 Νοε.)&nbsp;θα διεξαχθεί πανευρωπαϊκά το "coding for Europe", δηλαδή παράλληλες εκδηλώσεις για developers.<br><br>Στο Σύλλογο, αποφασίσαμε να συμμετάσχουμε με μία παρουσίαση στο χώρο μας, στο Μαρούσι, το Σάββατο 30 Νοε.<br><br>Περισσότερα στις&nbsp;<a rel="nofollow" target="_blank" href="http://new.hellug.gr/events/24" title="Link: http://new.hellug.gr/events/24">εκδηλώσεις</a>&nbsp;<br><br>Αν κάποιος θέλει να παρουσιάσει κάτι επιπλέον, ή να προβάλλουμε κάποια παράλληλη εκδήλωση, μπορεί να επικοινωνήσει μαζί μας στο&nbsp;board@hellug.gr</span></div>
