---
title: "Coding for Europe (english)"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-05-03
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<div>In Greece, we also celebrate the European Code week, with a humble presentation of a beginners programming language: Python<br><br>We are going to demonstrate how anybody can start coding and easily write useful little programs with a language suitable for that purpose.<br><br>Title: Python, from 0 to coder in 10 steps<br><br>The event will be held in Maroussi, Athens.<br><br>For any inqueries, please contact us at board-at-hellug.gr</div>
