---
title: "Δελτίο Τύπου: Παραβίαση κοινοτικού δικαίου υποπτεύεται η Ευρωπαϊκή Επιτροπή στη συμφωνία κυβέρνησης-Microsoft"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2008-11-24
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
<p>ΚΟΙΝΟ ΔΕΛΤΙΟ ΤΥΠΟΥ ΤΩΝ:
</p>
<div class="vspace"></div><ul><li>Ένωση Χρηστών Και Φίλων Linux Ελλάδος (HELLUG)
</li><li>Foundation for a Free Information Infrastructure (FFII)
</li><li>Κρυσταλλίδης &amp; Συνεργάτες (Εταιρία Δικηγόρων)
</li></ul><p class="vspace">Αθήνα, 24 Νοεμβρίου 2008.
</p>
<p class="vspace">Κατόπιν καταγγελίας που υπέβαλαν στη Γενική Διεύθυνση Εσωτερικής Αγοράς της Ευρωπαϊκής Επιτροπής οι μη κυβερνητικές οργανώσεις FFII και Hellug, η Διεύθυνση διαπίστωσε την ύπαρξη «σοβαρών ενδείξεων παραβιάσεως του κοινοτικού δικαίου περί δημοσίων συμβάσεων». Η Διεύθυνση απέστειλε στις 20 Οκτωβρίου 2008 επιστολή στην Ελλάδα ζητώντας εξηγήσεις.
</p>
<p class="vspace">Σύμφωνα με τη Διεύθυνση, η συμφωνία κυβέρνησης-Microsoft, που υπεγράφη στη 1 Φεβρουαρίου 2006 και κυρώθηκε από τη Βουλή στις 29 Ιανουαρίου 2008, φαίνεται να αποτελεί απευθείας ανάθεση προμήθειας στη Microsoft, χωρίς να πληρούνται οι σχετικές προϋποθέσεις που προβλέπονται από την Ευρωπαϊκή Οδηγία 2004/18 περί δημοσίων συμβάσεων.
</p>
<p class="vspace">Ο Βασίλης Σωτηρόπουλος, δικηγόρος, ανεξάρτητος συνεργάτης της δικηγορικής εταιρίας «Κρυσταλλίδης &amp; Συνεργάτες», σχολιάζει: «Οι εμπορικές συμφωνίες του κράτους με ιδιωτικές επιχειρήσεις πρέπει να προϋποβάλλονται σε εξαντλητικό έλεγχο συμβατότητας με το κοινοτικό δίκαιο. Η αντίδραση της Ευρωπαϊκής Επιτροπής στην καταγγελία που υπέβαλαν οι δύο οργανώσεις ήταν άμεση. Επίσης, η επιστολή του Συνηγόρου του Πολίτη για παράδοση των σχετικών εγγράφων από το υπουργείο Οικονομίας, παραμένει ακόμη αναπάντητη. Ως πότε θα περιμένουμε από την Ευρώπη να μας λένε ποιες υποχρεώσεις έχουμε;».
</p>
<p class="vspace">Ο Παναγιώτης Κρανιδιώτης, αντιπρόεδρος του Hellug, σχολιάζει: «Τον περασμένο Ιανουάριο, κατά τη διάρκεια ψήφισης της συμφωνίας, η θέση που μπορούσαμε να έχουμε σχετικά με αυτήν ήταν η defacto εξάρτηση του ελληνικού κράτους από έναν και μόνο προμηθευτή. Παρόλα αυτά με αίσθημα ευθύνης παραπέμψαμε το έλεγχο αυτής της νομιμότητας στους καθ’ ύλην αρμόδιους: τις υπηρεσίες της Ευρωπαϊκής Ένωσης. Είναι κρίμα σαν Έλληνας πολίτης να αντιλαμβάνεσαι ότι σε αυτό το αίσθημα ευθύνης ενός μικρού συλλόγου αντιπαραβάλλεται η προχειρότητα και ανευθυνότητα ενός μηχανισμού που διατείνονταν με βεβαιότητα για τον έλεγχο νομιμότητας του Μνημονίου Συνεργασίας αλλά και την ενημέρωση των αρμόδιων ευρωπαϊκών υπηρεσιών σχετικά με αυτό.»
</p>
<p class="vspace">Ο Αντώνης Χριστοφίδης, έλληνας εκπρόσωπος του FFII, σχολιάζει: «Από τη μια έχουμε την κυβέρνηση, που κράτησε μυστική τη συμφωνία επί δύο χρόνια, αγνοώντας ερωτήσεις από τη Βουλή και από οργανισμούς, και που διαβεβαίωσε πολλάκις τη Βουλή ότι η Ευρωπαϊκή Ένωση συμφωνεί με τη συμφωνία. Από την άλλη, έχουμε τη Microsoft, που δήλωσε στη Βουλή ότι η συμφωνία είναι μη δεσμευτική. Τα συμπεράσματα της Ευρωπαϊκής Επιτροπής είναι μια ανακούφιση. Ωστόσο, με θλίβει το ότι χρειαζόμαστε εξωτερική βοήθεια για να δούμε το προφανές.»
</p>
<p class="vspace">