---
title: "Προβλήματα στο νομοσχέδιο για τη Microsoft"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2008-01-14
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
<p>ΔΕΛΤΙΟ ΤΥΠΟΥ ΤΩΝ:
</p><ul><li>FOUNDATION FOR A FREE INFORMATION INFRASTRUCTURE (FFII)
</li><li>ΕΝΩΣΗ ΕΛΛΗΝΩΝ ΧΡΗΣΤΩΝ ΚΑΙ ΦΙΛΩΝ ΛΙΝΟΥΞ (HELLUG)
</li><li>DIGITALRIGHTS.GR
</li></ul><p class="vspace">=============================<br>Προβλήματα στο νομοσχέδιο για τη Microsoft<br>=============================<br><br>Αθήνα, 14 Ιανουαρίου 2008. Σοβαρά προβλήματα έχουν εντοπιστεί στη
συμφωνία κυβέρνησης-Microsoft, η οποία κατατέθηκε την Πέμπτη στη Βουλή
ως νομοσχέδιο. Άνθρωποι από τον ακαδημαϊκό χώρο και ιδιώτες συνεχίζουν
να εξετάζουν τη συμφωνία, ανακαλύπτοντας νέες αδυναμίες.
</p>
<p class="vspace">Το νομοσχέδιο ουσιαστικά αποτελείται από μία πρόταση μόνο: η συμφωνία
που υπογράφηκε ανάμεσα στον Υπουργό Οικονομικών κ. Αλογοσκούφη και
στον πρόεδρο της Microsoft Bill Gates το Φεβρουάριο 2006 αποκτά ισχύ
νόμου.
</p>
<p class="vspace">Νομιμότητα<br>========<br><br>Το πρώτο πρόβλημα είναι η ίδια η ύπαρξη του νομοσχεδίου. «Αν η
συμφωνία ήταν νόμιμη, τότε δεν θα χρειαζόταν νομοσχέδιο που να τη
"νομιμοποιεί"», εξηγεί ο Αντώνης Χριστοφίδης, εκπρόσωπος του FFII. «Αν
ένας νόμος λέει ότι επιτρέπεται η δόμηση ενός συγκεκριμένου κτιρίου, η
μόνη εξήγηση είναι ότι το κτίριο είναι, κατά τα άλλα, αυθαίρετο.»
</p>
<p class="vspace">Διαφάνεια<br>=======<br><br>Δεύτερο πρόβλημα είναι ότι η πολλά σχετικά έγγραφα απουσιάζουν. Η
συμφωνία με τη Microsoft, που αναπαράγεται στο κείμενο του
νομοσχεδίου, παραπέμπει σε δέκα άλλες συμβάσεις που δεν
περιλαμβάνονται στο νομοσχέδιο και δεν έχουν γίνει γνωστές.  Για
παράδειγμα, ενώ αναφέρεται ότι θα γίνει προμήθεια αδειών για
τουλάχιστον 70 χιλιάδες υπολογιστές, δεν αναγράφεται ούτε το ακριβές
πλήθος, ούτε για ποιο λογισμικό θα είναι, ούτε η τιμή αγοράς, παρά
γίνεται παραπομπή σε ξεχωριστή σύμβαση. Έτσι, οι βουλευτές καλούνται
ουσιαστικά να υπογράψουν λευκή επιταγή στη Microsoft.
</p>
<p class="vspace">Ο κ. Αλογοσκούφης είχε δηλώσει στη Βουλή στις 22 Ιουνίου 2007 ότι είχε
προηγηθεί η αποστολή της συμφωνίας στην Ευρωπαϊκή Ένωση για έγκριση,
ώστε να «...είμαστε βέβαιοι ότι είναι απόλυτα συμβατή με τους κανόνες
της Ευρωπαϊκής Ένωσης». Από τότε δεν έχει αναφέρει τίποτε άλλο
σχετικά, και δεν έχει παρουσιάσει κανένα έγγραφο για το πού υποβλήθηκε
και τι αποτελέσματα είχε η διαδικασία.
</p>
<p class="vspace">Τέλος, οι περισσότερες ημερομηνίες που προβλέπει η συμφωνία έχουν
παρέλθει. Για παράδειγμα, η συμφωνία προβλέπει προμήθεια τουλάχιστον
30 χιλιάδων αδειών χρήσης ως τις 31 Δεκεμβρίου 2006. Καμία πληροφόρηση
δεν υπάρχει ως προς το τι έχει γίνει μέχρι στιγμής σχετικά.
</p>
<p class="vspace">Ανακρίβειες<br>========<br><br>Τρίτο πρόβλημα είναι ότι η αιτιολογική έκθεση του νομοσχεδίου έχει
σοβαρές ανακρίβειες. Αναφέρει ότι η συμφωνία με τη Microsoft θα έχει
οικονομικά οφέλη. Όμως, το κόστος των αδειών χρήσης που προβλέπονται
στη συμφωνία εκτιμάται σε μεταξύ 9 και 36 εκατομμύρια ευρώ (δεν μπορεί
να υπολογιστεί με ακρίβεια γιατί οι λεπτομέρειες καθορίζονται σε
ξεχωριστή, άγνωστη σύμβαση) μέχρι το 2009, συν το κόστος των
αναβαθμίσεων που θα γίνουν μετά. Εντούτοις, διεθνείς εταιρείες όπως η
Canonical και η <span class="wikiword">RedHat</span> προσφέρουν άδειες χρήσης για το λογισμικό τους
χωρίς κόστος, με απεριόριστο δικαίωμα αναβάθμισης για πάντα. Η
εισηγητική έκθεση παρουσιάζει λοιπόν ένα άσκοπο κόστος δεκάδων
εκατομμυρίων ευρώ ως οικονομικό όφελος.
</p>
<p class="vspace">Η αιτιολογική έκθεση αναφέρει επίσης ότι οι άδειες χρήσης θα δοθούν με
έκπτωση μέχρι και 20%. Εντούτοις, τίποτε σχετικό δεν προκύπτει από το
κείμενο της συμφωνίας.
</p>
<p class="vspace">Συμπεράσματα και σχόλια<br>=================<br><br>Η συμφωνία προβλέπει κυρίως την αγορά τουλάχιστον 70,000 αδειών χρήσης
Microsoft. Η ίδρυση κέντρου καινοτομίας της Microsoft, που είναι αυτό
που προβάλλεται, καθώς και τα υπόλοιπα, είναι λεπτομέρειες για τις
οποίες δεν προβλέπεται τίποτα συγκεκριμένο, παρά μόνο η υπογραφή
ξεχωριστών συμβάσεων που θα καθορίζουν τις λεπτομέρειες και τους
όρους.  «Όλη η "καινοτομία" καταλήγει σε μερικές άδειες χρήσης
προϊόντων της Microsoft», σχολιάζει ο Χρήστος Λοβέρδος, σύμβουλος
πληροφορικής στον ιδιωτικό τομέα.
</p>
<p class="vspace">Εναλλακτικές λύσεις προτείνει η διακήρυξη της κίνησης πολιτών
digitalrights.gr, που έχει συγκεντρώσει 1100 υπογραφές. Ο κ. Νίκος
Κοσσυφίδης εξηγεί: «Σε αντίθεση με την "κοινή ομάδα εργασίας"
κυβέρνησης-Microsoft που προβλέπει η συμφωνία, εμείς προτείνουμε τη
συγκρότηση μακροπρόθεσμης και υπερκομματικής πολιτικής για την
ανάπτυξη εγχώριας βιομηχανίας πληροφορικής με βάση το ελεύθερο
λογισμικό, που θα εξυπηρετεί τις εθνικές ανάγκες, διασφαλίζοντας
βιώσιμες κρατικές πληροφορικές υποδομές, με λειτουργία ανεξάρτητη από
τα συμφέροντα συγκεκριμένων εταιρειών.»
</p>
<p class="vspace">Ο Διομήδης Σπινέλλης, Αναπληρωτής Καθηγητής Τεχνολογιών Υποστήριξης
Διοίκησης στο Οικονομικό Πανεπιστήμιο, συνοψίζει: «Αν και υπάρχουν
πολλές διαθέσιμες επιλογές τεχνολογιών πληροφορικής, το σχέδιο νόμου
δεσμεύει μακροπρόθεσμα τη χώρα στην προνομιακή μεταχείριση και
υιοθέτηση των τεχνολογιών της Microsoft.  Αγνοούνται έτσι οι αποφάσεις
πολλών κρατών της Ευρωπαϊκής Ένωσης για την υιοθέτηση στη δημόσια
διοίκηση ανοικτών προτύπων και λογισμικού ανοικτού κώδικα.  Αυτές οι
εναλλακτικές επιλογές θα είχαν χαμηλότερο κόστος, ενώ θα ενίσχυαν την
τεχνολογική ανάπτυξη και αυτοδυναμία των ελληνικών επιχειρήσεων και
γενικότερα της Ελλάδας.»
</p>
<p class="vspace">Περισσότερες πληροφορίες<br>==================<br><br>Το παρόν δελτίο τύπου, καθώς και παλιότερα, και όλο το ιστορικό, και
όλα τα σχετικά έγγραφα, διατίθενται στη διεύθυνση <a class="urllink" href="https://web.archive.org/web/20080426222706/http://www.ffii.gr/" rel="nofollow">http://www.ffii.gr/</a>.
</p>
<p class="vspace">Για το FFII: Αντώνης Χριστοφίδης, τηλ. 6979924665, anthony at itia.ntua.gr.
Για το HELLUG: Παναγιώτης Κρανιδιώτης, τηλ. 6944171972, chairman2 at hellug.gr.
Για το digitalrights.gr: Αστέρης Μασούρας, τηλ. 6932937625 asterios at gmail.com.
</p>
<p class="vspace">Το FFII (Foundation for a Free Information Infrastructure) είναι
ευρωπαϊκός μη κερδοσκοπικός οργανισμός για τη διάδοση της δυνατότητας
επεξεργασίας της πληροφορίας, και στηρίζει την ανάπτυξη πληροφοριακών
αγαθών βασισμένων στο copyright, τον ελεύθερο ανταγωνισμό και τα
ανοιχτά πρότυπα. Περισσότερα από 850 μέλη, 3 χιλιάδες εταιρείες και 90
χιλιάδες υποστηρικτές έχουν εμπιστευτεί στο FFII την εκπροσώπησή τους
σε θέματα δημόσιας πολιτικής σχετικά με διανοητική ιδιοκτησία στην
επεξεργασία δεδομένων.
</p>
<p class="vspace">Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας (HELLUG) είναι μη
κερδοσκοπικός σύλλογος για την προώθηση του Linux.  Διοργανώνει
εκπαιδευτικές και ενημερωτικές δραστηριότητες, ευαισθητοποιεί τους
φορείς, στηρίζει τη σύσφιξη των σχέσεων μεταξύ των χρηστών Linux, και
ενθαρρύνει την έρευνα στην πληροφορική.  Με τη συγκέντρωση στους
κόλπους του του πιο ειδικευμένου και έμπειρου ανθρώπινου δυναμικού, ο
HELLUG είναι ο ελληνικός οργανισμός με το μεγαλύτερο κύρος σε θέματα
Linux, και ένας από τους πιο αναγνωρισμένους σε θέματα ελεύθερου
λογισμικού, πληροφορικής και δικτύων.
</p>
<p class="vspace">Το digitalrights.gr αποτελεί κόμβο πληροφόρησης για τα δικαιώματα του
πολίτη στον ψηφιακό κόσμο. Μεταξύ άλλων, τα αντικείμενα δράσης
περιλαμβάνουν ιδιωτικό απόρρητο (privacy), ανοικτά πρότυπα (open
standards), πατέντες λογισμικού, πνευματικά δικαιώματα ψηφιακού
περιεχομένου, και ελεύθερο λογισμικό.
</p>
<p>[σχετική συζήτηση στο </span><a href="https://forum.hellug.gr/t/microsoft/620/20">forum</a>]</p>        