---
title: "Χρήση λογισμικού στην δημόσια διοίκηση"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2002-10-01
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        Ως πανελλήνιος σύλλογος Ελλήνων χρήστων Λίνουξ με μέλη από όλη την Ελλάδα, θα θέλαμε να παρουσιάσουμε τις θέσεις μας σχετικά με την επιλογή λογισμικού για χρήση στην δημόσια διοίκηση, με αφορμή την πρόσφατη (25/09/2002) συνάντηση του
υπουργού Εθνικής Οικονομίας Νίκου Χριστοδουλάκη και του αντιπροέδρου της Microsoft Corporation, Steve Ballmer <a href="#ref1">[1]</a>.</p>
<p>Προβληματιζόμαστε ιδιαίτερα όταν διαβάζουμε για το "έντονο ενδιαφέρον του(Steve Ballmer) για τις ανάγκες του δημοσίου σε έργα πληροφορικής" και για την "θερμή ανταπόκριση του υπουργού" <a href="#ref2">[2]</a> σε αυτό το ενδιαφέρον. Η χρήση ιδιόκτητου (proprietary) λογισμικού στον δημόσιο τομέα συνοδεύεται από μια σειρά ειδικών προβλημάτων, τα οποία θα πρέπει να ληφθούν σοβαρά υπ' όψην προτού ληφθούν οποιεσδήποτε αποφάσεις.</p>
<p>Πρέπει κατ' αρχήν να γίνει κατανοητό ότι όπως κάθε ευρωπαϊκή χώρα, έτσι και η Ελλάδα εργάζεται για την εκπλήρωση των στόχων της ευρωπαϊκής ένωσης για την ηλεκτρονική διακυβέρνηση. Σημαντικό συστατικό της προσπάθειας αυτής είναι η
επιλογή και χρήση του κατάλληλου λογισμικού.</p>
<p>Τρία είναι τα σημεία τα οποία θα πρέπει να πρωταγωνιστήσουν σε αυτήν την επιλογή:</p>

<ol>
<li> Η διασφάλιση της ελεύθερης πρόσβασης των πολιτών σε δημόσια δεδομένα, σύμφωνα με το Σύνταγμα της Ελλάδας Αρθρο 5α.παρ.2 <a href="#ref3">[3]</a>:</li>

</ol>
<p>"Καθένας έχει δικαίωμα συμμετοχής στην Κοινωνία της Πληροφορίας. Η διευκόλυνση της πρόσβασης στις πληροφορίες που διακινούνται ηλεκτρονικά, καθώς και της παραγωγής, ανταλλαγής και διάδοσής τους αποτελεί υποχρέωση του Κράτους, τηρουμένων πάντοτε των εγγυήσεων των άρθρων 9, 9Α και 19."</p>
<p>Ο μόνος τρόπος για να επιτευχθεί κάτι τέτοιο, είναι να μην υπάρξει αποκλειστική συνεργασία με έναν και μοναδικό προμηθευτή λογισμικού.  Η χρήση ανοιχτών και κοινώς αποδεκτών ως standard τρόπων αποθήκευσης δεδομένων
εγγυάται αυτήν την ελεύθερη πρόσβαση, αν χρειαστεί και μέσω της δημιουργίας ελεύθερου <a href="#ref4">[4]</a> συμβατού λογισμικού. Η χρήση των κλειστών και κάτω από περιοριστικές αδειες πρωτοκόλων επικοινωνίας και μορφών αποθήκευσης δεδομένων
του ιδιόκτητου λογισμικού έρχεται σε προφανή αντίθεση με τα παραπάνω <a href="#ref5">[5]</a>.</p>

<ol>
<li> Η διασφάλιση της διάρκειας των δημοσίων δεδομένων.
Για να επιτευχθεί η διασφάλιση αυτή, είναι απαραίτητο η λειτουργικότητα και η συντήρηση του απαραίτητου λογισμικού να μην βασίζεται στην καλή θέληση των προμηθευτών και στους μονοπωλιακούς όρους που επιβάλλονται από αυτούς. Γι'αυτόν τον λόγο, η πολιτεία χρειάζεται πληροφοριακά συστήματα των οποίων η συνεχής εξέλιξη να είναι εγγυημένη μέσω της διαθεσιμότητας του πηγαίου κώδικα
αυτών.</li>
<li> Η ασφάλεια της Πολιτείας και των πολιτών.
Είναι απαραίτητο η Πολιτεία να μπορεί να βασιστεί σε συστήματα τα οποία δε θα επιτρέπουν την μακρόθεν μη εξουσιοδοτημένη πρόσβαση ή την κρυφή (και ανεπιθύμητη) μετάδοση πληροφοριών σε τρίτους. Συστήματα με ελεύθερη πρόσβαση
στον πηγαίο τους κώδικα δίνουν την δυνατότητα συνεχούς επιθεώρησης από την Πολιτεία και τους Έλληνες πολίτες, σε αντίθεση με το ιδιόκτητο λογισμικό, στην περίπτωση του οποίου η μόνη εγγύηση ασφαλείας που υπάρχει είναι η καλή
θέληση του προμηθευτή.</li>

</ol>
<p>Βάσει των παραπάνω σημείων, είναι φανερό ότι, σε αντίθεση με το ιδιόκτητο λογισμικό, το ελεύθερο λογισμικό αποτελεί μια προφανή (και ίσως τη μόνη σωστή) λύση για την πληροφοριακή υποδομή της δημόσιας διοίκησης, καθώς είναι απαλλαγμένο από τα προβλήματα του ιδιόκτητου λογισμικού.</p>
<p>Όλο και περισσότερες χώρες στον κόσμο προωθούν την χρήση ελεύθερου λογισμικού στην δημόσια διοίκηση, όπως η Γαλλία <a href="#ref6">[6]</a>, η Γερμανία <a href="#ref7">[7]</a>, οι Ηνωμένες Πολιτείες, το Περού <a href="#ref8">[8]</a>, η Βραζιλία, η Κίνα <a href="#ref9">[9]</a>, η Αργεντινή, η Κορέα <a href="#ref10">[10]</a>, η Σουηδία <a href="#ref11">[11]</a>, η Δανία <a href="#ref12">[12]</a>, η Νορβηγία <a href="#ref13">[13]</a>, η Μαλαισία <a href="#ref14">[14]</a> και άλλες.</p>
<p>Ακόμη και η Ευρωπαϊκή Ένωση μέσω της Ευρωπαϊκής Επιτροπής καλεί τις κυβερνήσεις να ανταλλάξουν λογισμικό (χρησιμοποιώντας άδεια ελεύθερου λογισμικού <a href="#ref15">[15]</a>) με στόχο την μείωση του κόστους της διοίκησης <a href="#ref16">[16]</a>. Στα δε ευρωπαϊκά προγράμματα υπάρχει η έμφαση για χρήση ελευθέρου λογισμικού <a href="#ref17">[17]</a>.</p>
<p>Αυτή τη στιγμή υπάρχει διαθέσιμη μια τεράστια ποικιλία ελεύθερου λογισμικού η οποία μπορεί να καλύψει όλες τις ανάγκες και η ποιότητα του οποίου είναι στη συντριπτική πλειοψηφία των περιπτώσεων ισάξια, και συνήθως ανώτερη, από αυτήν του ιδιόκτητου λογισμικού.</p>
<p>Καλούμε τον υπουργό και όσους πολιτικούς και μέλη της δημόσιας διοίκησης ενδιαφέρονται για τη σωστή ανάπτυξη της πληροφοριακής υποδομής της χώρας μας να ενημερωθούν για τα τεκταινόμενα στον χώρο της πληροφορικής και για τις
λύσεις που μπορεί να προσφέρει το ελεύθερο λογισμικό. Το Δ.Σ. και τα μέλη του συλλόγου μας είναι στην διάθεση παντός ενδιαφερόμενου για να προσφέρουν αντικειμενική και σφαιρική ενημέρωση.</p>
<p>Για το Δ.Σ.,</p>
<p>Θοδωρής Σολδάτος (πρόεδρος)
Παναγιώτης Κατσαλούλης (αντιπρόεδρος)
Νίκος Χατζημποντόζης (γραμματέας)
Θάνος Κυρίτσης (ταμίας)
Κώστας Τοπογλίδης (έφορος)</p>
<p>e-mail: board@hellug.gr</p>
<p>Σημειώσεις:</p>
<p><a href="#ref1">[1]</a> http://www.in.gr/news/article.asp?lngEntityID=407492</p>
<p><a href="#ref2">[2]</a> Εφημερίδα "Ελευθεροτυπία, 26-09-2002, σελ. 23</p>
<p><a href="#ref3">[3]</a> http://www.parliament.gr/politeuma/syntagmaDetails.asp?ArthroID=6</p>
<p><a href="#ref4">[4]</a> Ο όρος αναφέρεται σε λογισμικό οι χρήστες του οποίου απολαμβάνουν
τεσσάρων βασικών ελευθεριών:</p>

<ul>
<li>Της ελευθερίας να χρησιμοποιούν το λογισμικό για οποιονδήποτε σκοπό.</li>
<li>Της ελευθερίας να μελετήσουν τον τρόπο λειτουργίας του προγράμματος και να
το προσαρμόσουν στις ανάγκες τους. Η πρόσβαση στον πηγαίο κώδικα του
λογισμικού αποτελεί προαπαιτούμενο του παραπάνω.</li>
<li>Της ελευθερίας να αναδιανείμουν αντίγραφα του λογισμικού ώστε να βοηθήσουν
τον συνάνθρωπό τους.</li>
<li>Της ελευθερίας να βελτιώσουν το λογισμικό και να δώσουν αυτές τις
βελτιώσεις στο κοινό, προσφέροντας στην κοινωνία. Η πρόσβαση στον πηγαίο
κώδικα του λογισμικού αποτελεί προαπαιτούμενο του παραπάνω.</li>

</ul>
<p>Ο όρος στα αγγλικά συναντάται ως "free software". Στον χώρο των επιχειρήσεων
συναντάται και ως "open source software".</p>
<p><a href="#ref5">[5]</a> Το φαινόμενο περιορισμού της πρόσβασης βάσει του προμηθευτή του
λογισμικού του πελάτη έχει ήδη παρατηρηθεί σε εφαρμογές e-banking ελληνικών
τραπεζών.</p>
<p><a href="#ref6">[6]</a> <a href="http://www.cnn.com/2001/TECH/industry/11/27/french.open.source.idg/">http://www.cnn.com/2001/TECH/industry/11/27/french.open.source.idg/</a></p>
<p><a href="#ref7">[7]</a> <a href="http://news.bbc.co.uk/1/hi/business/2023127.stm">http://news.bbc.co.uk/1/hi/business/2023127.stm</a></p>
<p><a href="#ref8">[8]</a> <a href="http://www.opensource.org/docs/bill-EngTrans.php">http://www.opensource.org/docs/bill-EngTrans.php</a></p>
<p><a href="#ref9">[9]</a> <a href="http://www.theregister.co.uk/content/4/26737.html">http://www.theregister.co.uk/content/4/26737.html</a></p>
<p><a href="#ref10">[10]</a> <a href="http://www.theregus.com/content/archive/23667.html">http://www.theregus.com/content/archive/23667.html</a></p>
<p><a href="#ref11">[11]</a> <a href="http://www.theregister.co.uk/content/4/26787.html">http://www.theregister.co.uk/content/4/26787.html</a></p>
<p><a href="#ref12">[12]</a> <a href="http://www.theregister.co.uk/content/archive/24131.html">http://www.theregister.co.uk/content/archive/24131.html</a></p>
<p><a href="#ref13">[13]</a> <a href="http://slashdot.org/article.pl?sid=02/07/15/186251">http://slashdot.org/article.pl?sid=02/07/15/186251</a></p>
<p><a href="#ref14">[14]</a> <a href="http://star-techcentral.com/tech/story.asp?file=/2002/4/2/itfeature/oss1&amp;sec;=technology">http://star-techcentral.com/tech/story.asp?file=/2002/4/2/itfeature/oss1&amp;sec;=technology</a></p>
<p><a href="#ref15">[15]</a> <a href="http://europa.eu.int/ISPO/ida/jsps/index.jsp?fuseAction=showDocument&amp;parent;=highlights&amp;documentID;=550">http://europa.eu.int/ISPO/ida/jsps/index.jsp?fuseAction=showDocument&amp;parent;=highlights&amp;documentID;=550</a></p>
<p><a href="#ref16">[16]</a> Μια παρουσίαση της πορείας του ελεύθερου λογισμικού στον παγκόσμιο δημόσιο τομέα μπορείτε να βρείτε εδώ:
<a href="http://linux.oreillynet.com/pub/a/linux/2002/07/15/osgov_timeline.html">http://linux.oreillynet.com/pub/a/linux/2002/07/15/osgov_timeline.html</a></p>
<p><a href="#ref17">[17]</a> <a href="http://www.cordis.lu/ist/ka4/tesss/impl_free.htm">http://www.cordis.lu/ist/ka4/tesss/impl_free.htm</a></p>

<ul>
Το HEL.L.U.G. (Ε.Χ.Φ.Λ.Ε.) είναι ένας επίσημα αναγνωρισμένος αφιλοκερδής
σύλλογος με σκοπό (μεταξύ άλλων) την προώθηση του Linux και του ελεύθερου
λογισμικού. Στα μέλη του περιλαμβάνονται επιστήμονες, τεχνικοί, επαγγελματίες
και φοιτητές του χώρου της πληροφορικής. Περισσότερες λεπτομέρειες μπορείτε
να βρείτε στην <a href="http://www.hellug.gr">σελίδα του συλλόγου</a>.