---
title: "Ο HELLUG κατηγορεί τον Υφυπουργό για παραπλάνηση"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2008-01-28
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
 <p>«Οργή και αγανάκτηση», σύμφωνα με τον πρόεδρο του HELLUG, έχει προκαλέσει στην κοινότητα του ελεύθερου λογισμικού η δήλωση του Υφυπουργού Οικονομικών στη Βουλή ότι οι χρήστες Λίνουξ είχαν μόνο απορίες, και όχι αντιρρήσεις, για το νομοσχέδιο για τη Microsoft που η Βουλή καλείται να ψηφίσει αύριο.
</p>
<p class="vspace">Σε επιστολή του προς τον Υφυπουργό κ. Ιωάννη Παπαθανασίου, ο πρόεδρος του HELLUG κ. Richard Kweskin παραθέτει αποσπάσματα από τα πρακτικά συνεδριάσεων της Βουλής, κατηγορεί τον κ. Παπαθανασίου ότι προσβάλλει την κοινότητα και τον εκπρόσωπό της και παραπλανεί τη Βουλή, και ζητά να ανακαλέσει ενώπιον της Βουλής.
</p>
<p class="vspace">Το πλήρες κείμενο της επιστολής επισυνάπτεται:
</p>
<p class="vspace">Προς:<br>Ιωάννη Παπαθανασίου<br>Υπουργό Οικονομίας και Οικονομικών
</p>
<p class="vspace">28 Ιανουαρίου 2008
</p>
<p class="vspace"><strong>Σχετικά με τη δήλωσή σας στη Βουλή περί αποριών μας</strong>
</p>
<p class="vspace">Αξιότιμε κύριε Υπουργέ,
</p>
<p class="vspace">στις 24 Ιανουαρίου 2008, στη συζήτηση της ολομέλειας της Βουλής σχετικά με το νομοσχέδιο για τη Microsoft, αναφέρατε ότι ο εκπρόσωπός μας, στη συνεδρίαση της αρμόδιας επιτροπής της 17ης Ιανουαρίου, είχε απορίες και όχι αντιρρήσεις. Συγκεκριμένα μεταξύ άλλων αναφέρατε τα εξής:
</p>
<div class="vspace"></div><div class="indent">Οι δε χρήστες του Linux, που ήταν αυτοί οι οποίοι στα δημοσιεύματα ήταν οι πιο επιθετικοί, είχαν απορίες, και όχι αντιρρήσεις, και εξέφρασαν ερωτήματα. Τα πρακτικά είναι εκεί και διαβάστε τα.
</div><p class="vspace">Τα πρακτικά στα οποία αναφέρεστε, κύριε Υπουργέ, τα έχουμε, και παραθέτουμε την αρχή της κατάθεσης του εκπροσώπου μας, κ. Παναγιώτη Κρανιδιώτη:
</p>
<div class="vspace"></div><div class="indent">Καταρχήν, σαν κοινότητα που ασχολούμαστε με το ελεύθερο λογισμικό και συγκεκριμένα με την πρώθηση του λειτουργικού συστήματος Linux, έχουμε κάποιες ανησυχίες. Καταρχήν όσον αφορά τη Σύμβαση πιστεύουμε ότι, όπως αναφέρθηκε, ήδη βλέπουμε ότι υπάρχει κάποια δέσμευση. Δεν είμαστε νομικοί για να μπορούμε να καταλάβουμε τα σημεία αυτά, αλλά από τη μελέτη που έχουμε κάνει, βλέπουμε ότι αυτή η Σύμβαση είναι δεσμευτική για το ελληνικό κράτος.  
</div><p class="vspace">Επιτρέψτε μας να υπενθυμίσουμε μερικά γεγονότα. Η συμφωνία υπογράφηκε την 1η Φεβρουαρίου 2006. Τηλεφωνήσαμε στο Υπουργείο πολλές φορές εκείνο το μήνα, λαμβάνοντας απαντήσεις του τύπου «μόνο ο Υπουργός έχει αντίγραφο αυτή τη στιγμή» και «δεν λειτουργεί το φαξ του Υπουργείου». Δεκαοχτώ μήνες αργότερα, αφού το κείμενο της συμφωνίας είχε ζητηθεί πολλάκις επί ματαίω στη Βουλή, ζητήσαμε επισήμως τη συμφωνία με έγγραφό μας που έλαβε στο Υπουργείο σας τον αριθμό πρωτοκόλλου 34954/07-08-2007. Είκοσι πέντε μέρες αργότερα δεν είχατε απαντήσει και απευθυνθήκαμε στο Συνήγορο του Πολίτη, που σας διέταξε να παραδώσετε τη συμφωνία, αλλά πάλι δεν απαντήσατε, μέχρι που τελικά καταθέσατε το νομοσχέδιο, στις 10 Ιανουαρίου 2008.
</p>
<p class="vspace">Είκοσι τρεις μήνες, κύριε Υπουργέ. Η διαφορά με τη δική μας αντιμετώπιση είναι εκπληκτική. Ο εκπρόσωπός μας, κ. Κρανιδιώτης, δέχτηκε τηλεφώνημα από τη Βουλή στις 16 Ιανουαρίου 2008 και ώρα 18:00, ενόσω βρισκόταν στη Νεάπολη Λακωνίας. Την επόμενη μέρα, στις 09:00, ήταν στη Βουλή για να καταθέσει την άποψή του.  Η άψογη στάση του κ.  Κρανιδιώτη δεν περιορίζεται σ' αυτή την ανταπόκρισή του. Σεβόμενος τη Βουλή, που τον κάλεσε να καταθέσει ως ειδικός, δεν υπέδειξε στους βουλευτές τι να κάνουν, παρά εξέφρασε με κοσμιότητα τους προβληματισμούς του. «Έχουμε κάποιες ανησυχίες», είπε. «Η Σύμβαση είναι δεσμευτική για το ελληνικό κράτος». «Η χώρα και το Δημόσιο δένονται de facto στο άρμα μιας συγκεκριμένης εταιρείας».
</p>
<p class="vspace">Κατόπιν αυτών, εσείς είπατε στην ολομέλεια ότι αυτά είναι απορίες και όχι αντιρρήσεις. Η δήλωσή σας αυτή προκάλεσε, περισσότερο από κάθε άλλο, οργή και αγανάκτηση στην κοινότητά μας, που έχει παρακολουθήσει από κοντά τη διαδικασία. Η δήλωσή σας όχι μόνο προσβάλλει την κοινότητα και τον εκπρόσωπό της, αλλά και παραπλανεί την ολομέλεια της Βουλής.
</p>
<p class="vspace">Ελπίζουμε να καταλάβαμε λάθος τις προθέσεις και τη στάση σας. Σας παρακαλούμε να ανακαλέσετε, ενώπιον της Βουλής, τα λεγόμενά σας σχετικά με τις θέσεις μας.
</p>
<p class="vspace">Αν ακόμα και μετά τα παραπάνω υπάρχουν αμφιβολίες σχετικά με τη θέση του συλλόγου μας, σας δηλώνουμε με τον πιο επίσημο, ρητό και κατηγορηματικό τρόπο την πλήρη αντίθεσή μας στο προς ψήφιση νομοσχέδιο.
</p>
<p class="vspace">Με τιμή,<br>Richard Kweskin<br>Πρόεδρος<br>Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας
</p>
<p class="vspace"><small>Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας (HELLUG) είναι μη κερδοσκοπικός σύλλογος για την προώθηση του Linux. Διοργανώνει εκπαιδευτικές και ενημερωτικές δραστηριότητες, ευαισθητοποιεί τους φορείς, στηρίζει τη σύσφιξη των σχέσεων μεταξύ των χρηστών Linux, και ενθαρρύνει την έρευνα στην πληροφορική. Με τη συγκέντρωση στους κόλπους του του πιο ειδικευμένου και έμπειρου ανθρώπινου δυναμικού, ο HELLUG είναι ο ελληνικός οργανισμός με το μεγαλύτερο κύρος σε θέματα Linux, και ένας από τους πιο αναγνωρισμένους σε θέματα ελεύθερου λογισμικού, πληροφορικής και δικτύων.</small>       