---
title: "Δημόσια διαβούλευση για το Καταστατικό"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2015-12-17
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; background-color:#ffffff;"><span style=" font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;">Μέλη και Φίλοι του Συλλόγου HELLUG.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; background-color:#ffffff;"><span style=" font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;">Συνεπείς, παρά την καθυστέρηση, με την απόφαση της Γ.Σ. του Απριλίου 2015, ανοίγουμε σήμερα, για τους δύο επόμενους μήνες, την διαβούλευση του τρέχοντος Καταστατικού του Συλλόγου μας. Ο στόχος της απόφασης αυτής, είναι να δοθεί σε όλους η δυνατότητα να εκφράσουν τις θέσεις, αλλαγές, βελτιώσεις και απόψεις για το Καταστατικό του Συλλόγου, ώστε να δομηθεί, ένα νέο Καταστατικό που να είναι πλησιέστερα στις απαιτήσεις των καιρών και γνώμονα την συνεργατική συνύπαρξη ατόμων μέσα σε ένα &quot;σχήμα&quot;, που ενδιαφέρονται για τις αξίες και την διάδοση του Ελ. Λογισμικού (και άλλων συναφών θεμάτων).</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; background-color:#ffffff;"><span style=" font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;">Βεβαίως είναι γνωστό, ότι εδώ και μερικά χρόνια, ο Σύλλογος HELLUG δεν είναι ο μοναδικός χώρος που συσπειρώνει ανθρώπους που ενδιαφέρονται ή ασχολούνται με το Ελ. Λογισμικό (ΕΛΛΑΚ) αλλά και με άλλες αντίστοιχες μορφές &quot;open&quot;. Εν τούτοις αποτελεί ανεκτίμητο παράγοντα η νομική του υπόσταση, η οποία μέχρι σήμερα έχει φανεί χρήσιμη σε πολλά θέματα.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; background-color:#ffffff;"><span style=" font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;">Έτσι σας καλώ να μπείτε στο https://github.com/hellug/katastatiko2016 για να να συμμετέχετε στη προσπάθεια αυτή, με όραμα την βελτίωση του Συλλόγου. </span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; background-color:#ffffff;"><span style=" font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;">Στέλλας Ιάκ.</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; background-color:#ffffff;"><span style=" font-family:'Sans Serif'; font-size:13px; color:#000000; background-color:#ffffff;">Πρόεδρος</span></p>
