---
title: "Εκδήλωση διαμαρτυρίας για την ACTA"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-07-07
category_title: Δράσεις
tags: ["Εκδηλώσεις", "Προώθηση"]
draseis: ["event", "advocacy"]
---
        
<p>H Ένωση Χρηστών και Φίλων Linux Ελλάδας (HELLUG) συμμετέχει το Σάββατο 11 Φεβρουαρίου 2012 στην παγκόσμια διαδήλωση εναντίον της συμφωνίας ACTA (Anti-Counterfeiting Trade Agreement) η οποία υπεγράφει πρόσφατα και από τη χώρα μας και συγκεκριμένα, στις 26 Ιανουαρίου 2012, από τον Έλληνα Πρέσβη στην Ιαπωνία.</p><p>Η ACTA αποτελεί μια συμφωνία σε επίπεδο κρατών με στόχο την καταπολέμηση του παράνομου εμπορίου και την προστασία των πνευματικών δικαιωμάτων των δημιουργών. Στο πλαίσιο αυτό προβλέπει μεταξύ άλλων τη λήψη προληπτικών μέτρων τόσο στο φυσικό όσο και στον ψηφιακό κόσμο.</p><p>Τόσο το ίδιο το κείμενο της συμφωνίας, που είναι ασαφές σε πάρα πολλά κρίσιμα σημεία, όσο και ο αδιαφανής τρόπος με τον οποίο αυτή διαμορφώθηκε έχουν προκαλέσει πλήθος αντιδράσεων διεθνώς, με πιο χαρακτηριστική την παραίτηση του ευρωβουλευτή, και εισηγητή της ACTA, Kader Arif.</p><p>Ως χρήστες και δημιουργοί Ελεύθερου Λογισμικού, αντιλαμβανόμαστε το Διαδίκτυο ως σημαντικότατο εργαλείο στο έργο μας αλλά και ως χώρο ελεύθερης ανταλλαγής ιδεών. Σε καμία περίπτωση δε θα επιτρέψουμε αυτό να θεωρηθεί &laquo;απλό μέσο μεταφοράς δεδομένων που φέρουν κάποιο copyright&raquo; και δε θα συναινέσουμε σε ρυθμιστικές δράσεις που καταργούν την ελεύθερη και ανώνυμη πρόσβαση στις υπηρεσίες και τα αγαθά που αυτό προσφέρει.</p><p>Επίσης, ως καταναλωτές ζητούμε το δικαίωμα της ισότιμης πρόσβασης στα έργα της παγκόσμιας διάνοιας. Ζητούμε δηλαδή τη δυνατότητα της νόμιμης αναπαραγωγής αυτών των έργων, χρησιμοποιώντας Ελεύθερο Λογισμικό και υλικό της επιλογής μας.</p><p>Μπορείτε να βρείτε μια πιο εκτεταμένη ανάλυση των προβλημάτων που δημιουργεί η ACTA στη σελίδα https://wiki.hellug.gr/index.php/ACTA</p><p>Ζητούμε από τους Έλληνες Ευρωβουλευτές να καταψηφίσουν αυτό το κείμενο που περιορίζει τα δικαιώματα των πολιτών και διαστρεβλώνει την &laquo;υφή&raquo; του Διαδικτύου!</p><p>Καλούμε όλους τους φίλους του Linux και του Ελεύθερου Λογισμικού να στηρίξουν την παγκόσμια διαμαρτυρία εναντίον της ACTA!</p><p>Για αυτό το Σάββατο 11 Φεβρουαρίου 2012 και ώρα 17:00 έχουν προγραμματιστεί συγκεντρώσεις στις παρακάτω τοποθεσίες:</p><br /><p>* Πλατεία Συντάγματος (Αθήνα)<br /> * Πλατεία Αριστοτέλους (Θεσσαλονίκη)<br /> * Πλατεία Γεωργίου (Πάτρα)</p><p>Θα χαρούμε πολύ αν μας τιμήσετε με την παρουσία σας.</p><p>Για να ενημερώνεστε σχετικά με τις ελληνικές δράσεις εναντίον της ACTA μπορείτε να εγγραφείτε στη σχετική mailing list: https://lists.hellug.gr/acta.php</p>
