---
title: "Εκδήλωση Hellug και Πίτα 2016 !"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2016-02-26
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Η Ένωση Φίλων και Χρηστών Λίνουξ Ελλάδος (Hellenic Linux Users Group-HEL.L.U.G.) σε συνεργασία με την ομάδα εργασίας της ΕΕΛ/ΛΑΚ (eellak.gr) για το Ανοικτό Λογισμικό (opensource.ellak.gr) και τον Κόμβο Καινοτομίας και Επιχειρηματικότητας Τεχνόπολης του Δήμου Αθηναίων–INNOVATHENS (innovathens.gr) καλούν την Τρίτη 1/03/2016 στις 18:00 τα μέλη και του φίλους του Συλλόγου, αλλά και κάθε ενδιαφερόμενο για το Ελεύθερο Λογισμικό και τον Ανοικτό Κώδικα, σε εκδήλωση παρουσίασης των δράσεων του Συλλόγου και την κοπή της πίτας 2016. </p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Η εκδήλωση θα πραγματοποιηθεί στον ισόγειο χώρο του Κόμβου Καινοτομίας και Επιχειρηματικότητας Τεχνόπολης του Δήμου Αθηναίων–INNOVATHENS, από 18:00 έως 21:00.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Ο HEL.L.U.G., ο ιστορικότερος Σύλλογος Χρηστών Linux στην Ελλάδα, ιδρυμένος το 1998, έχει σαν στόχο την προώθηση και διάδοση της χρήσης και των αξιών του Ελεύθερου Λογισμικού. Το Ελεύθερο Λογισμικό, εκτός το λειτουργικό σύστημα Linux και τις χιλιάδες εφαρμογές, περιλαμβάνει μια ολόκληρη φιλοσοφία για την ελευθερία χρήσης, συμμετοχής, και σχεδιασμού. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Σε αυτή την εκδήλωση μπορείτε να ενημερωθείτε για τις δράσεις και τους στόχους του HEL.L.U.G., να λύσετε τυχόν απορίες σας για το αν το Ελεύθερο και Ανοιχτό Λογισμικό είναι κατάλληλο για εσάς και να συζητήσετε για το ελεύθερο λογισμικό γενικότερα.  </p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Στο τέλος της εκδήλωσης θα γίνει η κοπή της πίτας του Συλλόγου για την νέα χρονιά 2016. !</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">ΠΡΟΓΡΑΜΜΑ ΤΗΣ ΕΚΔΗΛΩΣΗΣ</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Τρίτη 01/03/2016 - 18:00</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">18:00 - 18:30 Υποδοχή και καλωσόρισμα των συμμετεχόντων.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">18:30 - 19:00 Παρουσίαση του Συλλόγου και των δράσεων του 2015.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">19:00 - 19:30 Εμπειρίες από την πορεία του Συλλόγου για την προώθηση του Ελ. Λογισμικού- Προοπτικές.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">19:30 - 20:00 Συζήτηση - Προτάσεις.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">20:00 - 20:30 Κοπή της πίτας του Συλλόγου </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">21:00 Λήξη της εκδήλωσης.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Δ.Σ Hellug</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
