---
title: "Εκδήλωση HELLUG την Παρασκευή 26/03/2010 στο Πανεπιστήμιο Πειραιά"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-03-26
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>&nbsp;</p><p>Την Παρασκευή 26/03/2010 θα γίνει η πρώτη εκδήλωση του HELLUG για φέτος και θα φιλοξενηθεί στην Αίθουσα 210 του Πανεπιστημίου Πειραιά.</p><p>Θα γίνουν 2 ομιλίες, από τον Γιώργο Αδαμόπουλο και τον Κώστα Δρόγκο. Η ομιλία του Γιώργου έχει τίτλο &quot;Ο Postmaster χτυπάει πάντα δυο φορές&quot; ενώ η ομιλία του Κώστα θα αναφέρεται σε Xen &amp; KVM.</p><p>Η έναρξη των ομιλιών θα γίνει στις 18:00 ενώ μετά το τέλος (περίπου στις 21:00) θα υπάρξει κουβέντα για τις μελλοντικές εκδηλώσεις του συλλόγου και έπειτα θα κατευθυνθούμε προς κάποια ταβέρνα ή μπυραρία.</p><p>&lt;Μην κλείσετε τίποτα άλλο για το απόγευμα της παρασκευής! Θα σας περιμένουμε εκεί!&gt;<br /><br /><br /><strong>Απολογισμός | Οι διαφάνειες των παρουσιάσεων</strong><br /><br /><br /><a href="/media/presentations/20100326-PaPei/O_postmaster_xtipaei_panta_2_fores.pdf" rel="nofollow" target="_blank">Ο Postmaster χτυπάει πάντα δυο φορές (PDF) Γιώργος Αδαμόπουλος</a><br /><a href="/media/presentations/20100326-PaPei/Xen-KVM-Virtualization.pdf" rel="nofollow" target="_blank">XEN KVM Virtualization (PDF) Κώστας Δρόγγος</a></p>
