---
title: "ΕΚΤΑΚΤΗ ΓΕΝΙΚΗ ΣΥΝΕΛΕΥΣΗ ΤΟΥ ΣΥΛΛΟΓΟΥ HELLUG"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2005-11-08
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "To Δ.Σ του συλλόγου συνεδρίασε και αποφάσισε τη σύγκλιση ΕΚΤΑΚΤΗΣ ΓΕΝΙΚΗΣ ΣΥΝΕΛΕΥΣΗΣ με θέμα την ΑΛΛΑΓΗ ΤΗΣ ΕΔΡΑΣ ΤΟΥ ΣΥΛΛΟΓΟΥ"
---
Η συνέλευση θα πραγματοποιηθεί στις <b>19 Νοεμβρίου 2005</b>, ημέρα <b>Σάββατο</b> και <b>ώρα 10:00</b> στο εργαστήριο του συλλόγου στην οδό Παπαφλέσσα 1-3, 4ος Όροφος, Καλλιθέα.<br></p><p>Η ψηφοφορία θα είναι ανοικτή <b>από τις 10:00 το πρωί έως τις 19:00 το βράδυ</b>.<br></p><p>Για την διευκόλυνση των μελών θα υπάρχει κάλπη και δεύτερη εφορευτική<br>επιτροπή και στο περίπτερό μας στην έκθεση COMDEX.</p><p><b>Στην ψηφοφορία μπορούν να συμμετάσχουν όλα τα μέλη με τακτοποιημένες τις οικονομικές τους υποχρεώσεις.<br></b></p><p>Όσα μέλη δεν μπορούν να παρευρεθούν είτε στο εργαστήριο, είτε στην έκθεση για να καταθέσουν την ψήφο τους, παρακαλούνται να ορίσουν με υπεύθυνη δήλωση αντιπρόσωπό τους στην ψηφοφορία. Αντιπρόσωπος μπορεί να ορισθεί οποιοδήποτε άλλο μέλος του συλλόγου το οποίο έχει<br>δικαίωμα ψήφου και δύναται να παρευρεθεί στην ψηφοφορία. Το "μέλος -<br>αντιπρόσωπος" πρέπει να φέρει και να καταθέσει στην εφορευτική επιτροπή<br>μία υπογεγραμμένη υπεύθυνη δήλωση για κάθε μέλος που εκπροσωπεί και αντ' αυτού θα ψηφίσει.</p><p align="left"><i>Παρακαλούμε όλα τα μέλη να βοηθήσουν με την προσέλευσή τους ή την εξεύρεση αντιπροσώπου να επιτευχθεί το ποσοστό συμμετοχής των 2/3 και να λύσουμε άμεσα το θέμα της έδρας</i>.</p><p align="right"><b>Δ.Σ. HEL.L.U.G.<br>05-11-2005</b>