---
title: "Εναρμόνιση της ελληνικής νομοθεσίας με την κοινοτική οδηγία 2001/29/ΕΚ του Ευρωπαϊκού Κοινοβουλίου"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2002-10-10
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
Στο φύλλο 239 της Εφημερίδας της Κυβερνήσεως με ημερομηνία 10 Οκτωβρίου 2002 δημοσιεύτηκε ο νόμος 3057 με τίτλο "Τροποποίηση και συμπλήρωση του Ν. 2725/1999, ρύθμιση θεμάτων Υπουργείου Πολιτισμού και άλλες διατάξεις" <a href="#ref1">[1]</a>. </p>
<p>Το άρθρο 81 αυτού του νόμου αποτελεί εναρμόνιση της Ελληνικής νομοθεσίας με την Οδηγία 2001/29/ΕΚ του Ευρωπαϊκού Κοινοβουλίου <a href="#ref2">[2]</a>. </p>
<p>Αποτελεί παράδοξο το γεγονός ότι, ενώ συνήθως η Ελλάδα είναι ουραγός στην εναρμόνιση με την Ευρωπαϊκή νομοθεσία, στην συγκεκριμένη περίπτωση είναι η μία από τις δύο χώρες <a href="#ref3">[3]</a> οι οποίες εναρμονίστηκαν εντός της προθεσμίας, σε 
αντίθεση με τις υπόλοιπες 13 χώρες.</p>
<p>Η συγκεκριμένη οδηγία προβλήθηκε σαν προσπάθεια καταπολέμησης της παραβίασης των πνευματικών δικαιωμάτων, της λεγόμενης "πειρατείας" και προσαρμογής της σχετικής νομοθεσίας στην σύγχρονη τεχνολογία. Ουσιαστικά όμως αποτελεί προσαρμογή της ευρωπαϊκής νομοθεσίας στην νομοθεσία των Ηνωμένων Πολιτειών και συγκεκριμένα στον επονείδιστο νόμο DMCA <a href="#ref4">[4]</a>.</p>
<p>Σύμφωνα με τον νέο νόμο, αν ο δημιουργός ενός μουσικού CD απαγορεύσει την ακρόασή του στο αυτοκίνητο, ο νόμιμος κάτοχος του CD που θα αγνοήσει αυτήν την απαγόρευση είναι παράνομος. Αν ο δημιουργός προσθέσει κάποιο πρόχειρο τεχνολογικό μέτρο που να εμποδίζει την αναπαραγωγή του σε CD player αυτοκινήτου και ο νόμιμος κάτοχος του CD το παρακάμψει με στόχο την ακρόαση του CD στο αυτοκίνητό του, είναι επίσης παράνομος.</p>
<p>Ένα άλλο, πραγματικό αυτή την φορά παράδειγμα, είναι τα DVD με περιορισμό περιοχής αναπαραγωγής (region locked). Ως γνωστόν, οι μεγάλες εταιρείες διανομής κινηματογραφικών ταινιών εφηύραν αυτόν τον τρόπο ώστε να μεγιστοποιήσουν τα κέρδη τους. Μέχρι τώρα, ένας Έλληνας κάτοχος συσκευής αναπαραγωγής DVD αγορασμένης στην Ελλάδα δεν μπορούσε να αναπαράγει στην
συσκευή του ένα DVD που είχε αγοράσει σε ένα ταξίδι του στις Ηνωμένες Πολιτείες. Αυτό βέβαια μπορούσε εύκολα να παρακαμφθεί με μια απλή στις περισσότερες περιπτώσεις επέμβαση. Τώρα πλέον, αυτή η επέμβαση αποτελεί ποινικό αδίκημα. </p>
<p>Ποινικό αδίκημα αποτελεί και η αναπαραγωγή ενός νόμιμα αγορασμένου DVD σε ένα σύστημα που χρησιμοποιεί οποιοδήποτε από τα υπάρχοντα ελεύθερα λογισμικά αναπαραγωγής.</p>
<p>Οι εταιρείες αυτές, θέλοντας να ελέγξουν όχι μόνο το περιεχόμενο αλλά και τα μέσα αναπαραγωγής, ορίσανε ιδιαίτερα υψηλά κόστη για την παραχώρηση των (απαραίτητων για την κατασκευή λογισμικού αναπαραγωγής DVD) κωδικών, κάνοντας όχι μόνο απαγορευτικό το κόστος για έναν προγραμματιστή που θα ήθελε να δημιουργήσει ένα λογισμικό αναπαραγωγής με τους κανόνες και τις μεθόδους του ελεύθερου λογισμικού, αλλά ουσιαστικά αποκλείoντας την δημιουργία ελεύθερου λογισμικού αναπαραγωγής μια και η χρήση "κρυφού" κώδικα (οι κωδικοί κλειδώματος δηλαδή) εξ' ορισμού οδηγεί στην δημιουργία μή ελεύθερου λογισμικού.</p>
<p>Αυτό βέβαια οδήγησε πολύ σύντομα στην παράκαμψη της προστασίας των DVD και την κατασκευή ελεύθερου λογισμικού χωρίς την χρήση των παραπάνω
κωδικών, το οποίο πλέον κηρύσσεται παράνομο με τον νέο νόμο. Συνεπώς, το ελληνικό κράτος επιβάλλει στον Έλληνα πολίτη να χρησιμοποιεί συγκεκριμένο λογισμικό για την αναπαραγωγή του νόμιμα αγορασμένου DVD του στον νόμιμα αγορασμένο υπολογιστή του, στερώντας του την δυνατότητα χρήσης ελεύθερου λογισμικού και δίνοντας έτσι ένα άδικο πλεονέκτημα στις εταιρείες κατασκευής ιδιόκτητου λογισμικού αφού το ελεύθερο λογισμικό καθίσταται με αυτόν τον τρόπο λιγότερο ανταγωνιστικό. </p>
<p>Ας σημειωθεί ότι με τον τρόπο αυτό παραβιάζεται και μια από τις βασικές αρχές που διέπουν το Ελληνικό Σύνταγμα: Η ισοπολιτεία. Το κράτος αντιμετωπίζει διαφορετικά τους πολίτες που χρησιμοποιούν ιδιόκτητο λογισμικό και εκείνους που
επιλέγουν να χρησιμοποιήσουν ελεύθερο λογισμικό.</p>
<p>Είναι κάτι παραπάνω από προφανές ότι ο συγκεκριμένος νόμος είναι προϊόν της επιρροής (lobbying) των μεγάλων εταιριών. Χρησιμοποιείται ως πρόφαση η καταπολέμηση της παράνομης αντιγραφής και διακίνησης για να εξυπηρετηθούν τα συμφέροντα μεγάλων εταιρειών. Ο νόμος δεν προσφέρει απολύτως τίποτα στην καταπολέμηση της πειρατείας. Τα "τεχνολογικά μέτρα" για τα οποία γίνεται λόγος στον νόμο αυτό, μόνο γέλιο θα μπορούσαν να προκαλέσουν στα κυκλώματα παράνομης διακίνησης οπτικοακουστικού υλικού, αφού δεν σχεδιάστηκαν με σκοπό να εμποδίσουν την αντιγραφή DVD, αλλά με σκοπό να περιορίσουν την αναπαραγωγή των DVD μόνο με τους εγκεκριμένους από τις εταιρείες τρόπους. Το αποτέλεσμα είναι ότι, ενώ τα κυκλώματα μαζικής παραγωγής παράνομων  αντιγράφων δεν αντιμετώπισαν ιδιαίτερα προβλήματα λόγω των μέτρων αυτών, ένας νόμιμος κάτοχος αντιμετωπίζει προβλήματα ακόμα και να δει την ταινία υπό συγκεκριμένες συνθήκες. Όσο για τις νομικές συνέπειες, τα κυκλώματα αυτά παραβιάζουν ήδη τόσο πολλούς νόμους που δεν θα διστάσουν καθόλου να παραβιάσουν και αυτόν. Αντιθέτως, ο νόμιμος κάτοχος ενός DVD που θέλει να χρησιμοποιήσει ελεύθερο λογισμικό για να δει την ταινία και που καμία σχέση
δεν έχει με παράνομα κυκλώματα, βρίσκεται ξαφνικά να εμπίπτει στην ίδια κατηγορία με εγκληματίες του κοινού ποινικού δικαίου. Οι δε εταιρείες αποκτούν πλέον την δύναμη να καθορίζουν αυθαίρετους νόμους με παγκόσμια ισχύ και να
χωρίζουν την υφήλιο σε "ζώνες" με βάση τα συμφέροντά τους. <a href="#ref5">[5]</a></p>
<p>Οι μόνοι χαμένοι από την ψήφιση αυτού του νόμου είναι οι Έλληνες πολίτες, τα δικαιώματα των οποίων το κράτος οφείλει να προστατεύει. Αντί γι αυτό όμως, τα δικαιώματα του Έλληνα πολίτη καταπατούνται προς όφελος των άνομων συμφερόντων μεγάλων πολυεθνικών εταιρειών. </p>
<p>Θέλουμε να πιστεύουμε ότι οι Έλληνες βουλευτές, όπως και οι συνάδελφοί τους στο Ευρωπαϊκό Κοινοβούλιο, εξαπατήθηκαν κατά την ψήφιση αυτού του νόμου. Καλούμε τους Έλληνες βουλευτές και τους αρμόδιους υπουργούς να ενημερωθούν <a href="#ref6">[6]</a>, να σκεφτούν και να κατανοήσουν τι ψήφισαν και μετά θα τους είναι προφανής η πορεία που θα πρέπει να ακολουθήσουν.</p>
<p>Για το Δ.Σ. του HELLUG,</p>
<p>Θοδωρής Σολδάτος, πρόεδρος
Παναγιώτης Κατσαλούλης, αντιπρόεδρος
Νίκος Χατζημποντόζης, γραμματέας
Θάνος Κυρίτσης, ταμίας
Κώστας Τοπογλίδης, έφορος</p>

<ul>

</ul>
<p>Σημειώσεις και παραπομπές: </p>
<p><a href="#ref1">[1]</a> <a href="http://www.hellug.gr/portal/archive/general/N3057.pdf">http://www.hellug.gr/portal/archive/general/N3057.pdf</a></p>
<p><a href="#ref2">[2]</a> <a href="http://europa.eu.int/smartapi/cgi/sga_doc?smartapi!celexplus!prod!CELEXnumdoc&amp;numdoc;=32001L0029≶=EL">http://europa.eu.int/smartapi/cgi/sga_doc?smartapi!celexplus!prod!CELEXnumdoc&amp;numdoc;=32001L0029≶=EL</a></p>
<p><a href="#ref3">[3]</a> Ελλάδα και Δανία. Η συνολική κατάσταση μπορεί να βρεθεί εδώ:
<a href="http://wiki.ael.be/index.php/EUCD-Status">http://wiki.ael.be/index.php/EUCD-Status</a></p>
<p><a href="#ref4">[4]</a> <a href="http://anti-dmca.org/">http://anti-dmca.org/</a></p>
<p><a href="#ref5">[5]</a> Χαρακτηριστικό παράδειγμα κράτους που σέβεται τον πολίτη αποτελεί η περίπτωση της Νέας Ζηλανδίας, χώρα στην οποία ο χωρισμός σε "ζώνες" έχει κηρυχθεί παράνομος και η πώληση region locked DVD players είναι απαγορευμένη. Στην Νέα Ζηλανδία το συμφέρον του πολίτη (σε αυτήν τουλάχιστον την περίπτωση) είναι ισχυρότερο από τα συμφέροντα των εταιρειών.</p>
<p><a href="#ref6">[6]</a> Σχετικά sites:</p>
<p>Ψηφιακά δικαιώματα του πολίτη στην Ελλάδα:
<a href="http://digitalrights.uoa.gr">http://digitalrights.uoa.gr</a></p>
<p>Campaign for Digital Rights - European Union Copyright Directive:
<a href="http://ukcdr.org/issues/eucd">http://ukcdr.org/issues/eucd</a></p>
<p>The Openlaw DVD/DeCSS Forum Frequently Asked Questions (FAQ) List:
<a href="http://eon.law.harvard.edu/openlaw/DVD/dvd-discuss-faq.html">http://eon.law.harvard.edu/openlaw/DVD/dvd-discuss-faq.html</a></p>
<p>Eurorights.org, your rights online:
<a href="http://www.eurorights.org">http://www.eurorights.org</a></p>
<p>FSF Europe - EUCD - Copyright extensions that harm:
http://www.fsfeurope.org/projects/eucd/eucd.en.html
</p>
Το HEL.L.U.G. (Ε.Χ.Φ.Λ.Ε.) είναι ένας επίσημα αναγνωρισμένος αφιλοκερδής
σύλλογος με σκοπό (μεταξύ άλλων) την προώθηση του Linux και του ελεύθερου
λογισμικού. Στα μέλη του περιλαμβάνονται επιστήμονες, τεχνικοί, επαγγελματίες
και φοιτητές του χώρου της πληροφορικής. Περισσότερες λεπτομέρειες μπορείτε
να βρείτε στην <a href="https://www.hellug.gr">σελίδα του συλλόγου</a>.
