---
title: "Επαναληπτική Γ.Σ. στο Hackerspace"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-03-02
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
Λόγω μη απαρτίας της Ετήσιας Γενικής Συνέλευσης, ορίζουμε επαναληπτική σε 14 μέρες από τη ΓΣ.
<p>Τόπος: <a href="https://www.hackerspace.gr/wiki/Getting_Here">Hackerspace</a></p>
<p>
Όπως κάθε χρόνο, έτσι και φέτος, στα πλαίσια της Συνέλευσης έχουμε:
</p>
<ul>
  <li>Τακτοποίηση εκκρεμοτήτων μελών</li>
 <li>Απολογισμό απερχόμενου ΔΣ και ενημέρωση από τις Ομάδες Εργασίας
   σχετικά με τις δράσεις του συλλόγου τη χρονιά που πέρασε</li>
<li>Εκλογή νέου ΔΣ</li>
<li>Ανοιχτή συζήτηση θεμάτων σχετικών με το σύλλογο</li>
<li>Εγγραφές νέων μελών</li>
</ul>

<p>Τα μέλη του συλλόγου που επιθυμούν να λάβουν μέρος στο Δ.Σ 2014., μπορούν να υποβάλουν ακόμα την υποψηφιότητά τους στη λίστα αλληλογραφίας hellug@lists.hellug.gr ή στο board@hellug.gr .</p>

