---
title: "Ανοιχτή επιστολή για το θέμα της κατοχύρωσης διπλώματος ευρεσιτεχνίας (e-patents)"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2002-02-10
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
<p>Μέσω αυτής της επιστολής θα θέλαμε να σας προωθήσουμε τις ιδέες και τις προτάσεις μας σχετικά με το θέμα των κατοχυρώσεων διπλωμάτων ευρεσιτεχνίας των εφευρέσεων που εφαρμόζονται σε υπολογιστή (πατέντες λογισμικού).</p>
<p>Η Ευρωπαϊκή Επιτροπή στις 20 Φεβρουαρίου του 2002 πρότεινε να θεωρούνται ως εφευρέσεις τα προγράμματα (λογισμικό) των ηλεκτρονικών υπολογιστών. Μια τέτοια απόφαση θα έχει σαν αποτέλεσμα να κατοχυρώνονται ως πατέντες οποιοιδήποτε αλγόριθμοι ή λογικές λειτουργίες, συμπεριλαμβανομένων των επιχειρησιακών μεθόδων, τα οποία έχουν τα χαρακτηριστικά ενός προγράμματος για ηλεκτρονικό υπολογιστή (π.χ. μνήμη, είσοδος/έξοδος κλπ). Η δικιά μας θέση είναι υπέρ της ελευθερίας του υπολογιστικά υποβοηθούμενου συλλογισμού, του υπολογισμού, της οργάνωσης και της διατύπωσης και των πνευματικών δικαιωμάτων των δημιουργών λογισμικού (προγραμματιστές), ενώ ταυτόχρονα υποστηρίζουμε το δικαίωμα κατοχύρωσης ευρεσιτεχνίας των τεχνικών εφευρέσεων, σύμφωνα με τις διαφοροποιήσεις που έχουν επιλυθεί στην ευρωπαϊκή σύμβαση διπλωμάτων ευρεσιτεχνίας (EPC) και στο κλασσικό δίκαιο διπλωμάτων ευρεσιτεχνίας. Υπέρ της ίδιας θέσης έχουν τοποθετηθεί πολυάριθμοι εξέχοντες φορείς στα πεδία του λογισμικού, των οικονομικών, της πολιτικής και του νόμου.</p>
<p>Θα θέλαμε να μπορούμε να αναπτύσσουμε ελεύθερο ή ιδιόκτητο λογισμικό χωρίς να χρειάζεται να ανησυχούμε μήπως κάποιος μπορεί ήδη να έχει πατεντάρει μέρος των ιδεών που σκεφτήκαμε στη διαδικασία ανάπτυξης του λογισμικού αυτού. Για παράδειγμα, ο οποιοσδήποτε μπορεί να
έχει σκεφτεί παρόμοιες ιδέες με κάποιον προγραμματιστή είτε επειδή μπορεί να είναι προφανείς οι ιδέες αυτές, είτε επειδή είναι μέρος κάποιων προτύπων, όπως οι τυποποιημένες-standard λύσεις επίλυσης προβλημάτων στον προγραμματισμό. Πιστεύουμε πως με τις πατέντες εμποδίζεται η ακαδημαϊκή ελευθερία, καθώς πολλές φορές Πανεπιστήμια ή ερευνητές θεωρούν ηθικά σωστό να μην πατεντάρουν ιδέες τους με αποτέλεσμα τελικά αυτές οι ιδέες να κατοχυρώνονται με μικρές
τροποποιήσεις από τρίτους.</p>
<p>Είμαστε θερμοί υποστηρικτές της ιδιοκτησίας στο λογισμικό. Η ερώτηση που θέτουμε είναι ο τρόπος με τον οποίο ρυθμίζεται και οριοθετείται αυτή η ιδιοκτησία. Σεβόμαστε τα πνευματικά δικαιώματα και θέλουμε ο προγραμματιστής να έχει τα απόλυτα δικαιώματα των προγραμμάτων που δημιουργεί, αρκεί βέβαια τα τελευταία να έχουν τα εγγενή χαρακτηριστικά της προσωπικής δημιουργίας. Οι αλγόριθμοι δεν φέρουν αυτά τα εγγενή χαρακτηριστικά. Αν οι προγραμματιστές μπορούν να πατεντάρουν τους αλγόριθμους πάνω στους οποίους στηρίζονται όλες οι υπόλοιπες δημιουργίες, αυτό υπονομεύει τις πνευματικές ιδιοκτησίες άλλων προγραμματιστών. Οι πατέντες του λογισμικού μπορούν κατά κάποιο τρόπο να χαρακτηριστούν ως μια μορφή υποκλοπής της πνευματικής ιδιοκτησίας των
υπολοίπων προγραμματιστών.</p>
<p>Η σχετική πρόταση της Ευρωπαϊκής Επιτροπής και του Ευρωπαϊκού Συμβουλίου υπογραμμίζει ότι οι αλγόριθμοι στην πιο "αγνή" μορφή τους δεν θα πρέπει να μπορούν να κατοχυρωθούν. Ο στόχος αυτής της πρότασης είναι αξιέπαινος, όμως το συνολικό περιεχόμενο της πρότασης δεν τηρεί την ίδια
στάση.</p>
<p>Αισθανόμαστε απειλή ακόμα και στο βασικό δικαίωμα ύπαρξης. Συγκεκριμένα, η τροποποίηση του Συμβουλίου στο 'Aρθρο 5, κινείται σε λάθος πορεία. Περιορίζει την ελευθερία των δημοσιεύσεων με έναν αθέμιτο τρόπο, με αποτέλεσμα να παραβιάζει άμεσα το ¶ρθρο 10 του Ευρωπαϊκού Συνεδρίου για
τα Ανθρώπινα Δικαιώματα.</p>
<p>Δεν υπάρχει κανένα αποδεικτικό στοιχείο για το ότι οι πατέντες προωθούν κάποιο είδος νεωτερισμού και καινοτομίας στο χώρο του λογισμικού. Όλες οι αναφορές, παγκοσμίως, μιλούν κατά της ύπαρξης διπλωμάτων ευρεσιτεχνίας λογισμικού και όλες οι ενδείξεις στρέφονται στο ότι ακόμη και η βιομηχανία δεν θέλει τις πατέντες, παρά μόνο θα χάσει από μία τέτοια κίνηση.</p>
<p>Δεν μιλάμε μόνο εκ μέρους του Συλλόγου Ελλήνων Χρηστών του Linux, αλλά για ολόκληρη την κοινότητα του λογισμικού. Η κοινότητα του λογισμικού, δυστυχώς δεν έχει εκπροσωπηθεί επαρκώς στις Ελληνικές ενέργειες για τη λήψη απόφασης σχετικά με το θέμα. Παρόλο που η Ελληνική μεριά (μέσω των μηχανισμών λήψης απόφασης) δεν έχει ταχθεί εμφανώς υπέρ αυτών των ρυθμίσεων, δεν έχει όμως ταχθεί και εναντίον τους. Ζητάμε από την Ελληνική Κυβέρνηση να αποστασιοποιηθεί και να δημιουργήσει την ευκαιρία για μια εποικοδομητική συζήτηση σε εθνικό επίπεδο.</p>
<p>Αυτή τη στιγμή δεν υπάρχει νομικό πλαίσιο γύρω από τις πατέντες λογισμικού στην Ευρώπη. Το Ευρωπαϊκό Γραφείο Ευρεσιτεχνιών πιέζει τις ευρωπαϊκές κυβερνήσεις να υπογράψουν και να αποδεχτούν την πρότασή του. Ζητάμε από την Ελληνική κυβέρνηση να φέρει το θέμα για συζήτηση στη
Βουλή των Ελλήνων. Με δεδομένη την απουσία μιάς τέτοιας συζήτησης μεταξύ των εκπροσώπων του Ελληνικού λαού, θα ήταν πιο υπεύθυνη μια απλή άρνηση προς το Ευρωπαϊκό Γραφείο Ευρεσιτεχνιών, ώστε η συγκεκριμένη αρχή να μην θεωρείται ότι δρά υπό την έγκριση των κυβερνήσεων. Το δικαίωμα
για κατοχύρωση ανήκει στο λαό, όχι στην κοινότητα των υπέρμαχων των διπλωμάτων ευρεσιτεχνίας λογισμικού. Οπότε, όσον αφορά το λογισμικό, δεν πρέπει να καθιερωθεί κανένα σύστημα πνευματικής ιδιοκτησίας που δεν υπηρετεί το δημόσιο συμφέρον.</p>
<p>Ανησυχούμε επειδή:</p>

<ol>
<li> Το Ευρωπαϊκό Γραφείο Πνευματικής Ιδιοκτησίας (ΕΓΠΙ) έχει αποδώσει, σε αντίθεση με το γράμμα και το πνεύμα του νόμου, δεκάδες χιλιάδων ευρεσιτεχνίες  σε ιδέες που αφορούν προγραμματισμό και επιχειρησιακές μεθόδους, στο εξής αναφερόμενες ως πατέντες λογισμικού.</li>
<li> H Ευρωπαϊκή Επιτροπή  βιάζεται να νομιμοποιήσει αυτές τις πατέντες και να επιβάλει την  χρήση τους σε όλη την Ευρώπη. Εντούτοις κάνοντας τα παραπάνω βρίσκεται σε σαφή αναντιστοιχία με την θέληση και καλά τεκμηριωμένη λογική της  συντριπτικής πλειονότητας των επαγγελματιών λογισμικού, εταιρειών λογισμικού, επιστημόνων πληροφορικής και οικονομολόγων.</li>
<li> Η Επιτροπή βασίζει την πρότασή της σε ένα προσχέδιο το οποίο, κατά τα φαινόμενα, γράφτηκε από την BSA, έναν Αμερικανικό οργανισμό κυριαρχούμενο από λίγους μεγάλους πωλητές, όπως η Microsoft.</li>
<li> Οι πατέντες λογισμικού αντιτίθενται στα θεμελιώδη πνευματικά δικαιώματα του λογισμικού (copyright) και τείνουν να οδηγήσουν σε αδιέξοδο τους δημιουργούς λογισμικού αντί στην προστασία της ιδιοκτησίας τους. Απο τις διάφορες υπάρχουσες οικονομικές μελέτες, καμία δεν συμπεραίνει ότι οι πατέντες λογισμικού οδηγούν σε μεγαλύτερη παραγωγικότητα, καινοτομία, διάχυση της γνώσης ή έχουν καθ' οιονδήποτε τρόπο μακροοικονομικά ευεργετικές συνέπειες. Επιπλέον, η δυνατότητα χορήγησης πατεντών, όπως προτείνεται από την Επιτροπή/BSA, οδηγεί σε διάφορες ανακολουθίες μέσα στο σύστημα χορήγησης ευρεσιτεχνιών και ακυρώνει τις ίδιες τις κεντρικές υποθέσεις πάνω στις οποίες αυτό έχει "χτιστεί". Το αποτέλεσμα είναι ότι οτιδήποτε μπορεί να πατενταριστεί και ως εκ τούτου, δεν υπάρχει πλέον καμιά νομική ασφάλεια.</li>
<li> Οι θεσμοί του Ευρωπαϊκού συστήματος ευρεσιτεχνιών δεν υποβάλλονται κατά κανένα εποικοδομητικό  τρόπο  σε δημοκρατικό έλεγχο. Ο χωρισμός νομοθετικής και δικαστικής εξουσίας είναι ανεπαρκής και πιο συγκεκριμένα το Ευρωπαϊκό Γραφείο Πνευματικής Ιδιοκτησίας μοιάζει να αποτελεί το έδαφος καταχρηστικών και παράνομων δραστηριοτήτων.</li>

</ol>
<p>Για αυτούς τους λόγους προτείνουμε τα παρακάτω:</p>

<ol>
<li> Παροτρύνουμε το Ευρωπαϊκό Κοινοβούλιο και το Συμβούλιο να απορρίψουν την πρόταση οδηγίας COM(2002)92 2002/0047.</li>
<li> Παροτρύνουμε το Ευρωπαϊκό Κοινοβούλιο να βρει τον τρόπο ώστε η Επιτροπή να αναγκαστεί να αποκαταστήσει, όσον αφορά τη χορήγηση διπλωμάτων ευρεσιτεχνίας,  τις γενικές οδηγίες εξέτασης του 1978 ή κάτι ισοδύναμο, έτσι ώστε να αποκατασταθεί η σωστή ερμηνεία της EPC.</li>
<li> Προτείνουμε πρώτον, ένα ανεξάρτητο Ευρωπαϊκό Δικαστήριο να αναλάβει να επανεξετάσει, κατόπιν αιτήματος από πολίτη, οποιεσδήποτε ευρεσιτεχνίες που, σε πρώτη όψη, αποδόθηκαν στη βάση λανθασμένης ερμηνείας των όρων της EPC και δεύτερον σε τέτοιες περιπτώσεις το ΕΓΠΙ να υποχρεώνεται να αποδίδει στους προηγούμενους ιδιοκτήτες της ευρεσιτεχνίας όλα τα δικαιώματα που τους αποστερήθηκαν.</li>
<li> Παροτρύνουμε τους νομοθέτες σε Ευρωπαϊκό και εθνικά επίπεδα να αποδεχτούν το τρέχον κείμενο της EPC και να εξετάσουν το ενδεχόμενο να το ενισχύσουν, τροποποιώντας το σύμφωνα με την πρόταση
http://swpat.ffii.org/analysis/epc52/index.en.html, στο βαθμό που αυτό κριθεί αναγκαίο για την αποφυγή παρερμηνειών από τα δικαστήρια.</li>
<li> Προτείνουμε το Ευρωπαϊκό Κοινοβούλιο και το Συμβούλιο να εξετάσουν το ενδεχόμενο της αποσαφήνισης των ορίων απόδοσης ευρεσιτεχνίας όσον αφορά το λογισμικό και τις λογικές δημιουργίες, εκδίδοντας ευρωπαϊκή οδηγία σύμφωνη με το πνεύμα των αντι-προτάσεων
http://swpat.ffii.org/analysis/directive/index.en.html και http://swpat.ffii.org/papers/eubsa-swpat0202/index.en.html#prop.</li>
<li> Απαιτούμε όπως οι οποιεσδήποτε νομοθετικές ρυθμίσεις (περιλαμβανομένων των προτάσεων οδηγιών της Επιτροπής, όπως και των δεδικασμένων), που αφορούν στην χορήγηση ευρεσιτεχνιών, να είναι
συμβατές με το πρότυπο (http://swpat.ffii.org/analysis/testsuite/index.en.html) δειγμάτων
εφαρμογών ευρεσιτεχνιών, ώστε να είναι φανερό εάν, πέρα από κάθε αμφιβολία, θα οδηγήσουν στα επιθυμητά αποτελέσματα και δεν θα αφήσουν καθόλου χώρο για περαιτέρω λανθασμένες ερμηνείες.</li>
<li> Προτείνουμε το Ευρωπαϊκό Κοινοβούλιο να δημιουργήσει μια μόνιμη Επιτροπή Παρακολούθησης Ευρεσιτεχνιών με σκοπό να διασφαλίσει ότι οι ευρεσιτεχνίες χορηγούνται μόνο με τρόπο ο οποίος να υπηρετεί το δημόσιο συμφέρον. Αυτή η Επιτροπή θα αποτελείται από ευρωβουλευτές και ανεξάρτητους ειδικούς  σε διάφορα πεδία, όπως μαθηματικούς, επιστήμονες πληροφορικής, φυσικούς επιστήμονες, μηχανικούς, οικονομολόγους, επιστημολόγους, ηθικούς φιλοσόφους και νομικούς. Ο αριθμός των κατόχων ευρεσιτεχνιών, αξιωματούχων σχετικών με χορήγηση ευρεσιτεχνιών και άλλων προσώπων που το εισόδημά τους και η καριέρα τους εξαρτάται από τις ευρεσιτεχνίες και την χορήγησή τους θα πρέπει να κρατηθεί σε πολύ στενά όρια.  Η Επιτροπή θα συγκρίνει την όποια νομοθεσία τη σχετική με πατέντες με την ερμηνεία της από τα σχετικά γραφεία και δικαστήρια ευρεσιτεχνιών. Επιπλέον θα πρέπει να διεξάγει ακροαματικές διαδικασίες, να ξεκινά έρευνες/μελέτες (case studies)  ως προς τα αποτελέσματα του συστήματος ευρεσιτεχνιών και να υποκινεί την σχετική έρευνα με τον πιο ανοιχτό και περιεκτικό τρόπο.  Η Επιτροπή πρέπει να αναφέρει στο Ευρωπαϊκό Κοινοβούλιο σε πιο βαθμό η πραγματικότητα (όσον αφορά την απόδοση ευρεσιτεχνιών) συμμορφώνεται με την θεωρία και τους στόχους δημόσιας πολιτικής της ΕΕ και των μελών της. Η Επιτροπή αυτή θα απευθύνει τις ανησυχίες που εκφράζονται από την Επιτροπή του Ευρωπαϊκού Κοινοβουλίου για Νομικές Υποθέσεις και την Εσωτερική Αγορά για Ποιοτικό Έλεγχο στο ΕΓΠΙ, όπως εκφράζεται στην συζήτηση για την Κοινοτική ρύθμιση για τις Ευρεσιτεχνίες COM(2000)0412.</li>
<li> Προτείνουμε τη σύσταση από το Ευρωκοινοβούλιο μιας Επιτροπής
Διερεύνησης για την έρευνα διαφόρων κατηγοριών αντικανονικής συμπεριφοράς από τους υπέρμαχους των οδηγιών κατοχύρωσης ευρεσιτεχνιών λογισμικού και γονιδίων στο ΕΓΠΙ και στην Ευρωπαϊκή Επιτροπή, όπως για παράδειγμα η στενή συνεργασία τους με έναν περιορισμένο κύκλο "διαμορφωτών πολιτικής" (lobbyists), η μη συνεκτική τους επιχειρηματολογία και η  διαφαινόμενη εκ μέρους τους αδιαφορία για τις δημοκρατικές και νομικές αρχές και να προτείνει αναθεωρητικά μέτρα, τέτοια ώστε να αποτραπεί η επανάληψη τέτοιων φαινομένων στο μέλλον.</li>
<li> Προσμένουμε ότι, για όσο καιρό τα προβλήματα στο ΕΓΠΙ παραμένουν άλυτα, οποιαδήποτε νέα ρύθμιση όπως η Κοινοτική Ευρεσιτεχνία (http://eurolinux.ffii.org/news/cpat01B/index.en.html) θα εφαρμοστούν μέσω θεσμών άλλων από το ΕΓΠΙ.</li>

</ol>
<p>Σύνδεσμοι Αναφοράς</p>
<p>http://lpf.ai.mit.edu/Patents/</p>
<p>http://swpat.ffii.org</p>
<p>http://swpat.ffii.org/patents/</p>
<p>http://swpat.ffii.org/papers/eubsa-swpat0202/prop/</p>
<p>http://swpat.ffii.org/papers/eubsa-swpat0202/dkpto0209/</p>
<p>http://register.consilium.eu.int/pdf/gr/02/st14/14017gr2.pdf</p>