---
title: "Επιστολή του συλλόγου προς το Υπουργείο Παιδείας"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 1999-06-02
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
<p>Αγαπητοί κύριοι, </p>
<p>Συγχαρητήρια για την απόφασή σας να περιλαμβάνεται σε κάθε server και workstation που θα εξυπηρετεί ελληνικό σχολείο, το λειτουργικό σύστημα (Λ.Σ.) Linux. </p>
<p>Με αυτόν τον τρόπο, δίνετε την ευκαιρία στους μαθητές να γνωρίσουν και να αποκτήσουν εμπειρία στο λειτουργικό αυτό σύστημα, το οποίο γνωρίζει τον καιρό αυτό τους μεγαλύτερους ρυθμούς ανάπτυξης, τόσο στον ελληνικό χώρο όσο και παγκοσμίως. </p>
<p>Η φύση και η φιλοσοφία του Linux είναι η ομαδική ανάπτυξη μέσω διεθνούς συνεργασίας. Κάτι τέτοιο αποτελεί ένα υγιές πρότυπο για τους μαθητές που μπορούν όχι μόνο να το χρησιμοποιούν ως απλοί χρήστες, αλλά και να συνεισφέρουν και στην περαιτέρω ανάπτυξή του. </p>
<p>Το Linux δεν αποτελεί ένα εμπορικό προϊόν, συμβαδίζοντας απόλυτα με την ιδέα της δωρεάν παιδείας. Δεν καλύπτεται από περιορισμούς χρήσης με στόχο το κέρδος κάποιας εταιρείας. Ο κώδικας του, όπως και των εφαρμογών που το συνοδεύουν, διατίθεται ελεύθερα για χρήση, διανομή, τροποποίηση και βελτίωση. Κάθε μαθητής ή καθηγητής μπορεί να τον χρησιμοποιεί για να προάγει τις γνώσεις του χωρίς καμμία οικονομική ή νομική τροχοπέδη. Οι Ελληνες φορολογούμενοι με την χρήση ενός τέτοιου Λ.Σ. απαλάσσονται από ένα μεγάλο οικονομικό βάρος που απαιτείται σε άλλες περιπτώσεις. Οι μαθητές μπορούν να εγκαταστήσουν το Linux και στον υπολογιστή του σπιτιού τους χωρίς οικονομική επιβάρυνση, ώστε να μπορούν να εξασκούνται σε αυτά που διδάσκονται στο σχολείο τους. </p>
<p>Οι δυνατότητες του Linux σε θέματα δικτύωσης, απόδοσης, ασφάλειας, σταθερότητας, οπτικοακουστικών μέσων, διαδικτύου, εκτυπώσεων, διαμοιρασμού αρχείων, σε συνάρτηση με τις χαμηλές απαιτήσεις του σε υλικό (hardware), το καθιστούν την ιδανική επιλογή για χώρους όπως οι σχολικοί. Η διαθεσιμότητα του πηγαίου κώδικα, καθώς και η διαφάνεια που χαρακτηρίζει τη λειτουργία του, μετατρέπουν το Linux σε ένα πολύτιμο και προσιτό εκπαιδευτικό εργαλείο. </p>
<p>Η διεθνής κοινότητα του Linux χαίρεται που αποκτά χιλιάδες νέα μέλη, και θα συνεχίσει να βοηθάει με όλες της τις δυνάμεις την πρόοδο της Πληροφορικής, επιλύοντας οποιεσδήποτε τεχνικές δυσκολίες προκύψουν. </p>
<p>Το HEL.L.U.G. (Hellenic Linux Users Group) ή Ε.Χ.Φ.Λ.Ε (Ενωση Χρηστών και Φίλων Λίνουξ Ελλάδος) είναι ενας αφιλοκερδής σύλλογος που δημιουργήθηκε με σκοπό την προώθηση και ανάπτυξη του Linux στην Ελλάδα. Οι δραστηριότητες του συλλόγου καλύπτουν την ανάπτυξη εφαρμογών, την υποστήριξη της ελληνικής γλώσσας στο λειτουργικό και τις εφαρμογές, την συνεργασία με φορείς, οργανισμούς, εταιρείες, την παροχή τεχνογνωσίας, σεμινάρια, εκπαίδευση, εκδηλώσεις. Τα μέλη μας αποτελούν χομπίστες, φοιτητές, επαγγελματίες του χώρου της Πληροφορικής, καθηγητές Πληροφορικής, με παρουσία σε όλη την Ελλάδα. Μέλη του συλλόγου μας έχουν συγγράψει μέρος των εφαρμογών και του κώδικα που αυτή τη στιγμή αποτελεί το Linux και έχουν συμβάλει στην συγγραφή τεκμηρίωσης και στον εξελληνισμό εφαρμογών και τεκμηρίωσης. </p>
<p>Θέλουμε να σας γνωρίσουμε πως το HEL.L.U.G. είναι πρόθυμο να συνεργαστεί με το Υπουργείο Παιδείας σε κάθε θέμα που άπτεται του Linux (κατάρτιση προδιαγραφών, έλεγχος και πιστοποίηση ποιότητας, υποστήριξη ελληνικής γλώσσας, εξελληνισμός εφαρμογών, σεμινάρια, εκπαίδευση, συνεργασία με τους αναδόχους του διαγωνισμού, συμβουλές, τεχνογνωσία, επίλυση προβλημάτων λειτουργίας) ώστε να επιτευχθεί ό,τι καλύτερο είναι δυνατό για τα Ελληνικά σχολεία. </p>
<p>Ας σημειωθεί εδώ ότι έχουμε αποκομίσει σημαντική εμπειρία από πειραματικές εγκαταστάσεις Linux σε σχολεία (ειδικότερα σε ΤΕΕ) και από την λειτουργία τους σε τέτοιο περιβάλλον. </p>
<p>Στη διάθεσή σας για οποιαδήποτε συνεργασία, </p>
<p>Για το Δ.Σ. του HEL.L.U.G., 
Θοδωρής Σολδάτος </p>