---
title: "Επιτυχημένη η πρώτη εκδήλωση του Hellug με θέμα «Τεχνικές παρουσιάσεις για το Φθινόπωρο»"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-09-14
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>&nbsp;</p><p>Την Παρασκευή 17/9/2010 στις 18:00 έγινε η πρώτη εκδήλωση του Hellug με θέμα &laquo;Τεχνικές παρουσιάσεις για το Φθινόπωρο&raquo; και σε συνεργασία με την&nbsp;<a href="http://rainbow.cs.unipi.gr/projects/oss/wiki" rel="nofollow">Software Libre Society</a>&nbsp;του Πανεπιστημίου Πειραιά.</p><p>Η αίθουσα ήταν ασφυκτικά γεμάτη (υπήρχαν και όρθιοι!) ενώ τα θέματα των δύο παρουσιάσεων κράτησαν ψηλά και το ενδιαφέρον των ακροατών.</p><p>Για τον καλύτερο συντονισμό των μελλοντικών παρουσιάσεων φτιάξαμε τη σελίδα&nbsp;<a href="https://wiki.hellug.gr/index.php/%CE%A0%CE%B1%CF%81%CE%BF%CF%85%CF%83%CE%B9%CE%AC%CF%83%CE%B5%CE%B9%CF%82_2010" rel="nofollow">https://wiki.hellug.gr/index.php/Παρουσιάσεις_2010</a>.</p><p>Εκεί μπορείτε:</p><div>&nbsp;</div><ul><li>Να δείτε ένα αρχείο με τις παρουσιάσεις που έχουν ήδη πραγματοποιηθεί. Εδώ βέβαια θα προστίθενται σιγά-σιγά και όσες παρουσιάσεις θα γίνουν.</li><li>Να δείτε μια λίστα με τις παρουσιάσεις που πρόκειται να γίνουν.</li><li>Να δείτε νέα θέματα που έχουν προταθεί ως ιδέες για μελλοντικές παρουσιάσεις. Εδώ μπορείτε φυσικά να προσθέσετε και τις δικές σας ιδέες , ο σύλλογος θα προσπαθήσει να βρει τον κατάλληλο άνθρωπο για να γίνουν παρουσιάσεις με τα προτεινόμενα θέματα.</li><li>Να προτείνετε νέους χώρους στους οποίους θα μπορούσαν να γίνουν παρουσιάσεις. Σκοπός είναι οι εκδηλώσεις να γίνονται σε διαφορετικές αίθουσες, ακόμα και διαφορετικές πόλεις ώστε να μπορούν να συμμετέχουν και να τις παρακολουθούν όσο περισσότερα άτομα γίνεται.</li></ul><p>Αν γνωρίζετε κάτι καλά ελάτε να το μάθουμε κι εμείς, αν θέλετε να μάθετε κάτι ελάτε να το μάθουμε μαζί...</p>
