---
title: "Εργαστήριο στο ULB"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-01-28
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
Αυτό το Σάββατο, όπως κάθε χρόνο, η συνάντηση της παρέας θα γίνει στο&nbsp;<b>ULB</b>&nbsp;αντί για το Μαρούσι!<br><br>Ο χώρος στο Μαρούσι, θα μείνει κλειστός.<br><br>Ραντεβού, λοιπόν, στη&nbsp;<a rel="nofollow" target="_blank" title="Link: null">https://fosdem.org/2014/</a>
