---
title: "Εργαστήριο στις 29/10/2014"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-10-28
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
Μετά από μήνες απουσίας, λόγω προσωπικού προβλήματος, το εργαστήριο στο Μαρούσι θα ανοίξει δειλά-δειλά, την Τετάρτη 29 Οκτ. στις 18:00<br><br>Χρειάζεται λίγη δουλειά ακόμα, για να επανέλθουμε στις εβδομαδιαίες συγκεντρώσεις μας. Πιστεύω όμως ότι σιγά-σιγά, θα καταφέρουμε να ξαναζωντανέψουμε αυτό το χώρο συναντήσεων και πειραμάτων με το linux.<br><br>Επίσης, να σημειωθεί ότι αλλάζουμε ώρα, για να εξυπηρετηθούν όσοι -τελικά- ήταν δύσκολο να έρθουν το Σάββατο. <i>Δοκιμάζουμε</i> για λίγο καιρό να κάνουμε την συνάντηση κάθε Τετάρτη, αφήνοντας το Σάββατο ελεύθερο για την έξοδό μας.<br>
