---
title: "Εσπερίδα ενημέρωσης για το Ελ.Λογισμικό στο Κάμπινγκ Βούλας"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-07-17
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;"><span style="font-size: 12px;"><span style="font-family: verdana, geneva, sans-serif;">Ο Σύλλογός μας πραγματοποίησε το&nbsp;<strong>Σαββάτο 29/6/2013, 19:30</strong>&nbsp;ενημερωτική Εσπερίδα για το Ελ. Λογισμικό και τη χρήση του στους &quot;Εθελοντές Camping Βούλας&quot;.&nbsp;Η εκδήλωση έγινε στο χώρο της παραλίας Βούλας και το ενδεικτικό πρόγραμμα είναι αναρτημένο στο σχετικό ιστοχώρο του&nbsp;<a href="http://www.voulacamp.blogspot.gr/2013/06/blog-post_19.html" style="color: rgb(51, 51, 51);">Camping Βούλας</a>.</span></span></div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;">&nbsp;</div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;"><span style="font-size: 12px;"><span style="font-family: verdana, geneva, sans-serif;">Ο Σύλλογος παρουσίασε&nbsp;<strong>στα μέλη και τους φίλους</strong>&nbsp;των</span></span><span style="font-family: verdana, geneva, sans-serif; font-size: 12px;">&nbsp;&quot;Εθελοντών&nbsp;Camping Βούλας&quot; τις αρχές και τη φιλοσοφία του Ελ. Λογισμικού καθώς και επέδειξε την χρήση διανομής Linux. Κεντρίστηκε το ενδιαφέρον των συμμετεχόντων και απαντήθηκαν πολλές θεωρητικές και τεχνικές ερωτήσεις. Και βεβαίως όσοι παρεβρέθηκαν σ</span><span style="font-family: verdana, geneva, sans-serif; font-size: 12px;">την Εσπερίδα, απόλαυσαν επιπλέον και τη βραδυνή δροσιά της παραλίας. !</span></div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;">&nbsp;</div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;">&nbsp;</div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;"><img alt="" src="/media/esperida-enimerosis-gia-to-el-lo/img_1364_0.jpg" style="width: 400px; height: 300px;" /></div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;">&nbsp;</div><div style="font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif; line-height: 16.197917938232422px; text-align: justify;"><img alt="" src="/media/esperida-enimerosis-gia-to-el-lo/img_1373_1.jpg" style="width: 500px; height: 375px;" /></div>
