---
title: "Γενική συνέλευση + Εκλογές 2011"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-03-19
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>-----------------------------------------------------------------<br>
ΠΡΟΣΚΛΗΣΗ ΓΕΝΙΚΗΣ ΣΥΝΕΛΕΥΣΗΣ και ΠΙΤΤΑΣ 2011!<br>
-----------------------------------------------------------------<br>
<br>
01. Πρόσκληση-Εξαγγελία.<br>
<br>
Καλούνται όλα τα μέλη της Ένωσης Χρηστών και Φίλων Linux Ελλάδας<br>
(ΕΧΦΛΕ) να προσέλθουν στην Έδρα της Ένωσης στην Καλλιθέα για να<br>
συμμετάσχουν στις πιό κάτω εκδηλώσεις του Συλλόγου:<br>
Α. Εκλογο-απολογιστική Γενική Συνέλευση του Συλλόγου (Αρθ. 21)<br>
Β. Κοπή της Πρωτοχρονιάτικης Πίττας 2011.<br>
<br>
<br>
02. Ημέρα-Ωρα-Τόπος<br>
<br>
Έχουμε βρει μία καλή αίθουσα στον πολυχώρο Bios για το Σάββατο 19-03-2011. Σας καλούμε να έρθετε στις 16:00.<br>
Περισσότερες πληροφορίες για τον χώρο στο http://www.bios.gr/<br>
<br>
<br>
03. Τρόποι Προσέλευσης<br>
<br>
Το Bios είναι στην γωνία Σαλαμίνος 13 και Τσαλδάρη Παναγή (Πειραιώς) 84 με είσοδος από την Σαλαμίνο. Πάρετε την σκάλα στο επόμενο από πάνο και μπείτε μέσα την πόρτα που έχει πολλές αφίσες. Είναι κοντά στο σταθμό Αμαξοστάσιο ΗΛΠΑΠ. Μέσα έχουν ένα καφέ-μπαρ που θα είναι ανοιχτό.<br>
<br>
<br>
04.Προγραμματισμός - Διεξαγωγή<br>
<br>
Το πρόγραμμα των εκδηλώσεων είναι:<br>
<br>
*16:00-16:30 Προσέλευση- Εγγραφή μελών.<br>
*16:30-16:45 Έναρξη-Χαιρετισμοί<br>
*16:45-17:00 Εκλογή Προεδρείου Γ.Σ-Μέτρηση Απαρτίας-Εκλογή Εφ.Επ.<br>
*17:00-19:00 Διεξαγωγή Γ.Σ.-Συζήτηση θεμάτων-Ψηφοφορίες.<br>
*19:00-19:45 Λήξη Γ.Σ.- Κοπή Πίττας΄11 - Συνεστίαση.<br>
*20:30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Λήξη εκδηλώσεων.<br>
<br>
05. Δικαίωμα συμμετοχής στην Γ.Σ.<br>
<br>
Στις εκλογές έχουν δικαίωμα συμμετοχής τα ταμειακώς τακτοποιημένα μέλη<br>
(Αρθ.23,παρ.1 και Αρθ.20,παρ.2). Στις εκλογές τα μέλη μπορούν να<br>
συμμετάσχουν είτε αυτοπροσώπως είτε μέσω εκπροσώπησης από κάποιο άλλο<br>
μέλος του Συλλόγου, στο οποίο θα πρέπει να δώσουν ***υπογεγραμμένη<br>
γραπτή εξουσιοδότηση***. Εάν μέλη που κατοικούν εκτός Αθηνών, σκοπεύουν<br>
να ταξιδέψουν για να παραστούν στη συνέλευση, και είναι πρόθυμα να<br>
εκπροσωπήσουν άλλα μέλη του Συλλόγου που κατοικούν στην περιοχή τους,<br>
παρακαλούμε να τα ενημερώσουν ή να ενημερώσουν τη λίστα ταχυδρομείου του<br>
Συλλόγου hellug at lists.hellug.gr για να υπάρξει μεταξύ τους συνενόηση.<br>
<br>
Υποδείγμα ΕΞΟΥΣΙΟΔΟΤΗΣΗΣ για τις εκλογές μπορείτε να βρείτε σε λίγες μέρες στο site. Θα σας κάνουμε άλλη ενημέρωση.<br>
<br>
Τα μέλη μπορούν να τακτοποιήσουν τις οικονομικές τους υποχρεώσεις<br>
(ατομική και όσων εκπροσωπούν) ακόμα και την ημέρα των εκλογών. Προς<br>
τούτο θα υπάρχει ΓΡΑΜΜΑΤΕΙΑ στην είσοδο της αίθουσας όπου τα μέλη:<br>
<br>
Ι) θα μπορούν να ελέγχουν την οικ.ενημερότητά τους (και όσων<br>
εκπροσωπούν) και ανάλογα να την/τις τακτοποιούν.<br>
ΙΙ) θα κάνουν την εγγραφή για την Γ.Σ.<br>
ΙΙΙ) θα προμηθεύονται σχετική κάρτα ψηφοφόρου<br>
(ατομική και για όσους εκπροσωπούν βάσει εξουσιοδότησης)<br>
ΙV) θα παραλαμβάνουν το/-α ψηφοδέλτιο/-α (ατομικό και για όσους<br>
εκπροσωπούν βάσει εξουσιοδότησης) και ενημερωτικό υλικό.<br>
<br>
06. Υποψηφιότητες για Δ.Σ. και Ελ. Επιτροπή (ΕΕ)<br>
<br>
Με βάση το Αρθ.15 παρ.1, καλούνται όλα τα μέλη του Συλλόγου που<br>
ενδιαφέρονται, να δηλώσουν υποψηφιότητα συμμετοχής στις αρχαιρεσίες για<br>
το Διοικητικό Συμβούλιο (ΔΣ) και την Ελεγκτική Επιτροπή (ΕΕ) της Ένωσης<br>
HELLUG, μέχρι ***13-03-2011, 00:00*** με αποστολή απλής Υπεύθυνης Δήλωσης<br>
στο FAX 210-8140716 (επίσημη αναγγελία) και αποστολή mail στα<br>
info at hellug.gr και hellug at lists.hellug.gr (γνωστοποίηση).<br>
<br>
Υποδείγμα ΔΗΛΩΣΗΣ ΥΠΟΨΗΦΙΟΥ μπορείτε να βρείτε σε λίγες μέρες στο site. Θα σας κάνουμε άλλη ενημέρωση.<br>
<br>
Σημειώνεται ότι :<br>
α) Σύμφωνα με το Αρθ.29 παρ.2, μέλος της Ελεγκτική Επιτροπή (ΕΕ) *ΔΕΝ<br>
ΜΠΟΡΕΙ* να είναι κάποιος από τους υποψηφίους για τα αξιώματα του Δ.Σ.<br>
β) Η πιο πάνω προθεσμία θα είναι απόλυτη για να είναι δυνατόν να<br>
ετοιμαστεί η λίστα υποψηφίων και να εκτυπωθούν τα ψηφοδέλτια.<br>
<br>
07. Υποψηφιότητες για Εφορ. Επιτροπή (Εφ.Ε).<br>
<br>
Με βάση το Αρθ.30 παρ.1, θα πρέπει τα μέλη της Εφορ. Επιτροπής να<br>
εκλεγούν από την Γ.Σ. πρίν την ψηφοφορία για τα νέα όργανα του Συλλόγου<br>
και είναι υπεύθυνα για τη διεξαγωγή των εκλογών. Εν τούτοις καλόν θα<br>
είναι όσα μέλη ενδιαφέρονται να δηλώσουν τις υποψηφιότητές τους στις<br>
διευθύνσεις info at hellug.gr και hellug at lists.hellug.gr. Σημειώνεται ότι<br>
σύμφωνα με το Αρθ.30 παρ.2, μέλος της Εφορευτικής Επιτροπής ΔΕΝ μπορεί<br>
να είναι κάποιος από τους υποψηφίους για τα αξιώματα για τα οποία<br>
γίνονται οι εκλογές (Δ.Σ. και ΕΕ).<br>
<br>
08. Απαρτία Γ.Σ.- Έλλειψη Απαρτίας<br>
<br>
Όπως προβλέπεται και στον προγραμματισμό, κατά την έναρξη της Γ.Σ. στις<br>
18:30, θα γίνει καταμέτρηση απαρτίας των μελών βάσει του Άρθ.24, παρ.1.<br>
***Προς τούτο παρακαλούνται ιδιαίτερα όλα τα μέλη να έχουν&nbsp; ολοκληρώσει<br>
την προσέλευσή τους μέχρι τις 18:15***.<br>
<br>
Σε περίπτωση μη απαρτίας η Γ.Σ. ΜΟΝΟ, θα επαναληφθεί, χωρίς νέα<br>
ανακοίνωση, το επόμενο ***Σάββατο 26 Μαρτίου 2011***, στον ίδιο χώρο,την<br>
ίδια ώρα, με τα ίδια θέματα και θα θεωρηθεί σε απαρτία ανεξαρτήτως<br>
συμμετεχόντων μελών.<br>
<br>
09. Θέματα Γ.Σ.<br>
<br>
Τα θέματα της Γ.Σ. είναι:<br>
(α) Απολογισμός απερχόμενου Δ.Σ.<br>
(β) Έκθεση Ελ. Επιτροπής-Έγκριση Οικ. Ισολογισμού.<br>
(γ) Εκλογές νέου ΔΣ και ΕΕ. (Αρθ.20,παρ.4)<br>
(ε) Διάφορα θέματα-Ανακοινώσεις.<br>
<br>
10. Αποφάσεις-Ψηφοφορίες Γ.Σ<br>
<br>
Με βάση το Αρθ.25 παρ.2, όλες οι αποφάσεις των θεμάτων της Γ.Σ. θα<br>
προκύψουν με φανερή ψηφοφορία των μελών και επίδειξη της κάρτας/καρτών<br>
ψηφοφόρου/εξουσιοδοτούντων. Για λόγους οικονομίας χρόνου η εκλογή του<br>
νέου ΔΣ και ΕΕ, θα γίνει με ψηφοδέλτια που θα επιδοθούν στην Εφορευτική<br>
Επιτροπή για την καταμέτρησή και την εξαγωγή των αποτελεσμάτων.<br>
<br>
11. Τρόποι γνωστοποίησης της Πρόσκλησης Γ.Σ. στα μέλη<br>
<br>
Η πρόσκληση αυτή θα γνωστοποιηθεί στα μέλη με τους εξής τρόπους:<br>
(α) με αποστολή ατομικής ηλ. ειδοποίησης μέσω της λίστας μελών.<br>
(β) με μήνυμα στην λίστα του Συλλόγου "hellug".<br>
(γ) με ανακοίνωση στην ιστοσελίδα του Συλλόγου.<br>
Σε τυχόν ανεπίδοτα ατομικά ηλ.μηνύματα μελών θα αποσταλεί ταχυδρομική<br>
επιστολή.<br>
<br>
12. Διευκρινίσεις-Πληροφορίες<br>
<br>
Για οποιαδήποτε διευκρίνιση σχετικά με την πρόσκληση αυτή ή τη<br>
διαδικασία των εκλογών, μπορείτε να επικοινωνήσετε:<br>
α) Με το info at hellug.gr.<br>
β) Με την λίστα επικοινωνίας μελών hellug at lists.hellug.gr για θέματα του<br>
Συλλόγου.<br>
<br>
Γιά την Ένωση Χρηστών &amp; Φίλων Linux Ελλάδος (ΕΧΦΛΕ-HELLUG),<br>
<br>
Richard Kweskin<br>
Πρόεδρος</p>
