---
title: "Ετήσια Γενική Συνέλευση 2014"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-02-16
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Την Κυριακή 2 Μαρτίου 2014 από τις 17:00-21:00, θα πραγματοποιηθεί η ετήσια Γενική Συνέλευση του HELLUG στον πολυχώρο ΡΟΜΑΝΤΖΟ-BIOS [1], Αναξαγόρα 3-5, στην Ομόνοια [2]</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Όπως κάθε χρόνο, έτσι και φέτος, στα πλαίσια της Συνέλευσης θα έχουμε:</p>
<ul style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; -qt-list-indent: 1;"><li style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Τακτοποίηση εκκρεμοτήτων μελών</li>
<li style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Απολογισμό απερχόμενου ΔΣ και ενημέρωση από τις Ομάδες Εργασίας σχετικά με τις δράσεις του συλλόγου τη χρονιά που πέρασε</li>
<li style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Εκλογή νέου ΔΣ</li>
<li style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Ανοιχτή συζήτηση θεμάτων σχετικών με το σύλλογο και τις μελλοντικές του δράσεις</li>
<li style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Κοπή Πίτας</li>
<li style=" margin-top:0px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Εγγραφές νέων μελών</li></ul>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Από σήμερα μέχρι και την ημέρα διεξαγωγής της Γ.Σ. μπορούν τα μέλη [3] του συλλόγου που επιθυμούν να λάβουν μέρος στο Δ.Σ 2014., να υποβάλουν την υποψηφιότητά τους στη λίστα αλληλογραφίας <a href="mailto:hellug@hellug.gr"><span style=" text-decoration: underline; color:#0000c0;">hellug@lists.hellug.gr</span></a> ή στο <a href="mailto:board@hellug.gr"><span style=" text-decoration: underline; color:#0000c0;">board@hellug.gr</span></a> .</p>
