---
title: "Γενική Συνέλευση 2019"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2019-02-10
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---


<p>Ενημερώνουμε τα μέλη του Συλλόγου “Ένωση Χρηστών και Φίλων Linux Ελλάδας (HEL.L.U.G.)”, ότι την ΚΥΡΙΑΚΗ 03 ΜΑΡΤΙΟΥ 2019 και ώρα 17:30 – 21:30, θα διεξαχθεί η 22η Γενική Εκλογο-Απολογιστική Συνέλευση της Ένωσης.
</p>

<h4>ΤΟΠΟΣ</h4>
<p>
H πιο πάνω Γενική Εκλογο-Απολογιστική Συνέλευση θα γίνει σε αίθουσα των εγκαταστάσεων του Χαροκόπειου Πανεπιστήμιου Αθηνών (H.U.A.), στην οδό <a href="https://goo.gl/WohtV2">Ομήρου 9, Ταύρος</a>. Σε σύντομη περιγραφή, είναι 5' με τα πόδια από τον ΗΣΑΠ – Σταθμός “Ταύρου”. Βγαίνοντας από το Σταθμό από τη μεριά του Ταύρου (όχι της Καλλιθέας) και περπατώντας στον πεζόδρομο παράλληλα με τις γραμμές (οι γραμμές στο αριστερό χέρι),  προς τον ΗΣΑΠ της Καλλιθέας, μόλις τελειώσει ο πεζόδρομος, στο δεξί χέρι, είναι η οδός Ομήρου. Επιπλέον μπορεί να χρησιμοποιηθεί το <a href="https://goo.gl/maps/tCkV94K6KoR2">ελεύθερο parking</a> στο Σταθμό “Ταύρου” (https://goo.gl/maps/tCkV94K6KoR2) και στη συνέχεια οι ανωτέρω οδηγίες.
</p>

<h4>ΘΕΜΑΤΑ</h4>
<p>
Στα πλαίσια της Συνέλευσης θα πραγματοποιηθεί:
<pre>
* Τακτοποίηση εκκρεμοτήτων μελών.
* Εκλογή του Προέδρου και Γραμματέα της Γ.Σ.
* Απολογισμός απερχόμενου ΔΣ και ενημέρωση σχετικά με τις δράσεις του Συλλόγου 2017-2018.
* Οικονομικός Απολογισμός-Έκθεση Ελ. Επιτροπής και ψηφοφορία για την απαλλαγή του τρέχοντος Δ.Σ.
* Εκλογή της Εφορευτικής Επιτροπής (E.E).
* Εκλογή νέου ΔΣ.
* Ανοιχτή συζήτηση θεμάτων σχετικών με το Σύλλογο.
* Εγγραφές νέων μελών.
</pre>
</p>

<h4>ΥΠΟΨΗΦΙΟΤΗΤΕΣ</h4>
<p>Παρακαλούνται όλα τα μέλη του Συλλόγου να δηλώσουν την υποψηφιότητα τους:
<pre>
1) για το Διοικητικό Συμβούλιο (ΔΣ),
2) την Ελεγκτική Επιτροπή (Ελ.Ε), και
3) την Εφορευτική Επιτροπή (Ε.Ε.), που θα είναι υπεύθυνη για τη διεξαγωγή των εκλογών.
</pre></p>
<p>
Οι υποψήφιοι θα πρέπει να δηλώσουν τις υποψηφιότητες τους το συντομότερο δυνατό μέσω email, στα hellug at lists.hellug.gr και board at hellug.gr. Επίσης, την ημέρα των εκλογών θα πρέπει να συμπληρώσουν στην Εφορευτική Επιτροπή υπεύθυνη δήλωση της υποψηφιότητάς τους.
Σημειώνεται ότι μέλος της Εφορευτικής Επιτροπής (Ε.Ε.) δεν μπορεί να κάποιος από τους υποψηφίους για τα αξιώματα για τα οποία γίνονται οι εκλογές (ΔΣ και Ελ.Ε),ούτε μπορεί κανείς να είναι υποψήφιος για το ΔΣ και την Ελ.Ε ταυτόχρονα.
Στις εκλογές έχουν δικαίωμα συμμετοχής τα ταμειακά τακτοποιημένα μέλη. Τα μέλη μπορούν να τακτοποιήσουν τις οικονομικές τους υποχρεώσεις (αυτοπροσώπως ή μέσω εκπροσώπησης), ακόμα και την ημέρα των εκλογών.
</p>

<h4>ΕΚΠΡΟΣΩΠΗΣΕΙΣ</h4>
<p>
Στις εκλογές μπορούν να συμμετάσχουν τα μέλη είτε:
<pre>
1) αυτοπροσώπως
2) μέσω εκπροσώπησης από κάποιο άλλο μέλος του Συλλόγου, στο οποίο:
    α) θα πρέπει να δώσουν χειρόγραφη υπογεγραμμένη απλά γραπτή εξουσιοδότηση, ή εναλλακτικά,
    β) θα πρέπει να στείλουν φωτογραφία (scan ή photo) της χειρόγραφης υπογεγραμμένης απλά γραπτής εξουσιοδότησης στο email, info at hellug.gr, ώστε η Εφορευτική Επιτροπή (Ε.Ε.) να την περιλάβει στο παρευρισκόμενο μέλος.
Ειδικότερα ο τρόπος (β), μπορεί να χρησιμοποιηθεί από μέλη εκτός Αθηνών ή στο Εξωτερικό.
</pre>
</p>

<h4>ΓΕΝΙΚΑ ΘΕΜΑΤΑ</h4>
<p>
<pre>
1) H Γ. Συνέλευση 2019 θα μεταδοθεί στις 03/03/2019, από 18:30 GR Time/ GMT+2 (ώρα Ελλάδος) έως την λήξη της, μέσω τις
ιστοσελίδας <a href="https://stream.lnx.gr">stream.lnx.gr</a>. Επιπλέον κατά την διάρκεια της, πατώντας το πλήκτρο "Έκκίνηση", θα υπάρχει άμεσα η σύνδεση
συμμετοχής μέσω καναλιού IRC (<a href="irc://freenode/%23hellug">#hellug @ freenode</a>). Η δυνατότητα αυτή παρέχεται κυρίως για τα εκτός Αθηνών ή στο Εξωτερικό
μέλη,ώστε να συμμετέχουν στην Γ.Σ μέσω Διαδικτύου.
2) Για οποιαδήποτε διευκρίνιση σχετικά με την πρόσκληση αυτή ή τη διαδικασία των εκλογών, μπορείτε να επικοινωνήσετε με τη διεύθυνση info at hellug.gr.
3) Μετά το τέλος της Γ.Σ. θα γίνει στην ίδια αίθουσα, η κοπή της πίτας 2019, για όλα τα μέλη και φίλους του Συλλόγου.
</pre>
</p>
    
21ο Δ.Σ. HEL.L.U.G.

