---
title: "Γενική Συνέλευση 2016 στη Fosscom"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2016-03-27
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---

<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Το </span><span style=" font-family:'Arial, sans-serif'; font-size:9pt; text-decoration: underline;">Σάββατο 16 Απριλίου 2016</span><span style=" font-family:'Arial, sans-serif'; font-size:9pt;"> θα διεξαχθούν η Απολογιστική Γενική Συνέλευση και οι εκλογές για νέο Διοικητικό Συμβούλιο της Ένωσης Χρηστών και Φίλων Linux Ελλάδας (HEL.L.U.G.). </span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Η συνέλευση και οι εκλογές θα διεξαχθούν σε Αίθουσα του Πανεπιστημίου Πειραιά, κατά την πρώτη ημέρα έναρξης των εργασιών του </span><span style=" font-family:'Arial, sans-serif'; font-size:9pt; font-weight:600; color:#000000;">9oυ Συνεδρίου FOSSCOMM 2016</span><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;"> και από ώρα </span><span style=" font-family:'Arial, sans-serif'; font-size:9pt; font-weight:600;">13:00</span><span style=" font-family:'Arial, sans-serif'; font-size:9pt;"> έως το τέλος του Προγράμματος του Συνεδρίου.</span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<pre style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">Στα πλαίσια της Συνέλευσης θα πραγματοποιηθεί:</span></pre>
<pre style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">* Τακτοποίηση εκκρεμοτήτων μελών.</span></pre>
<pre style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">* Απολογισμός απερχόμενου ΔΣ και ενημέρωση σχετικά με τις δράσεις του Συλλόγου τη χρονιά που πέρασε.</span></pre>
<pre style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">* Εκλογή νέου ΔΣ.</span></pre>
<pre style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">* Ανοιχτή συζήτηση θεμάτων σχετικών με το Σύλλογο.</span></pre>
<pre style=" margin-top:0px; margin-bottom:12px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">* Εγγραφές νέων μελών.</span></pre>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Παρακαλούνται όλα τα μέλη του συλλόγου που ενδιαφέρονται, να δηλώσουν την υποψηφιότητα τους για το Διοικητικό Συμβούλιο (ΔΣ), την Ελεγκτική Επιτροπή (ΕΕ), καθώς και για την Εφορευτική Επιτροπή που θα είναι υπεύθυνη για τη διεξαγωγή των εκλογών.</span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Οι υποψήφιοι θα πρέπει να δηλώσουν τις υποψηφιότητές τους το συντομότερο </span><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">δυνατό στις διευθύνσεις </span><a href="http://lists.hellug.gr/mailman/listinfo/hellug"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; text-decoration: underline; color:#0000c0;">hellug at lists.hellug.gr</span></a><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;"> και </span><a href="mailto:board@hellug.gr"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; text-decoration: underline; color:#0000c0;">board@hellug.gr</span></a><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;">. </span><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Επίσης, την ημέρα των εκλογών θα πρέπει να συμπληρώσουν στην Εφορευτική Επιτροπή υπεύθυνη δήλωση της υποψηφιότητάς τους. Σημειώνεται ότι μέλος της εφορευτικής επιτροπής δεν μπορεί να κάποιος από τους υποψηφίους για τα αξιώματα για τα οποία γίνονται οι εκλογές,ούτε μπορεί κανείς να είναι υποψήφιος για το ΔΣ και την ΕΕ ταυτόχρονα.</span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Στις εκλογές έχουν δικαίωμα συμμετοχής τα ταμειακά τακτοποιημένα μέλη. Τα μέλη μπορούν να τακτοποιήσουν τις οικονομικές τους υποχρεώσεις ακόμα και την ημέρα των εκλογών.</span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Στις εκλογές μπορούν να συμμετάσχουν τα μέλη είτε αυτοπροσώπως είτε μέσω εκπροσώπησης από κάποιο άλλο μέλος του Συλλόγου, στο οποίο θα πρέπει να δώσουν υπογεγραμμένη γραπτή εξουσιοδότηση. </span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Εναλλακτικά τα μέλη μπορούν να στείλουν υπογεγραμμένη την εξουσιοδότηση σε μορφή φωτογραφίας (scan ή photo) στην διεύθυνση board@hellug.gr ώστε να επιδοθεί μέσω της Εφορευτικής Επιτροπής στο παρευρισκόμενο μέλος. Ειδικότερα ο τρόπος αυτός μπορεί να χρησιμοποιηθεί από μέλη εκτός Αθηνών ή στο Εξωτερικό.</span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Κατά την διάρκεια της Γ.Συνέλευσης θα μπορούν τα εκτός Αθηνών ή στο Εξωτερικό μέλη, να επικοινωνήσουν με την Εφορευτική Επιτροπή online.</span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'Arial, sans-serif'; font-size:9pt;">Για οποιαδήποτε διευκρίνιση σχετικά με την πρόσκληση αυτή ή τη διαδικασία των εκλογών, μπορείτε να επικοινωνήσετε με τη διεύθυνση </span><a href="mailto:info@hellug.gr"><span style=" font-family:'Arial, sans-serif'; font-size:9pt; text-decoration: underline; color:#0000c0;">info@hellug.gr</span></a><span style=" font-family:'Arial, sans-serif'; font-size:9pt; color:#000000;"> </span></p>
<p align="justify" style=" margin-top:12px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
