---
title: "Γενική Συνέλευση 2017"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2017-04-01
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---

<p>Την ΚΥΡΙΑΚΗ 2 ΑΠΡΙΛΙΟΥ 2017, θα διεξαχθεί η Απολογιστική Γενική Συνέλευση και οι εκλογές για νέο Διοικητικό Συμβούλιο της Ένωσης Χρηστών και Φίλων Linux Ελλάδας (HEL.L.U.G.).</p>

<p>
Η συνέλευση και οι εκλογές θα διεξαχθούν στο Metropolis Cafe, Λαρίσης 49, Αμπελόκηποι, (3' από το σταθμό “ΠΑΝΟΡΜΟΥ” του Μετρό) και από ώρα 17:00 έως 22:00.
</p><p>
Στα πλαίσια της Συνέλευσης θα πραγματοποιηθεί:
<pre>
* Τακτοποίηση εκκρεμοτήτων μελών.
* Απολογισμός απερχόμενου ΔΣ και ενημέρωση σχετικά με τις δράσεις του Συλλόγου τη χρονιά που πέρασε.
* Εκλογή νέου ΔΣ.
* Ανοιχτή συζήτηση θεμάτων σχετικών με το Σύλλογο.
* Εγγραφές νέων μελών.
</pre>
</p>
<p>
Παρακαλούνται όλα τα μέλη του συλλόγου που ενδιαφέρονται, να δηλώσουν την υποψηφιότητα τους για το Διοικητικό Συμβούλιο (ΔΣ), την Ελεγκτική Επιτροπή (ΕΕ), καθώς και για την Εφορευτική Επιτροπή που θα είναι υπεύθυνη για τη διεξαγωγή των εκλογών.
</p><p>
Οι υποψήφιοι θα πρέπει να δηλώσουν τις υποψηφιότητες τους το συντομότερο δυνατό στις διευθύνσεις hellug at lists.hellug.gr και board at hellug.gr. Επίσης, την ημέρα των εκλογών θα πρέπει να συμπληρώσουν στην Εφορευτική Επιτροπή υπεύθυνη δήλωση της υποψηφιότητάς τους. Σημειώνεται ότι μέλος της Εφορευτικής Επιτροπής δεν μπορεί να κάποιος από τους υποψηφίους για τα αξιώματα για τα οποία γίνονται οι εκλογές,ούτε μπορεί κανείς να είναι υποψήφιος για το ΔΣ και την ΕΕ ταυτόχρονα.
</p><p>
Στις εκλογές έχουν δικαίωμα συμμετοχής τα ταμειακά τακτοποιημένα μέλη. Τα μέλη μπορούν να  τακτοποιήσουν τις οικονομικές τους υποχρεώσεις ακόμα και την ημέρα των εκλογών.
</p>
Στις εκλογές μπορούν να συμμετάσχουν τα μέλη είτε αυτοπροσώπως είτε μέσω εκπροσώπησης από κάποιο άλλο μέλος του Συλλόγου, στο οποίο θα πρέπει να δώσουν υπογεγραμμένη γραπτή εξουσιοδότηση.
<p>
Εναλλακτικά τα μέλη μπορούν να στείλουν υπογεγραμμένη την εξουσιοδότηση σε μορφή φωτογραφίας (scan ή photo) στην διεύθυνση board at hellug.gr ώστε να επιδοθεί μέσω της Εφορευτικής Επιτροπής στο παρευρισκόμενο μέλος. Ειδικότερα ο τρόπος αυτός μπορεί να χρησιμοποιηθεί από μέλη εκτός Αθηνών ή στο Εξωτερικό.
</p> <p>
Η Γ. Συνέλευση θα μεταδοθεί στις 02/04/2017, από τις 17:00 (ώρα ελλάδος) εώς την λήξη της, μέσω τις ιστοσελίδας <a href="https://stream.lnx.gr">stream.lnx.gr</a>. Επιπλέων, πατώντας το πλήκτρο Έκκίνηση θα υπάρχει άμεσα η σύνδεση συμμετοχής μέσω καναλιού IRC (#hellug @ freenode). Η δυνατότητα αυτή παρέχεται κυρίως για τα εκτός Αθηνών ή στο Εξωτερικό μέλη,ώστε να συμμετέχουν στην Γ.Σ μέσω Διαδικτύου.
</p><p>
Για οποιαδήποτε διευκρίνιση σχετικά με την πρόσκληση αυτή ή τη διαδικασία των εκλογών, μπορείτε να επικοινωνήσετε με τη διεύθυνση  board at hellug.gr.
</p>

