---
title: "Γενική Συνέλευση HELLUG 2012"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2012-02-11
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>την Κυριακή 12 Φεβρουαρίου 2012 θα πραγματοποιηθεί στο χώρο <a href="http://www.bios.gr/">BIOS</a> η ετήσια Γενική Συνέλευση του HELLUG. Όπως κάθε χρόνο, έτσι και φέτος, στα πλαίσια της Συνέλευσης θα έχουμε:</p><ul><li>Κοπή Πίτας</li><li>Απολογισμό απερχόμενου ΔΣ και ενημέρωση από τις Ομάδες Εργασίας σχετικά με τις δράσεις του συλλόγου τη χρονιά που πέρασε</li><li>Εκλογή νέου ΔΣ</li><li>Ανοιχτή συζήτηση θεμάτων σχετικών με το σύλλογο και τις μελλοντικές του δράσεις</li><li>Τακτοποίηση εκκρεμοτήτων μελών</li><li>Εγγραφές νέων μελών</li></ul><p>Ώρα προσέλευσης: 16:30</p><p>Όπως πάντα, η είσοδος θα είναι ελεύθερη για όλους. Θα χαρούμε λοιπόν ιδιαίτερα αν μας τιμήσετε με την παρουσία σας!</p>
