---
title: "Γεν.Συνέλευση HEL.L.U.G.2023-Αποτελέσματα Αρχαιρεσιών."
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2023-03-21
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "Ολοκληρώθηκε η διεξαγωγή της 25ης Τακτικής Γενικής Εκλογο-Απολογιστικής Συνέλευσης και Ψηφοφορίας για τα Όργανα του Σωματείου"
---
<table style="width:100%">
  <tr>
    <td style="width:20%">
      <center>
      <img src="/media/Hellug-GS2023/hellug-vote-box-banner-election2023.jpg" alt="" style="width:176px;height:150px;">
      </center>
    </td>
    <td>Ολοκληρώθηκε η διεξαγωγή της 25ης Τακτικής Γενικής Εκλογο-Απολογιστικής Συνέλευσης και Ψηφοφορίας για τα Όργανα του Σωματείου, αποκλειστικά ΕΞ ΑΠΟΣΤΑΣΕΩΣ μέσω των Συστημάτων Jitsi/Meet Hellug και ZEUS/GRNEΤ.<br><br>
Η Εφορευτική Επιτροπή ανακοίνωσε τα εκλογικά αποτελέσματα και τα Μέλη μπορούν να ενημερωθούν για τα <a href="https://lists.hellug.gr/pipermail/hellug/2023/011532.html" target="_blank" title="HELLUG-Elections Results 2023">Αποτελέσματα της Ψηφοφορίας ZEUS/GRNET στην ΓΣ 2023 !.</a><br><br>
Ευχαριστούμε όλα τα Μέλη μας για την συμμετοχή τους στην κορυφαία διαδικασία του Συλλόγου !!
    </td>
    </tr>
</table>


   
