---
title: "HELLUG SOCIAL! Καλοκαιρινή συνάντηση!"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-07-14
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>Αγαπητά μέλη και φίλοι του συλλόγου, την Πέμπτη 14/7 αφήνουμε τα τερματικά μας και πάμε για ποτό&nbsp;και κουβέντα στην ταράτσα του <a href="http://www.bios.gr">BIOS</a> [1] (...με θέα την Ακρόπολη!).&nbsp;</p><p>Η συνάντηση θα πραγματοποιηθεί στις 20:30 και θα είναι η τελευταία&nbsp;της σαιζόν, μιας και θα επιστρέψουμε με τεχνικές παρουσιάσεις και&nbsp;άλλα δρώμενα από Σεπτέμβρη πλέον.</p><p>Ελπίζουμε λοιπόν να σας δούμε εκεί.</p><p>Καλό Καλοκαίρι!</p><p>[1] BIOS, Πειραιώς 84, Αθήνα</p>
