---
title: "Hellug and Software Libre Society present Jubler and Quagga"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-02-11
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'DejaVu Serif'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; font-size: medium;"><span class="Apple-style-span" style="border-collapse: collapse; font-family: arial,sans-serif; font-size: 13px;">μετά από αρκετό καιρό, λόγω συνεχόμενων προβλημάτων, ο Hellug σε συνεργασία με την Software Libre Society του Παν. Πειραιώς διοργανώνουν<br /> τεχνική ομιλία την Παρασκευή 11/2/2011 στην αίθουσα 210 του Πανεπιστημίου Πειραιά, Καραολή και Δημητρίου 80 και ώρα 18:00.<br /> Οι παρουσιάσεις είναι:</span></span></p><p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'DejaVu Serif'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; font-size: medium;"><span class="Apple-style-span" style="border-collapse: collapse; font-family: arial,sans-serif; font-size: 13px;">Jubler - An open-source multi-platform subtitle editor<br /> Quagga - Routing like a Pro</span></span></p><p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'DejaVu Serif'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; font-size: medium;"><span class="Apple-style-span" style="border-collapse: collapse; font-family: arial,sans-serif; font-size: 13px;">Facebook Event: </span></span><a href="https://www.facebook.com/event.php?eid=189946977695596">https://www.facebook.com/event.php?eid=189946977695596</a></p>
