---
title: "Hellug SOCIAL! (Holiday Special 2011)"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-12-21
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>ο Hellug στα πλαίσια των εορταστικών εκδηλώσεων για το 2011, προσκαλεί όλους τους φίλους του Ελεύθερου Λογισμικού για φαγητό και ποτό στο <a href="http://maps.google.com/maps?q=%CE%9C%CE%A0%CE%91%CE%A7%CE%91%CE%A1%CE%99+-+%CE%91%CE%B8%CE%B1%CE%BD%CE%B1%CF%83%CE%AF%CE%BF%CF%85+%CE%94%CE%B9%CE%AC%CE%BA%CE%BF%CF%85+12,+%CE%A0%CE%B5%CF%8D%CE%BA%CE%B7,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1&amp;ie=UTF8&amp;hq=%CE%9C%CE%A0%CE%91%CE%A7%CE%91%CE%A1%CE%99+-&amp;hnear=%CE%91%CE%B8%CE%B1%CE%BD%CE%B1%CF%83%CE%AF%CE%BF%CF%85+%CE%94%CE%B9%CE%AC%CE%BA%CE%BF%CF%85+12,+%CE%A0%CE%B5%CF%8D%CE%BA%CE%B7+15121,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1,+%CE%95%CE%BB%CE%BB%CE%AC%CF%82&amp;t=m&amp;z=16&amp;vpsrc=0">ΜΠΑΧΑΡΙ</a> την Τετάρτη 21 Δεκεμβρίου 2011 και ώρα 20:30.</p><p>Ελάτε να τα πούμε, με καλό κρασί, άφθονους μεζέδες και την καλύτερη παρέα!</p><p>Περισσότερες πληροφορίες / δηλώσεις συμμετοχής:</p><p>http://www.doodle.com/ycbw7h64w7bed9sz</p><p>Θα χαρούμε πολύ να σας δούμε εκεί!</p>
