---
title: "Hellug Meetup"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2012-03-11
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>&nbsp;</p><p style="margin-top: 0.4em; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; line-height: 1.5em; ">Τακτικές συναντήσεις (κάθε 1η Τετάρτη του μήνα) των μελών και των φίλων της Hellug (Ένωση Φίλων και Χρηστών Λίνουξ Ελλάδας) στο χώρο του Hackerspace.</p><p style="margin-top: 0.4em; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; line-height: 1.5em; "><br>
Πιθανόν να συμπίπτουν με ανοικτές συνεδριάσεις του Δ.Σ. της Hellug (στο βαθμό που θα υπάρχει απαρτία των μελών του).</p><p style="margin-top: 0.4em; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; line-height: 1.5em; "><br>
Σε κάθε περίπτωση θα βρίσκεται τουλάχιστον ένα μέλος του Δ.Σ. στο χώρο για τακτοποίηση διαδικαστικών θεμάτων των μελών (π.χ. πληρωμή ετήσιας συνδρομής).</p><p style="margin-top: 0.4em; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; line-height: 1.5em; "><br>
Οι συναντήσεις αυτές έχουν ως στόχο τόσο την τακτική συνεύρεση των μελών και των φίλων της Hellug για συζητήσεις και για την εξυπηρέτηση διαδικαστικών θεμάτων τους, όσο και την δυνατότητα επαφής τους και γνωριμίας τους με το χώρο του Hackerspace και τα δρώμενα του.</p>
