---
title: "Infosystem 2009 (20/11/2009)"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2009-11-20
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>&nbsp;</p><p>Η Ένωση Χρηστών και Φίλων Linux Ελλάδας (Hellenic Linux Users Group-HEL.L.U.G.), σε συνεργασία με την&nbsp;<a href="http://www.ellak.gr/index.php?option=com_content&amp;task=view&amp;id=6826&amp;" rel="nofollow">Εταιρία ΕΛ/ΛΑΚ</a>, συνεχίζοντας την παράδοση των τελευταίων ετών, θα συμμετέχει και φέτος με το stand 14A (περίπτερο 6) στην 23η ΔΙΕΘΝΗ ΕΚΘΕΣΗ ΠΛΗΡΟΦΟΡΙΚΗΣ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΚΑΙ ΨΗΦΙΑΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ,&nbsp;<a href="http://www.helexpo.gr/default.aspx?lang=el-GR&amp;loc=1&amp;page=1204" rel="nofollow">INFOSYSTEM 2009</a>, που θα διεξαχθεί στην Θεσσαλονίκη στις 26-29 Νοεμβρίου 2009.</p><p>Σας περιμένουμε όλους εκεί!<br /><br /><img alt="" src="http://www_2010.hellug.gr/uploads/OSullogos/infosystem09.png" title="" />&nbsp;<br /><br /><br />[σχετική συζήτηση στο&nbsp;<a href="https://forum.hellug.gr/t/infosystem-2009/4454" rel="nofollow" target="_blank">forum</a>]</p>
