---
title: "InstallFest Στo TEI Πειραιά!!"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2001-12-15
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>Ο επίσημος ελληνικός σύλλογος φίλων του Linux, Hellug, σε συνεργασία με το τμήμα Η/Υ Συστημάτων του ΤΕΙ Πειραιά, θα πραγματοποιήσει ένα διήμερο installfest.</p><p>Tο Athens InstallFest 2001 θα πραγματοποιηθεί στις 15 και 16 Δεκεμβρίου 2001 στο χώρο του ΤΕΙ Πειραιά, αμφιθέατρo Χατζηνικολάου από τις 10:00 το πρωί έως και τις 17:00 το απόγευμα.</p><p>Στο <strike><a href="">https://www.hellug.gr/installfest2001/</a></strike>θα βρείτε τη φόρμα εγγραφής, το πρόγραμμα των ομιλιών που θα πραγματοποιηθούν, καθώς επίσης και χάρτη της περιοχής.</p><p>Σας περιμένουμε!!</p>
