---
title: "Λειτουργία του Open-Lab (Μαρούσι)"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-04-18
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<div>Αξιοποιώντας την δωρεάν παραχώρηση του <a href="https://maps.google.com/maps?q=%CE%9B%CE%B7%CF%84%CE%BF%CF%8D%CF%82+10,+%CE%9C%CE%B1%CF%81%CE%BF%CF%8D%CF%83%CE%B9,+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&amp;hl=el&amp;ie=UTF8&amp;ll=38.053245,23.810141&amp;spn=0.00953,0.01929&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,79.013672&amp;oq=%CE%BB%CE%B7%CF%84%CE%BF%CF%8D&amp;hnear=%CE%9B%CE%B7%CF%84%CE%BF%CF%8D%CF%82+10,+%CE%9C%CE%B1%CF%81%CE%BF%CF%8D%CF%83%CE%B9,+%CE%92%CF%8C%CF%81%CE%B5%CE%B9%CE%BF%CF%82+%CE%A4%CE%BF%CE%BC%CE%AD%CE%B1%CF%82+%CE%91%CE%B8%CE%B7%CE%BD%CF%8E%CE%BD,+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&amp;t=m&amp;z=16">χώρου στο Μαρούσι</a>, από το μέλος μας Πάνο Χρηστέα, προγραμματίζεται η λειτουργία του χώρου για το επόμενο τρίμηνο ως εξής:</div>
<div>&nbsp;</div>
<div>
	<p style="margin-bottom: 0cm;"><u><strong>Ημέρα &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Ημερομηνία &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Σημείο συνάντησης</strong></u></p>
	<p style="margin-bottom: 0cm">&nbsp;</p>
	<p style="margin-bottom: 0cm;">Τετάρτη &nbsp; &nbsp; &nbsp; &nbsp; 10/04/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">Τετάρτη &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span lang="en-US">17</span>/04/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">Σάββατο &nbsp; &nbsp; &nbsp; &nbsp;20/04/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Lab (Μαρούσι)-<u><strong> (Ακυρώνεται)</strong></u></p>
	<p style="margin-bottom: 0cm">Σάββατο &nbsp; &nbsp; &nbsp; &nbsp;27/04/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">&nbsp;</p>
	<p style="margin-bottom: 0cm">Σάββατο &nbsp; &nbsp; &nbsp; &nbsp;11/05/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">Τετάρτη &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;22/05/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hackerspace</p>
	<p style="margin-bottom: 0cm">Τετάρτη &nbsp; &nbsp; &nbsp; &nbsp; 29/05/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">&nbsp;</p>
	<p style="margin-bottom: 0cm">Τετάρτη &nbsp; &nbsp; &nbsp; &nbsp; 04/06/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">Τετάρτη &nbsp; &nbsp; &nbsp; &nbsp;12/06/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hackerspace</p>
	<p style="margin-bottom: 0cm">Σάββατο &nbsp; &nbsp; &nbsp; &nbsp;22/06/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Lab (Μαρούσι)</p>
	<p style="margin-bottom: 0cm">Σάββατο &nbsp; &nbsp; &nbsp; &nbsp;29/06/13 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Lab (Μαρούσι)</p>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>Στο πρόγραμμα αυτό περιλαμβάνεται και η επίσκεψη μελών ή φίλων του Συλλόγου στο <a href="http://hackerspace.gr/wiki/Getting_Here">hackerspace.gr.</a></div>

