---
title: "Λίστες Ταχυδρομείου Hellug"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-04-28
category_title: Σύλλογος
tags: [Επικοινωνία]
peri-hellug: [epikoinonia-1]
---
        
<div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;">Πρόκειται για λίστες ταχυδρομείου (mailing lists) που σκοπό έχουν την γρήγορη ενημέρωση, την επίλυση αποριών και τις γενικές συζητήσεις. Όλες οι διαθέσιμες λίστες που φιλοξενούνται στον Hellug μπορούν να βρεθούν εδώ.</span></span></div><div style="text-align: center;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><strong>Βασικές Λίστες</strong></span></span></div><ul><li><div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr">Linux Greek Users</a>: Η γενική λίστα συζητήσεων</span></span></div></li><li><div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr">Hellug</a>: Οι δημόσιες συζητήσεις για τα θέματα του σύλλογου Hellug</span></span></div></li><li><div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr">Migrate To Linux</a>: Η λίστα του σύλλόγου για τους αρχαίους χρήστες</span></span></div></li><li><div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr">Members</a>: Η λίστα για τα εσωτερικά θέματα του συλλόγου</span></span></div></li><li><div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr">I18ngr</a>: Η λίστα ασχολείται κυρίως με συζητήσεις που αφορούν τις ελληνικοποιήσεις και μεταφράσεις εφαρμογών ανοικτού λογισμικού</span></span></div></li><li><div><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr">Unix Admin Gr</a>: Η λίστα όπου όλοι όσοι ασχολούνται με το Unix επαγγελματικά στην Ελλάδα</span></span></div></li></ul><div style="text-align: center;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="http://lists.hellug.gr/mailman/listinfo">Όλες οι υπόλοιπες λίστες &gt;&gt; </a></span></span></div><div>&nbsp;</div><div>&nbsp;</div><div style="text-align: center;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><strong>Είστε νέος χρήστης των λιστών; Διαβάστε:</strong></span></span></div><p>&nbsp;</p><div style="text-align: center;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr/">Τους κανόνες</a></span></span></div><p>&nbsp;</p><div style="text-align: center;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><a href="https://lists.hellug.gr/">Την αποποίηση δικαιώματος και ευθυνών (disclaimer)</a></span></span></div><br /><p>&nbsp;</p>
