---
title: "Κοινωνική Συνάντηση Μελών & Φίλων Συλλόγου HEL.L.U.G."
layout: "meetups"
bannertemplate: "hellug-banner.html"
date: 2024-01-29
category_title: Δράσεις
tags: [Meetups]
draseis: [meetups]
meetupdate: 2024-02-03T19:30:00+02:00
meetuplocation: "Cafe-Restaurant MOZART CALDI, Χρυσοστόμου Σμύρνης 14, Αιγάλεω."
summary: "Μέλη & Φίλοι του Συλλόγου μετά την έναρξη της Νέας Χρονιάς 2024, δίνουμε και πάλι ένα ραντεβού κοινωνικού χαρακτήρα για
όλους μας"
---


<h4>Μέλη & Φίλοι του Συλλόγου </h4>
      <center> Μετά την έναρξη της Νέας Χρονιάς 2024, δίνουμε και πάλι ένα ραντεβού κοινωνικού χαρακτήρα για
όλους μας..,<br> όπου (εκτός απροόπτου) θα παρευρεθεί και ο <b>Επίτιμος Πρόεδρος κ.R.Kweskin.</b>
     <br>
     <b><h3>Θα βρεθούμε το ΣΑΒΒΑΤΟ 03/02/2024, στις 19:30, στο "παλιό στέκι" μας,<br> Cafe-Restaurant MOZART CALDI, Χρυσοστόμου Σμύρνης 14, Αιγάλεω!</h3></b>
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=23.673809766769413%2C37.99079363408055%2C23.68486046791077%2C37.99583293864531&amp;layer=mapnik&amp;marker=37.993313329637594%2C23.679335117340088" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.99331&amp;mlon=23.67934#map=17/37.99331/23.67934&amp;layers=N">Προβολή Μεγαλύτερου Χάρτη</a></small>
     <br> Σημειώνουμε ότι είναι επιθυμητή η συμμετοχή των Mελών, αλλά και φίλων των φίλων των φίλων..τους...!<br><br>
     Επιπλέον, για πρώτη φορά,<br><b>θα γίνει προσπάθεια συμμετοχής Μελών από όπου βρίσκονται,</b> μέσω Laptop-Κάμερας-Ηχείων <br>και <a href="https://meet.hellug.gr">της πλατφόρμας τηλεδιασκέψεων του Συλλόγου, https://meet.hellug.gr/</a>
     </center>
     <center>Σας περιμένουμε για να βρεθούμε και να τα πούμε ...!!</center>
