---
title: "Κοινωνική Συνάντηση Μελών & Φίλων Συλλόγου HEL.L.U.G."
layout: "meetups"
bannertemplate: "hellug-banner.html"
date: 2024-08-31
category_title: Δράσεις
tags: [Meetups]
draseis: [meetups]
meetupdate: 2024-09-01T19:30:00+02:00
meetuplocation: "Ritch Cafe - Ακτή Δηλαβέρη 9 (έναντι Θεάτρου 'Δελφινάριο'), Πειραιάς."
summary: "Ανανεώνουμε το ραντεβού κοινωνικού χαρακτήρα για όλους μας !"
---

<h4>Μέλη & Φίλοι του Συλλόγου </h4>
      <center> Μετά την καλοκαιρινή ανάπαυλα, δίνουμε ραντεβού ..,<br>
     <br>
     <b><h3>... την ΚΥΡΙΑΚΗ 01 ΣΕΠΤΕΜΒΡΙΟΥ 2024, στις 19:30,<br>στο Cafe-Restaurant Ritch Cafe - Ακτή Δηλαβέρη 9 (έναντι Θεάτρου "Δελφινάριο"), Πειραιά !</h3></b>
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=23.658542633056644%2C37.93920118873682%2C23.66562366485596%2C37.94300027827038&amp;layer=mapnik&amp;marker=37.9411007580527%2C23.6620831489563" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.941101&amp;mlon=23.662083#map=18/37.941101/23.662083&amp;layers=N">Προβολή Μεγαλύτερου Χάρτη</a></small>
     <br><br> Σημειώνουμε ότι είναι επιθυμητή η συμμετοχή των Mελών, αλλά και Φίλων των Φίλων των Φίλων..τους...!<br>
     </center><br>
     <center><b>Σας περιμένουμε ...!!</b></center>
