---
title: "Κοινωνική Συνάντηση Μελών & Φίλων Συλλόγου HEL.L.U.G."
layout: "meetups"
bannertemplate: "hellug-banner.html"
date: 2024-05-13
category_title: Δράσεις
tags: [Meetups]
draseis: [meetups]
meetupdate: 2024-05-19T19:30:00+02:00
meetuplocation: "Cafe-Restaurant MOZART CALDI, Χρυσοστόμου Σμύρνης 14, Αιγάλεω."
summary: "Μετά και τις Πασχαλινές Αργίες 2024, δίνουμε και πάλι ένα ραντεβού κοινωνικού χαρακτήρα για όλους μας!"
---


<h4>Μέλη & Φίλοι του Συλλόγου </h4>
      <center> Δίνουμε και πάλι ένα ραντεβού κοινωνικού χαρακτήρα για όλους μας..,<br>
     <br>
     <b><h3>Θα βρεθούμε την ΚΥΡΙΑΚΗ 19 ΜΑΙΟΥ 2024, στις 19:30, στο <br> Cafe-Restaurant MOZART CALDI, Χρυσοστόμου Σμύρνης 14, Αιγάλεω!</h3></b>
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=23.673809766769413%2C37.99079363408055%2C23.68486046791077%2C37.99583293864531&amp;layer=mapnik&amp;marker=37.993313329637594%2C23.679335117340088" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.99331&amp;mlon=23.67934#map=17/37.99331/23.67934&amp;layers=N">Προβολή Μεγαλύτερου Χάρτη</a></small>
     <br><br> Σημειώνουμε ότι είναι επιθυμητή η συμμετοχή των Mελών, αλλά και φίλων των φίλων των φίλων..τους...!<br>
     <br><b>Επιπλέον, θα γίνει προσπάθεια συμμετοχής Μελών από όπου βρίσκονται,</b> με Laptop-Κάμερα-Ηχεία, <br><a href="https://meet.hellug.gr">μέσω της Ομάδας *HELLUG*, της πλατφόρμας Τηλεδιασκέψεων του Συλλόγου, https://meet.hellug.gr/</a>
     </center><br>
     <center>Σας περιμένουμε για να βρεθούμε και να τα πούμε ...!!</center>
