---
title: "Προκήρυξη Γενικής Συνέλευσης HEL.L.U.G.- Κυριακή 09 Μαρτίου 2025"
layout: "meetups"
bannertemplate: "hellug-banner.html"
date: 2025-02-18
category_title: Δράσεις
tags: [Meetups]
draseis: [meetups]
meetupdate: 2025-03-09T18:30:00+03:00
meetuplocation: "Εξ Αποστάσεως Γεν.Συνέλευση & Ψηφοφορία 2025"
summary: "Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) προκηρύσει την Ετήσια Εκλογοαπολογιστική Γενική Συνέλευση 2025 !"
---
<center>
<figcaption>Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) προκηρύσει την Ετήσια Εκλογοαπολογιστική Γενική Συνέλευση την <b>....ΚΥΡΙΑΚΗ 09 ΜΑΡΤΙΟΥ 2025 και ώρα 18:30–21:30 !</b>
</figcaption>
      <img src="/media/Hellug-GS2025/hellug-vote-GS2025.png" alt="VOTE !!!" style="width:700px;height:297px;">
<figcaption>
Καλούνται τα Μέλη του Συλλόγου, να παραστούν προσωπικά, στη διεξαγωγή της 27ης Τακτικής Γενικής Εκλογο-Απολογιστικής Συνέλευσης και Ψηφοφορίας για τα Όργανα του Σωματείου, που θα διεξαχθούν αποκλειστικά ΕΞ ΑΠΟΣΤΑΣΕΩΣ μέσω των Συστημάτων Jitsi/Meet Hellug και ZEUS/GRNEΤ.
<br>
<br>
Τα Μέλη μπορούν να ενημερωθούν αναλυτικά από την <a href="https://lists.hellug.gr/pipermail/hellug/2025/011579.html" target="_blank" title="HELLUG-Elections 2025">ΠΡΟΚΗΡΥΞΗ της Γ.Σ. 2025.</a>
<br>Για την συμμετοχή τους στη Ψηφοφορία θα λάβουν προσωπικό μήνυμα και σύνδεσμο, από το Σύστημα ZEUS/GRNEΤ.
</figcaption>
</center>
