---
title: "HEL.L.U.G. - SummerSchool 2023 - Συναρμολόγηση FossBot/GFOOS στο 3οΕ.Κ.Πειραιά."
layout: "meetups"
bannertemplate: "hellug-banner.html"
date: 2023-05-30
category_title: Δράσεις
tags: [Meetups]
draseis: [meetups]
meetupdate: 2023-06-29T18:30:00+02:00
meetuplocation: "3ο Ε.Κ.Πειραιά (Δραπετσώνα)"
summary: "Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) διοργανώνει μαζί με τους Φορείς 3ο Ε.Κ.Πειραιά, Οργανισμό Ανοικτών Τεχνολογιών (ΕΕΛΛΑΚ) και Δήμο Δραπετσώνας-Κερατσινίου, ΘΕΡΙΝΟ ΣΧΟΛΕΙΟ, με θέμα ΣΥΝΑΡΜΟΛΟΓΗΣΗ του ΣΧΟΛΙΚΟΥ robot FOSSBOT (GFOSS)"
---

<br>
      <center><b>Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) διοργανώνει μαζί με τους Φορείς 3ο Ε.Κ.Πειραιά, Οργανισμό Ανοικτών Τεχνολογιών (ΕΕΛΛΑΚ) και Δήμο Δραπετσώνας-Κερατσινίου,</b>
     <br>
     <h3>ΘΕΡΙΝΟ ΣΧΟΛΕΙΟ,</h3>
     <br>με θέμα <b>"ΣΥΝΑΡΜΟΛΟΓΗΣΗ του ΣΧΟΛΙΚΟΥ robot FOSSBOT (GFOSS)".</b>
     <br>
     <b><h3>από 29-30 Ιουνίου & από 03-12 Ιουλίου 2023 (18:30–21:30),</h3></b>
     <br><br> στις εγκαταστάσεις του <u>3ου Ε.Κ.Πειραιά</u> (Δραπετσώνα, Μαρκ. Μπότσαρη 124, Δραπετσώνα 18648)
    <iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=23.605799674987793%2C37.93996694530324%2C23.634982109069828%2C37.9613879718885&amp;layer=mapnik&amp;marker=37.95067823933691%2C23.62039089202881" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.9507&amp;mlon=23.6204#map=15/37.9507/23.6204">Προβολή Μεγαλύτερου Χάρτη</a></small>
     <center>Για περισσότερες πληροφορίες και εγγραφές συμμετοχής, μπορείτε να δείτε την <a href="/media/SS2023/SummerSchool2023-3oEK-FossBot-Afisa-v.03.pdf" target="_blank" title="Download Brochure 3D Printing"><b>Αφίσα</b></a> και το <a href="/media/SS2023/SummerSchool2023-3oEK-FossBot-Programm-v.02.pdf" target="_blank" title="Download Programm 3D Printing"><b>Πρόγραμμα</b></a> του Θερινού Σχολείου.</center>
     <br>
     <br>
     <center><img src="/media/SS2023/SummerSchool2023-3oEK-FossBot-Afisa-v.03.png" alt="Αφίσα Θ.Σχολείου 3D Printing" style="width:400px;height:571px;"></center>
     <br>
