---
title: "ΠΡΟΚΗΡΥΞΗ ΓΕΝ. ΣΥΝΕΛΕΥΣΗΣ HEL.L.U.G.- ΚΥΡ 19 ΜΑΡΤΙΟΥ 2023 – 18:30-21:30"
layout: "meetups"
bannertemplate: "hellug-banner.html"
date: 2023-02-25
category_title: Δράσεις
tags: [Meetups]
draseis: [meetups]
meetupdate: 2023-03-19T18:30:00+03:00
meetuplocation: "Εξ Αποστάσεως Γεν.Συνέλευση & Ψηφοφορία 2023"
summary: "Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) προκηρύσει την ετήσια Εκλογοαπολογιστική Γενική Συνέλευση την..."
---
<center>
	<figcaption>Η Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) προκηρύσει την ετήσια Εκλογοαπολογιστική Γενική Συνέλευση την <b>ΚΥΡΙΑΚΗ 19 ΜΑΡΤΙΟΥ 2023 και ώρα 18:30–21:30 !</b></figcaption>
	<img src="/media/Hellug-GS2023/hellug-vote-gs2023.png" alt="VOTE !!!" style="width:214px;height:300px;">
	<figcaption>
		Καλούνται τα Μέλη του Συλλόγου, να παραστούν προσωπικά, στη διεξαγωγή της 25ης Τακτικής Γενικής Εκλογο-Απολογιστικής Συνέλευσης και Ψηφοφορίας για τα Όργανα του Σωματείου, που θα διεξαχθούν αποκλειστικά ΕΞ ΑΠΟΣΤΑΣΕΩΣ μέσω των Συστημάτων Jitsi/Meet Hellug και ZEUS/GRNEΤ.
		<br>
		<br>
		Τα Μέλη μπορούν να ενημερωθούν αναλυτικά από την <a href="https://lists.hellug.gr/pipermail/hellug/2023/011521.html" target="_blank" title="HELLUG-Elections 2023">ΠΡΟΚΗΡΥΞΗ της Γ.Σ. 2023.</a>
	</figcaption>
	</center>
