---
title: "Ο Hellug στην Infosystem!"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2003-10-09
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>Η Ένωση Χρηστών και Φίλων Linux Ελλάδας θα βρίσκεται από 9 εως 12 Οκτωβρίου στην <a href="http://www.helexpo.gr/Exhibitions/readdata.asp?id=09_2003"> Infosystem 2003</a>, την ετήσια έκθεση συστημάτων πληροφορικής που πραγματοποιείται εδώ και 17 χρόνια στην Θεσσαλονίκη.</p><p>Επισκευτείτε μας στο <a href="http://www.helexpo.gr/Exhibitions/Ground_Plan.asp">Περίπτερο 15</a>, Stand 12. Για περισσότερες πληροφορίες, <a href="mailto:giannis@stoilis.gr">επικοινωνήστε</a> μαζί μας.</p><p>Οι Χορηγοί μας:<br /> <a href="http://www.thpa.gr/">Οργανισμός Λιμένος Θεσσαλονίκης</a><br /><a href="http://www.doctorpc.gr/">Doctor PC</a></p><p>&nbsp;</p><p>Φωτογραφίες από το event μπορείτε να δείτε <a href="https://photos.hellug.gr/index.php?/category/14">εδώ</a>.</p>
