---
title: "Ο Hellug βοηθάει και φέτος τα σχολεία"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-09-14
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>&nbsp;</p><p>Τα τελευταία χρόνια ο Hellug προσπαθεί να τονώσει την παρουσία του linux στα σχολεία. Η πρώτη παρόμοια δράση για τη φετινή χρονιά έγινε την Τετάρτη 15/9 στο Δημοτικό Σχολείο Άγιος Ανδρέας στη Νέα Σμύρνη. Από τον Hellug παρόντες ήταν ο Richard Kweskin, που είναι και ο Πρόεδρος του Συλλόγου, και ο Ιάκωβος Στέλλας, ενώ από την πλευρά του σχολείου ήταν ο Διευθυντής Σπύρος Καρούμπαλης, ο μικρός Ιάκωβος και o Δημήτρης Παπαδόπουλος ως μέλος του Συλλόγου Γονέων &amp; Κηδεμόνων.</p><p>Το συγκεκριμένο σχολείο δεν έχει εργαστήριο Η/Υ αλλά έχει 6-8 υπολογιστές σε κάθε αίθουσα διδασκαλίας. Οι υπολογιστές είναι όλοι Pentium 3 και Pentium 4 με 256MB ram καθώς και έναν κεντρικό sever με router ο οποιός είναι συνδεδεμένος με το Πανελλήνιο Σχολικό Δίκτυο (<a href="http://www.sch.gr/" rel="nofollow">http://www.sch.gr</a>). Σε όλους τους υπολογιστές είναι ήδη εγκατεστημένο το Ubuntu 8.04. Αποφασίστηκε να συνεχίσουν να δουλεύουν ως έχουν (standalone με κάρτες δικτύου).</p><p>Οι δασκάλες του σχολείου δεν έχουν πείρα με του υπολογιστές γενικότερα κι έτσι ο Richard Kweskin θα ξεκινήσει μια προσπάθεια ενημέρωσης και υποστήριξης με μαθήματα τα οποία θα γίνονται κατά τις πρωινές ώρες. Κάθε προσφορά για βοήθεια είναι ευπρόσδεκτη.</p><p>Σε περίπτωση που κάποιος θέλει να βοηθήσει την προσπάθεια του Hellug για τη διάδοση του ΕΛΛΑΚ στα σχολεία ή στην περίπτωση που έχετε κάποια πρόταση για βοήθεια σε κάποιο σχολείο παρακαλώ στείλτε μήνυμα στο board@hellug.gr</p>
