---
title: "Ο HELLUG στο Συνέδριο ΕΛ/ΛΑΚ 2010"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-05-14
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>&nbsp;</p><p>Η Εταιρεία Ελεύθερου Λογισμικού / Λογισμικού Ανοικτού Κώδικα (ΕΕΛ/ΛΑΚ) διοργανώνει συνέδριο με θέμα &quot;ΕΛ/ΛΑΚ: Επιχειρηματικότητα, Δημόσιος Τομέας, Εκπαίδευση &amp; Έρευνα&quot;.</p><p>Το συνέδριο θα πραγματοποιηθεί Παρασκευή 14 και Σάββατο 15 Μαΐου 2010 στην Αθήνα (ΕΜΠ), ενώ την Κυριακή 16 Μαΐου θα πραγματοποιηθούν αντίστοιχες ημερίδες σε Θεσσαλονίκη, Ηράκλειο και Πάτρα. Το αναλυτικό πρόγραμμα του συνεδρίου έχει ανακοινωθεί στο conf.ellak.gr</p><p>Για την καλύτερη οργάνωση του συνεδρίου καλούνται όσοι ενδιαφέρονται να παρακολουθήσουν το συνέδριο να εγγραφούν στο&nbsp;<a href="http://www.ellak.gr/index.php?option=com_comprofiler&amp;task=registers" rel="nofollow">http://www.ellak.gr/index.php?option=com_comprofiler&amp;task=registers</a>&nbsp;δηλώνοντας την πόλη της προτίμησης τους.</p><p>Ειδικότερα για τα workshops επειδή οι αίθουσες είναι περιορισμένης χωρητικότητας, θα διανεμηθούν ανάλογα με το ενδιαφέρον συμμετοχής και θα τηρηθεί αυστηρή σειρά προτεραιότητας.</p><p>Ο Σύλλογος μας, θα δώσει το παρόν με δικό του stand - οπότε απομένει να έρθετε να τα πούμε και από κοντά.</p><div>&nbsp;</div><div><a href="http://www.postimage.org/image.php?v=gx6CM1J" rel="nofollow" target="_blank"><img alt="" src="http://s1.postimage.org/6CM1J.jpg" title="" /></a></div>
