---
title: "Ο Hellug στην Fosscom 2015"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2015-11-05
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---

<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Και φέτος, ο σύλλογός μας θα συμμετέχει στην Fosscom, την συνάντηση των κοινοτήτων γύρω από το ανοιχτό λογισμικό.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Το συνέδριο διεξάγεται στο ΤΕΙ Αθηνών, το διήμερο 7-8 Νοεμβρίου. <a href="http://fosscomm.teiath.gr/images/fosscomm2015_final_schedule.pdf"><span style=" font-family:'Sans Serif'; font-size:13px; text-decoration: underline; color:#0000ff; background-color:#ffffff;">http://fosscomm.teiath.gr/</span></a></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Ο σύλλογος θα διεξάγει δυο εργαστήρια, το Σάββατο και την Κυριακή, και δυο ομιλίες. Το πλήρες πρόγραμμα βρίσκεται εδώ: http://fosscomm.teiath.gr/images/fosscomm2015_final_schedule.pdf</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Καθόλη την διάρκεια του συνεδρίου, θα έχουμε τραπεζάκι δίπλα στην είσοδο, όπου μπορεί να μας γνωρίσει κανείς από κοντά, ειδικά για όσους μας ήξεραν μόνο από τα social media και την δικτυακή μας παρουσία.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
