---
title: "Ο Hellug στην Infosystem 2007!"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2007-10-04
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
 <a name="infosystem2007" id="infosystem2007"></a></h3>
<p>Η Ένωση Χρηστών και Φίλων Linux Ελλάδας (Hellenic Linux Users Group-HEL.L.U.G.) συνεχίζοντας την παράδοση των τελευταίων ετών, θα συμμετέχει και φέτος με το περίπτερο 14A στην 21η ΔΙΕΘΝΗ ΕΚΘΕΣΗ ΠΛΗΡΟΦΟΡΙΚΗΣ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ ΚΑΙ ΨΗΦΙΑΚΗΣ ΤΕΧΝΟΛΟΓΙΑΣ, INFOSYSTEM 2007, που θα διεξαχθεί στην Θεσσαλονίκη από την 4-7 Οκτωβρίου 2007.
</p>
<p class="vspace">Σας περιμένουμε όλους εκεί!
</p>