---
title: "Ο Richard Stallman σε Αθήνα & Θεσσαλονίκη"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-05-28
category_title: Δράσεις
tags: [Προώθηση]
draseis: [advocacy]
---
        
<p>Στην Αθήνα θα βρεθεί μετά από πρόσκληση του Δικτύου για την Ψηφιακή Απελευθέρωση και της οργανωτικής επιτροπής του Διεθνούς Αντιεξουσιαστικού Φεστιβάλ της Εφημερίδας Βαβυλωνία (BFEST 2010) ο Richard M. Stallman, ο γνωστότερος υπέρμαχος του κινήματος του ελεύθερου λογισμικού, για να δώσει ομιλία με θέμα &ldquo;Η Πνευματική Ιδιοκτησία κατά της Κοινότητας&rdquo;. Η ομιλία θα δοθεί στις 28 Μαΐου 2010 (ώρα 18:00 &ndash; 21:00) στον φιλόξενο χώρο της Ανωτάτης Σχολής Καλών Τεχνών στα πλαίσια των εκδηλώσεων του BFEST.<br /><br /><br />Περισσότερες πληροφορίες στο&nbsp;<a href="http://forum.hellug.gr/index.php?topic=5431.0" rel="nofollow" target="_blank">forum</a><br /><br />&nbsp;</p><div><a href="/media/afises/stallman-212x300.jpg" rel="nofollow" target="_blank"><img alt="" src="/media/afises/stallman-212x300.jpg" title="" /></a><br /><br />&nbsp;</div><p>Στη συνέχεια θα &quot;ανηφορήσει&quot; στη Θεσσαλονίκη οπου..</p><p>Την Τρίτη 1 Ιουνίου 2010 θα φιλοξενηθεί στο ΝΟΗΣΙΣ η ομιλία του ιδρυτή του Free Software Foundation, Richard M. Stallman, με τίτλο &quot;Free Software in Ethics and in Practice&quot;.</p><p>Περισσότερες πληροφορίες στο site της&nbsp;<a href="http://www.noesis.edu.gr/index.php?action=article_firstPage&amp;pageTitle=stallman" rel="nofollow" target="_blank">&quot;ΝΟΗΣΙΣ&quot;</a><br /><br />&nbsp;</p><div><a href="http://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Rms_ifi_large.jpg/220px-Rms_ifi_large.jpg" rel="nofollow" target="_blank"><img alt="" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Rms_ifi_large.jpg/220px-Rms_ifi_large.jpg" title="" /></a></div>