---
title: "Οδηγίες για ΓΣ 2014"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-03-07
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
Όπως στο προηγούμενο άρθρο, καλούνται τα μέλη μας στην ετήσια Γενική Συνέλευση 2014, στο χώρο "ΡΟΜΑΝΤΖΟ".<br><br>Υποψήφιοι, μέχρι στιγμής, είναι:<ul><li>Φάνης Δοκιανάκης</li><li>﻿Ιάκωβος Στέλλας</li><li>Ρίτσαρντ Κουέσκιν</li><li>Πάνος Χρηστέας</li></ul>﻿<br>Επίσης, σε περίπτωση που δεν υπάρχει απαρτία, θα αποφασιστεί (από το παρόν ΔΣ) επαναληπτική ΓΣ, πιθανότερα στο σαββατοκύριακο 14-16 Μαρτίου.
