---
title: "Οι πρώτες δύο τεχνικές παρουσιάσεις του Hellug για το φθινόπωρο"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-09-17
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<div><img alt="" src="/media/afises/event23.png" title="" /></div><p><br /><br /><br />Την Παρασκευή 17/9/2010 θα έχουμε τις δύο πρώτες τεχνικές παρουσιάσεις του HELLUG για το φθινόπωρο.</p><p>Η πρώτη παρουσίαση θα γίνει από τον Απόλλωνα Οικονομόπουλο με θέμα &quot;OpenVZ&quot; ενώ η δεύτερη θα γίνει από τον Αλέξανδρο Κοσιάρη με θέμα &quot;FreeBSD&nbsp;Jails&quot;. Και στις δύο παρουσιάσεις θα υπάρχει και δυνατότητα για hands-on/workshop (όσοι θα ήθελαν να συμμετέχουν καλό θα ήταν να φέρουν το laptop τους).</p><p>Οι παρουσιάσεις θα πραγματοποιηθούν στο Πανεπιστήμιο Πειραιά, Καραολή και Δημητρίου 80 στον Πειραιά, αίθουσα 210 (Χάρτης:&nbsp;<a href="http://is.gd/f0udc" rel="nofollow">http://is.gd/f0udc</a>&nbsp;), ώρα έναρξης 18:00. Ευχαριστούμε πολύ την&nbsp;<a href="http://rainbow.cs.unipi.gr/projects/oss/wiki" rel="nofollow">Software Libre Society</a>&nbsp;του Πανεπιστημίου Πειραιά για την παραχώρηση της αίθουσας και για την γενικότερη βοήθεια :) . Η αντίστοιχη ανακοίνωση στη σελίδα της Software Libre Society είναι&nbsp;<a href="http://rainbow.cs.unipi.gr/projects/oss/wiki/EventTwentyThree" rel="nofollow">εδώ</a>.</p><p>Στα πλαίσια της εκδήλωσης και μετά τις δύο παρουσιάσεις, θα πραγματοποιηθεί στον ίδιο χώρο ανοικτό Διοικητικό Συμβούλιο του HELLUG για όσους θέλουν να συμμετέχουν. Θα προσπαθήσουμε στο τέλος της εκδήλωσης να υπάρχει και μια προβολή κάποιου documentary.</p><p>Σε περίπτωση που κάποιος θα ήθελε να κάνει κάποια παρουσίαση σε κάποια επόμενη εκδήλωση παρακαλώ να στείλει mail στο board@hellug.gr. Επίσης όποιος θα ήθελε να βοηθήσει με τον σχεδιασμό κάποιας αφίσας είναι παραπάνω από ευπρόσδεκτος.</p><p>Θα προσπαθήσουμε να ξεκινήσουμε ακριβώς ώστε να τελειώσουμε σε λογική ώρα και να μπορέσουμε έπειτα να πάμε για μπύρα/φαγητό.</p><p>Να είστε όλοι εκεί!</p>