---
title: "openSUSE Conference -Θεσσαλονίκη"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-07-17
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<div style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; white-space: pre-wrap !important; text-align: justify;">To <a href="https://conference.opensuse.org/">παγκόσμιο συνέδριο openSUSE</a> θα διεξαχθεί σε μερικές μέρες στη Θεσσαλονίκη, <strong>18-22 Ιουλίου 2013</strong>.<br />Θα ήταν καλό όσα μέλη ή φίλοι του Συλλόγου μπορούσαν, να την επισκευθούν !</div><div>&nbsp;</div>
