---
title: "OpenFest 2011"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-04-09
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>Οργανωτική Επιτροπή OpenFest2011 &lt;<a href="mailto:openfest[at]teipir[dot]gr">openfest[at]teipir[dot]gr</a>&gt;<br>
<br>
Θα θέλαμε να σας ενημερώσουμε για το OpenFest 2011, το φεστιβάλ ανοιχτού κώδικα και ελεύθερου λογισμικού, το οποίο διοργανώνεται για δεύτερη συνεχόμενη χρονιά υπό την αιγίδα του τμήματος Ηλεκτρονικών Υπολογιστικών Συστημάτων του Α<span class="il">ΤΕΙ</span> Πειραιά.<br>
Το φεστιβάλ θα λάβει χώρα στον χώρο του <span class="il">ΤΕΙ</span> Πειραιά στις 9 και 10 Απριλίου 2011<br>
Σκοπός της διημερίδας είναι να παρουσιαστεί το ελεύθερο και ανοιχτό λογισμικό στο κοινό. Σε μαθητές, σπουδαστές, καθώς και σε οποιονδήποτε ενδιαφέρεται για την τεχνολογία και παρακολουθεί την εξέλιξή της.<br>
<br>
Οι θεματικές ενότητες θα κινούνται στα παρακάτω πλαίσια χωρίς όμως να είναι δεσμευτικές<br>
1η θεματική ενότητα : Εφαρμογή Open Source στην εκπαίδευση και το δημόσιο<br>
2η θεματική ενότητα : Θέματα ασφάλειας<br>
3η θεματική ενότητα : Νομικό πλαίσιο Ελλάδας και άλλων χωρών<br>
4η θεματική ενότητα : OS / Open Source<br>
5η θεματική ενότητα : Web / Networks / Programming<br>
6η θεματική ενότητα : Mobile/ Embedded Development<br>
<br>
Σας καλούμε λοιπόν, να δεχτείτε την πρόσκληση μας και να αναλάβετε και εσείς μια ομιλία/παρουσίαση, για κάποιο ειδικό θέμα που θα επιλέξετε, ως ξεχωριστό άτομο, ή και ως εκπρόσωπος της κοινότητας που συμμετέχετε. Επίσης υπάρχει η δυνατότητα, εφόσον το επιθυμείτε, να κάνετε και παρουσίαση του project σας, σε μορφή Workshop.<br>
Παρακαλούμε να απαντήσετε στο <a href="mailto:openfest[at]teipir[dot]gr">openfest[at]teipir[dot]gr</a> για τη συμμετοχή σας ως κοινότητα ή ομιλητής στο OpenFest 2011, συμπεριλαμβανομένου του θέματος που θα αναλάβετε και περίληψης (abstract).<br>
<br>
Οργανωτική Επιτροπή<br>
Οpenfest 2011</p>
