---
title: "Δεν θα γίνει εργαστήριο στις 17 Μαΐου"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-05-11
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Ενημερώνω ότι λόγω δουλειάς και υποχρεώσεων των μελών μας, το εργαστήριο για τις <span style=" text-decoration: underline;">17 Μαΐου</span> ακυρώνεται, ο χώρος θα μείνει κλειστός.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Επίσης, αν κάποια μέλη μας πιστεύουν ότι το Σάββατο δεν είναι βολική ώρα, ας μας προτείνουν στο board@hellug.gr ή στο hellug@hellug.gr τις προτάσεις τους για εναλλακτική μέρα/ώρα που θα μπορούσαμε να ανοίγουμε το χώρο.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
