---
title: "Πρακτικά 1ου ΔΣ 2014"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-03-22
category_title: Σύλλογος
tags: [Διοικητικό Συμβούλιο]
peri-hellug: [dioikitiko-symvoulio]
---
        
<p>Σήμερα, στο εργαστήριο του Συλλόγου, κάναμε την πρώτη σύσκεψη του νέου ΔΣ. Τυπικά, ορίσαμε τους ρόλους των εκλεγμένων μελών, αλλά κάναμε και την πρώτη κουβέντα για τα θέματα του Hellug.</p><p><br></p><p>Μέλη του ΔΣ, για την περίοδο 2014-2015 ορίστηκαν οι:</p><p>
<dl>
	<dl>
		<dl>
			<dd>
			<table>
				
				
				<tbody><tr>
					<th>
						<p>Θέση</p>
					</th>
					<th>
						<p>Όνομα</p>
					</th>
				</tr>
				<tr>
					<td>
						<p>Πρόεδρος</p>
					</td>
					<td>
						<p>Χρηστέας
						Πάνος</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Αντιπρόεδρος</p>
					</td>
					<td>
						<p>Kweskin
						Richard</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Γραμματέας</p>
					</td>
					<td>
						<p>Στέλλας
						Ιάκωβος</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Ταμίας</p>
					</td>
					<td>
						<p>Δοκιανάκης
						Θεοφάνης</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Έφορος</p>
					</td>
					<td>
						<p>Πατέλης
						Γιώργος Β.</p></td></tr></tbody></table></dd></dl></dl></dl><p>Η κύρια συζήτηση, απρόσμενα, κατέληξε να είναι η συμμετοχή του συλλόγου σε εκπαιδευτικά προγράμματα. Ενώ ομόφωνα συμφωνήσαμε ότι οποιαδήποτε δραστηριότητα του συλλόγου πρέπει να είναι αυστηρά εθελοντική, χρειάστηκε αρκετή ώρα για να αναλύσουμε το αν το τυπικό ενός "αναγνωρισμένου" προγράμματος εκμάθησης αξίζει τόσο όσο η απλή ουσία της παρακολούθησης.</p><p>Στην πόρτα, στο τέλος, συμφωνήσαμε να μεταφέρουμε την κουβέντα (για όλα τα θέματα) στο forum και στις λίστες του συλλόγου, ώστε να μπορούν όλα τα μέλη να tro^H^Hσυμμετέχουν...<br>﻿<br>
</p>
</p>
<p></p>
<p></p>
