---
title: "Πρόσκληση ΔΣ 29/7/13"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2013-07-27
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<div style="white-space: pre-wrap; text-align: justify;"><span style="font-size:12px;"><span style="font-family:verdana,geneva,sans-serif;">Την<strong> Δευτέρα 29/7/13 20:00</strong> θα γίνει στο Open-Lab (<a href="http://goo.gl/maps/4vhhe">Μαρούσι</a>) συνάντηση των μελών του ΔΣ και βεβαίως προσκαλούνται και τα μέλη και οι φίλοι του Συλλόγου να παρευρεθούν.<br />Πιθανά μετά την λήξη της συνάντησης, θα δροσιστούμε με ...μερικές μπύρες..!</span></span></div>
