---
title: "Προσοχή! Ακυρώνονται οι ομιλίες στο Πανεπιστήμιο Πειραιά"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-03-26
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>Πριν λίγο ανακοινώθηκε στις λίστες ότι το Πανεπιστήμιο Πειραιά για λόγους ασφάλειας (;) απαγόρευσε όλες τις δραστηριότητες μετά τις 18:00. Περισσότερες λεπτομέρειες μπορείτε να δείτε εδώ: <a class="urllink" href="http://lists.hellug.gr/pipermail/hellug/2011/010642.html" rel="nofollow">http://lists.hellug.gr/pipermail/hellug/2011/010642.html</a></p><p class="vspace">Είναι λοιπόν η 2η φορά που ακυρώνεται η σγκεκριμένη εκδήλωση του Hellug! Ελπίζουμε την τρίτη φορά να τα καταφέρουμε...</p><p class="vspace">Να υπενθυμίσουμε ότι ο σύλλογός μας βρίσκεται σε διαρκή αναζήτηση χώρου για τέτοιου είδους δραστηριότητες καθώς βέβαια και ομιλιτές, ανθρώπους δηλαδή που ξέρουν καλά κάτι σχετικό (με την ευρεία έννοια) με τη θεματολογία μας και θέλουν να μιλήσουν για αυτό και να μεταδώσουν τις γνώσεις τους σε άλλους. Όσοι ενδιαφερόμενοι μπορούν να επισκεφθούν τη σελίδα <a class="urllink" href="https://wiki.hellug.gr/index.php/%CE%A0%CE%B1%CF%81%CE%BF%CF%85%CF%83%CE%B9%CE%AC%CF%83%CE%B5%CE%B9%CF%82_2010" rel="nofollow">https://wiki.hellug.gr/index.php/Παρουσιάσεις_2010</a></p><p class="vspace">ή να στείλουν ένα μήνυμα στο board@hellug.gr</p>
