---
title: "Πρώτο ΔΣ 2015"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2015-03-21
category_title: Σύλλογος
tags: [Διοικητικό Συμβούλιο]
peri-hellug: [dioikitiko-symvoulio]
---
        
Το νέο ΔΣ του Hellug συνεδρίασε σήμερα και αποφάσισε για τις αρμοδιότητες των εκλεγέντων μελών του:<br><table><tbody><tr><td>&nbsp;Πρόεδρος</td><td>&nbsp;Στέλλας Ιάκωβος</td></tr><tr><td>&nbsp;Αντιπρόεδρος</td><td>&nbsp;Κουέσκιν Ρίτσαρντ</td></tr><tr><td>&nbsp;Γραμματέας</td><td>&nbsp;Πάνος Παναγιώτης</td></tr><tr><td>&nbsp;Ταμίας</td><td>&nbsp;Δοκιανάκης Φάνης</td></tr><tr><td>&nbsp;Έφορος</td><td>&nbsp;Νικολουδάκης Νίκος﻿</td></tr></tbody></table>
