---
title: "Συνέντευξη του συλλόγου στο περιοδικό ne.o για τις πατέντες λογισμικού"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2004-07-11
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: Ζητήθηκε η γνώμη του συλλόγου για την εισαγωγή της ένοιας πατεντών στην αγορά λογισμικού από την Ευρωπαϊκή Ένωση
---

Ζητήθηκε η γνώμη του συλλόγου από το περιοδικό ne.o για την εισαγωγή της ένοιας πατεντών στην αγορά λογισμικού από την Ευρωπαϊκή Ένωση
<hr>
<p>Αγαπητοί κύριοι,</p>
<p>Η Ευρωπαϊκή Ένωση προχώρησε πρόσφατα στην ψήφιση μιας οδηγίας (Directive on the Patentability of Computer-Implemented Inventions) η οποία, μεταξύ άλλων, εισάγει την έννοια της πατέντας στην ευρωπαϊκή αγορά λογισμικού.
Στο πλαίσιο αυτό, το περιοδικό ne.o διεξάγει έρευνα για τις συνέπειες που θα έχει η συγκεκριμένη οδηγία στην ελληνική αγορά λογισμικού.</p>
<p>Για το σκοπό αυτό, ζητούμε τη συνδρομή σας στην έρευνα μέσω των απαντήσεών σας στα ακόλουθα ερωτήματα:</p>

<ol>
<li> Πώς κρίνετε την συγκεκριμένη εξέλιξη;</li>

Απάντηση:
<p>Ήταν κάτι που έπρεπε να γίνει. Μέχρι τώρα, δεν υπήρχαν "κανόνες" για το τι θα έπρεπε ή όχι να θεωρείται πατέντα λογισμικού. Ήταν μια απαραίτηση κίνηση, ώστε να ξεκαθαρίσει το τοπίο. Σαν παράδειγμα αναφέρω ότι υπήρχε πατέντα για το scroll bar! Με το νομοσχέδιο όπως είναι τώρα, τέτοιες πατέντες δεν είναι πλέον δυνατές. Το θέμα, κάθε άλλο παρά τελειωμένο είναι, επειδή εκρεμούν ακόμα διάφορες σχετικές τροπολογίες που πρέπει να ψηφιστούν. Επίσης, το νομοσχέδιο ορίζει μεν το νομικό πλαίσιο, αλλά αφήνει την νομική του εφαρμογή στην κυβέρνηση του κάθε κράτους. Έτσι, μπορεί κάθε χώρα να "προσαρμόσει" το νομοσχέδιο στα μέτρα της, είτε υπέρ, είτε κατά των πατεντών λογισμικού.</p>

<li> Ποιες αλλαγές θεωρείτε ότι θα επιφέρει η οδηγία στην ευρωπαϊκή και ειδικότερα στην ελληνική αγορά λογισμικού;</li>

Απάντηση:
<p>Πιστεύουμε ότι θα φέρει ανακούφιση, σε πολλές εταιρείες ανάπτυξης εφαρμογών. Αν το νομοσχέδιο περνούσε στην αρχική του μορφή, η ανάπτυξη νέων εφαρμογών θα ήταν αδύνατη. Δεδομένης της περιπλοκότητας των σημερινών προγραμμάτων, είναι αδύνατη η ύπαρξη σύγχρονου λογισμικού που δεν στηρίζεται πάνω σε υπάρχουσες πατέντες. Μικρές εταιρείες μπορούν να φέρουν νέα, πρωτότυπα προϊόντα στην αγορά λογισμικού, με ελάχιστο κόστος. Κερδισμένος είναι ο και καταναλωτής, που θα απολαμβάνει ποιοτικότερο λογισμικό με ελάχιστο κόστος, και οι εταιρείες λογισμικού, που η κερδοφορία τους θα εξαρτάται από το πόσο καλή δουλειά κάνουν, και όχι από το κατά πόσο το πρόγραμμά τους είναι τεχνικά άρτιο και όχι από το κατά πόσοέχουν την δυνατότητα να πληρώνουν ποσοστά σε άλλους. Η ελληνική αγορά λογισμικού πιστεύω ότι θα επωφεληθεί τα μέγιστα, λόγο του μικρού μεγέθους της. Μικρές ελληνικές εταιρείες θα μπορούν να αναπτύσουν φθηνό λογισμικό, ισάξιο αντίστοιχων ξένων προϊόντων.</p>

<li> Ποιες πιστεύετε ότι θα είναι οι συνέπειες της οδηγίας στο χώρο του λογισμικού που αναπτύσσεται με την φιλοσοφία του
open source;</li>

Απάντηση:
<p>Η μεγαλύτερη αντίδραση στο αρχικό νομοσχέδιο, έγινε ακριβώς από υποστηρικτές του Ανοιχτού Λογισμικού, επειδή αυτό θα επηρεαζόταν άμεσα. Λειτουργικά συστήματα όπως το Linux ή τα BSD, σουίτες γραφείου όπως το OpenOffice, Internet browsers όπως ο Netscape, θα σταματούσαν να διανέμονται δωρεάν, αν βέβαια συνέχιζαν να υπάρχουν. Δεν εξαιρούνται τα προγράμματα κλειστού κώδικα. Αν οι πατέντες λογισμικού γινόταν πραγματικότητα, οι τιμές των προγραμμάτων θα αυξανόταν σημαντικά. Όπως έχει η κατάσταση τώρα, προστατεύονται οι παραπάνω εφαρμογές, μαζί με χιλιάδες άλλες που χρησιμοποιούμε κάθε μέρα, ακόμα και χωρίς την γνώση μας. Η φιλοσοφία του Ανοιχτού Λογισμικού έχει εκατομμύρια υποστηρικτές σε όλο τον κόσμο, και συνεχίζει να προσελκύει καθημερινά περισσότερους. Για αυτό προσπαθούν αφιλοκερδώς διάφορες ομάδες σε όλο τον κόσμο, χωρίς η χώρα μας να αποτελεί εξαίρεση. Παραδειγματικά αναφέρω τον σύλλογό μας, την Ένωση Χρηστών και Φίλων Linux Ελλάδας(http://www.hellug.gr/) και την ομάδα του Ελεύθερου Λογισμικού/Λογισμικού Ανοιχτού Κώδικα(http://www.ellak.gr/).</p>
</ol>
<hr>
<p>Είμαστε στην διάθεσή σας για οποιαδήποτε άλλα σχόλια.</p>
<p>Με τιμή</p>
<p>Για τον σύλλογο</p>
<p>Το ΔΣ</p>
Χωματάς Γρηγόρης(Πρόεδρος)</br>
Ιατρού Μιχάλης(Αντιπρόεδρος)</br>
Στοΐλης Γιάννης(Γραμματέας)</br>
Διαμαντίδης Αλέξανδρος(Ταμίας)</br>
Τοπογλίδης Κωνσταντίνος(Έφορος)