---
title: "Software Freedom Day 2006"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2006-07-09
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---

<p class="documentDescription">Όπως και πέρυσι, έτσι και φέτος ο HEL.L.U.G. θα οργανώσει την τοπική Software Freedom Day, στην Ελλάδα. Η μέρα αυτή, που φέτος θα γιορταστεί σε όλο τον κόσμο το Σαββατο 16 Σεπτεμβρίου, είναι μια πρωτοβουλία που ξεκίνησε το 2004 και αποτελεί αφορμή για την ενημέρωση και την ευαισθητοποίηση του κοινού σχετικά με τα οφέλη του Ελεύθερου Λογισμικού και του Λογισμικού Ανοιχτού Κώδικα.</p>

        

        

        
            <p>

        

        

        
            Η <a href="https://www.hellug.gr/" target="_self">Ένωση Χρηστών και Φίλων Linux Ελλάδας (HEL.L.U.G.) </a>ενδιαφέρεται πάντα για την στήριξη προσπαθειών που εστιάζονται στη
υιοθέτηση και προώθηση του Ελεύθερου λογισμικού και έχουν στόχο να
προβάλουν την αξία και τη χρησιμότητά του.
</p><p>
</p><p>Όπως και πέρυσι, έτσι και φέτος ο HEL.L.U.G. θα οργανώσει<br>την τοπική <span class="link-external"><a href="https://www.softwarefreedomday.org/" target="_self">Software Freedom Day</a></span> στην Ελλάδα, μια πρωτοβουλία που ξεκίνησε το 2004 και αποτελεί αφορμή για την ενημέρωση και την ευαισθητοποίηση του κοινού σχετικά με τα οφέλη του Ελεύθερου Λογισμικού και του Λογισμικού Ανοιχτού Κώδικα.</p><p>Το <span class="link-external"><a href="https://lab.hellug.gr/" target="_self">Εργαστήριο του Συλλόγου</a></span> θα είναι ανοιχτό το Σαββατο 16 Σεπτεμβρίου από τις 11:00 το πρωί μέχρι αργά το βράδυ. Το πρόγραμμα για φέτος περιλαμβάνει, την προβολή των ταινιών "<span class="link-external"><a href="https://www.imdb.com/title/tt0315417/" target="_self">The Code</a></span>" και "<span class="link-external"><a href="https://www.imdb.com/title/tt0308808/" target="_self">Revolution OS</a></span>", το μοίρασμα διαφόρων διανομών και ένα μικρό install-fest σε όσους θα φέρουν τον υπολογιστή τους. Παράλληλα, διατηρώντας τον εορταστικό της χαρακτήρα, η μέρα περιλαμβάνει ποτό και φαγητό.</p><p>Επίσης, θα είναι μια πρώτης τάξης ευκαιρία για να γίνει μια<br>συνάντηση όλων των ενδιαφερόμενων να εμπλακούν στην οργάνωση της παρουσίας του Συλλόγου στις εκθέσεις Infosystem και Comdex.</p><div align="center"><b>Πρόγραμμα</b><br></div><p></p><table class="plain" align="center"><tbody><tr><td>Ώρα</td><td>Περιγραφή <br></td></tr><tr><td>11:00 <br></td><td>Προσέλευση <br></td></tr><tr><td>12:00 <br></td><td>Προβολή "The Code" <br></td></tr><tr><td>14:00 <br></td><td>Μεσημεριανό φαγητό <br></td></tr><tr><td>16:00 <br></td><td>Προβολή "Revolution OS" <br></td></tr><tr><td>18:00 <br></td><td>Συνάντηση για την οργάνωση της παρουσίας του Συλλόγου στις Εκθέσεις Infosystem και Comdex. <br></td></tr><tr><td>22:00 <br></td><td>Έξοδος για φαγητό <br></td></tr></tbody></table><br>Σας καλούμε όλους να παρευρεθείτε.<br><br>Το Δ.Σ. του HEL.L.U.G.<br><br>Σχετικά: http://softwarefreedomday.org/teams/europe/greece