---
title: "Software Freedom Day 2009 (15/09/2009)"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2009-09-15
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>Η Ένωση Ελλήνων Χρηστών &amp; Φίλων Linux Ελλάδος (Hellug), η κοινότητα Linux της Θεσσαλονίκης (Thelug), της Λάρισας (LinuxTeam) και των Χανίων (Chania-Lug), σας προσκαλούν αυτό το Σάββατο (19/09) να γιορτάσουμε την Παγκόσμια Ημέρα Ελεύθερου Λογισμικού.</p><p>Δράσεις θα πραγματοποιηθούν στις εξής πόλεις:<br />- Αθήνα: Πύλη Πολυτεχνείου (Στουρνάρα) απ&#39; τις 11.00<br />- Θεσσαλονίκη (Λευκός Πύργος) απ&#39; τις 12.00<br />- Λάρισα (Κεντρική Πλατεία) απ&#39; τις 11.00<br />- Χανιά (Πλατεία Δημοτικής Αγοράς) απ&#39; τις 17.00<br /><br />Στα πλαίσια των δράσεων αυτών, θα μοιραστεί υλικό απ&#39; τις αγαπημένες σας διανομές, ενημερωτικό υλικό, καθώς και opendiscs (ελεύθερο λογισμικό για τον κόσμο των κλειστών λειτουργικών συστημάτων). Το υλικό αυτό διατίθεται απ&#39; την Εταιρία ΕΛ/ΛΑΚ, την Canonical μέσω της κοινότητας ubuntu-gr, καθώς κι απ&#39; το προσωπικό μεράκι των διοργανωτών.</p><p>Σας περιμένουμε όλους εκεί!<br /><br /><img class="img-fluid" alt="Afisa SFD2009" src="/media/afises/sfd09.png" title="" />&nbsp;<br /><br /><br />[σχετική συζήτηση στο&nbsp;<a href="http://forum.hellug.gr/index.php?topic=4612.0" rel="nofollow" target="_blank">forum</a>]</p>