
---
title: "HEL.L.U.G. και Θερινό Σχολείο 3ου Ε.Κ. Πειραιά"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2022-08-10
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
summary: "Ο Σύλλογος συνδιοργάνωσε με το 3ο Ε.Κ. Πειραιά και τον Δήμο Δραπετσώνας-Κερατσινίου το 1ο Θερινό Σχολείο, με αντικείμενα την Ανοικτότητα (Openness) Λογισμικού και Υλικού  και την εκμάθηση πρακτικών Ηλεκτρονικών..."
---
  <h4>
   Αποτίμηση Υλοποίησης Δράσης του Θερινού Σχολείου 3ου Ε.Κ. Πειραιά
  </h4>
  <p>
  Την περίοδο 18-29/07/2022 διοργανώθηκε για πρώτη φορά, Θερινό Σχολείο Ενηλίκων με δωρεάν συμμετοχή, από το 3ο Εργαστηριακό Κέντρο Πειραιά (3ο Ε.Κ. Πειραιά), σε συνεργασία με την "Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) και υπό την αιγίδα του Δήμου Δραπετσώνας-Κερατσινίου.
  </p>
  <figure>
	  <img src="/media/SS2022/summerschool-afissa-icon.png" title="SummerSchool2022-Afissa" width="60%"/></figure>
   <br/>
   Στις 30/06/2022 έγινε ανοιχτή πρόσκληση για το Θερινό Σχολείο με τίτλο
   <strong>
    <em>
     «Πρακτικά Ηλεκτρονικά &amp; Ελεύθερο Υλικό/ Λογισμικό»
    </em></strong>, μέσω του Δήμου Δραπετσώνας-Κερατσινίου και της Διεύθυνσης Δευτεροβάθμιας Εκπαίδευσης Πειραιά. Tο Θερινό Σχολείο στηρίχθηκε στις φιλοσοφίες της κατασκευής (<strong>
    making
   </strong>) και του “κάν’το μόνος/-η σου” (<strong>Do it yourself-DIY</strong>), δίνοντας ευκαιρία και περιθώρια δημιουργίας, πρωτοβουλίας και συνεργασίας στους/στις εκπαιδευόμενους/-ες.
   <br/>
   <br/>
   Χρησιμοποιήθηκαν τα “ελεύθερα” Λογισμικά LinuxMint, τεχνολογία LTSP (sch-scripts, Epoptes), SimulIDE-0.4, Cura, Arduino IDE και το “δωρεάν” Λογισμικό Tinkercad. Κατασκευάστηκαν αυτοματισμοί με Arduino Nano καθώς και εκτυπώθηκαν 3D σχέδια από τους Εκτυπωτές Creality CR-10S Pro και Wanhao Duplicator i3.
  </p>
<br/>
  <p>
   Μερικά στιγμιότυπα από το Θερινό Σχολείο !
  </p>
<table style="width:100%">
    <th><p style="text-align:center;"><img _=";" alt="" height="70%" margin-right:="margin-right:" src="/media/SS2022/nano-Led.JPG" style="float: center" width="70%"/>
  </p></th>
    <th><p style="text-align:center;">
   <img _=";" alt="" height="80%" margin-bottom:="margin-bottom:" src="/media/SS2022/nano-2motors.JPG" style="float: center" width="80%"/>
  </p></th>
    <th><p style="text-align:center;">
   <img _=";" alt="" height="90%" margin-top:="margin-top:" src="/media/SS2022/3D-fox.JPG" style="float: center" title="3D-Fox" width="90%"/>
   </p></th>
  </tr>
</table>
  <p>
   <img _=";" alt="" height="40%" margin-right:="margin-right:" src="/media/SS2022/SSchool-only Brelock-transp.png" style="float: left" title="Souvenir Summer School 2022" width="40%"/>
 Εισηγητής και διοργανωτής της πρωτοβουλίας ήταν ο κ. Ιάκ. Στέλλας, Εκπαιδευτικός στο 2ο ΕΣΠ. ΕΠΑ.Λ. Δραπετσώνας και Πρόεδρος HEL.L.U.G. Σημαντική βοήθεια για την διεξαγωγή του Θερινού Σχολείου προσέφεραν οι κ.κ. Π. Μακρυγιάννης, Διευθυντής 3ου Ε.Κ. Πειραιά και Κ. Κώτσης, ειδικός Τεχνικός 3D Printing.
   </p>
  <p>
   Κατά την λήξη του Σχολείου, σε όσους ολοκλήρωσαν την παρακολούθηση, απονεμήθηκε Βεβαίωση Συμμετοχής συνοδευόμενη από ένα αναμνηστικό μπρελόκ ! Η όλη Δράση είχε πιλοτικό χαρακτήρα και ελπίζουμε για καλύτερα και περισσότερα αποτελέσματα σε παρόμοιες μελλοντικές ευκαιρίες !
  </p>
  <p>Περισσότερο φωτογραφικό υλικό της Δράσης, μπορείτε να βρείτε στο <a href="https://photos.hellug.gr/index.php?/category/37" target="_blank">2022-07-Θερινό Σχολείο 3ου Ε.Κ. Πειραιά και HEL.L.U.G.</a>
