---
title: "Συμμετοχή HELLUG στο Συνέδριο ΕΛ/ΛΑΚ 2011"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2011-05-20
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p>O HELLUG θα συμμετέχει και φέτος στο Συνέδριο ΕΛ/ΛΑΚ 2011 με δικό του stand στον χώρο της εκδήλωσης του συνεδρίου στην Αθήνα. Καλούμε τα μέλη μας να συμμετάσχουν στις καθημερινές εκδηλώσεις του Συνέδριου ΕΛ/ΛΑΚ 2011 καθώς και να βοηθήσουν στην παρουσία του συλλόγου στο stand μας.</p><p>Το αναλυτικό πρόγραμμα της εκδήλωσης καθώς και πληροφορίες για αυτήν βρίσκονται στη διεύθυνση: http://conferences.ellak.gr/2011/</p><p>Παρακαλούμε τα μέλη που επιθυμούν να βοηθήσουν στο stand, να σημειώσουν στο wiki (https://wiki.hellug.gr/index.php/ELLAK2011) τις μέρες και ώρες που θα είναι διαθέσιμα. Σας ευχαριστούμε εκ των προτέρων και ελπίζουμε να σας δούμε εκεί.</p>
