---
title: "Συνάντηση Hellug - Τετάρτη 7/12"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2012-03-11
category_title: Δράσεις
tags: [Εκδηλώσεις]
draseis: [event]
---
        
<p>Όπως και τον προηγούμενο μήνα, έτσι και αυτόν θα γίνει η καθιερωμένη πια συναντησή του συλλόγου&nbsp;στον χώρο του <a href="http://hackerspace.gr/wiki/Main_Page">hackerspace.gr</a> την Τετάρτη 7/12.</p><p>Οι συναντήσεις αυτές έχουν ως στόχο τόσο την τακτική συνεύρεση των μελών και των φίλων του Hellug για συζητήσεις και για την εξυπηρέτηση διαδικαστικών θεμάτων τους, όσο και την δυνατότητα επαφής τους και γνωριμίας τους με το χώρο του Hackerspace και τα δρώμενα του.</p><p>Σε κάθε περίπτωση θα βρίσκεται τουλάχιστον ένα μέλος του Δ.Σ. στο χώρο για τακτοποίηση διαδικαστικών θεμάτων των μελών (π.χ. πληρωμή ετήσιας συνδρομής).&nbsp;</p>
