---
title: "Το εργαστήριο του Hellug (στην Καλλιθέα) έκλεισε"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2010-09-25
category_title: Σύλλογος
tags: [Νέα]
draseis: [news]
---
        
<p>Ένα μεγάλο κεφάλαιο για το σύλλογο έκλεισε με τη χθεσινή (25/9/2010) μετακόμιση του εξοπλισμού από το διαμέρισμα της Καλλιθέας όπου φιλοξενήθηκε για χρόνια το εργαστήριο του Hellug. Το μεγαλύτερο μέρος του υλικού κρίθηκε αρκετά (ως υπερβολικά) παλιό κι έτσι πήγε προς ανακύκλωση, ήταν κυρίως παλιές οθόνες, παλιοί ηλεκτρονικοί υπολογιστές και λοιπά εξαρτήματα όπως τροφοδοτικά, μητρικές κάρτες και σκληροί δίσκοι. Όσα υλικά κρίθηκε πως θα μπορούσαν να είναι χρήσιμα για το μέλλον κρατήθηκαν.</p><p>Ο εξοπλισμός ο οποίος μεταφέρθηκε προς (προσωρινή) αποθήκευση στο γραφείο του ταμία μας Πάνου Χρηστέα μπορεί να αποτελέσει τη βάση για κάποιο μελλοντικό εργαστήριο αν υπάρχει αντίστοιχη πρωτοβουλία κάποια στιγμή από τα μέλη μας. Επιπλέον είναι πράγματα που θα μπορούσαν να χρησιμοποιηθούν σε κάποια έκθεση ή άλλη εκδήλωση (πχ τραπέζια και καρέκλες).</p><p>Από αυτήν την τελευταία επίσκεψη μελών του συλλόγου στο διαμέρισμα της Καλλιθέας υπάρχει και φωτογραφικό υλικό που θα ανέβει σύντομα στο&nbsp;<a href="https://photos.hellug.gr/index.php?/category/3" rel="nofollow">photos.hellug.gr</a>&nbsp;ως ενθύμιο.</p>


