---
title: "Το εργαστήριο ΔΕΝ θα ανοίξει στις 19/07"
layout: "news"
bannertemplate: "hellug-banner.html"
date: 2014-07-17
category_title: Δράσεις
tags: [Νέα]
draseis: [news]
---
        
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Λόγω κάποιου προσωπικού+τεχνικού προβλήματος, αυτό το Σάββατο δεν θα ανοίξει το εργαστήριο στο Μαρούσι.</p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Θα σας ενημερώσω για το επόμενο Σάββατο, που ελπίζω να έχουμε διορθώσει το πρόβλημα και να μπορέσουμε να το ανοίξουμε.</p>
