---
title: "Καταστατικό"
layout: "pages"
bannertemplate: "hellug-banner.html"
date: 2013-04-24
peri-hellug: [page]
tags: [peri-hellug]
menu:
  main:
      parent: "peri-hellug"
      weight: 4
---
  1) 
<a href="/media/hellug-katastatiko-old-pages.pdf" download>Το αρχικό Ιδρυτικό Καταστατικό Νο 5189/1998</a>, παρουσιάζεται εδώ για ιστορικούς λόγους.<br>
2) Το ισχύον Τροποποίημένο Κατασταστικό Νο 6246/2006 είναι οργανωμένο πιο κάτω για καλύτερη ανάγνωση :<br><br>
<p><h4><u>ΠΕΡΙΕΧΟΜΕΝΑ</u></h4></p>
<div><h4>ΚΕΦΑΛΑΙΟ A΄: ΕΙΣΑΓΩΓΙΚΕΣ ΔΙΑΤΑΞΕΙΣ</h4></div>
<div><a href="#k1">ΑΡΘΡΟ 1ο: Επωνυμία - Έδρα - Διάρκεια</a></div>
<div ><a href="#k2">ΑΡΘΡΟ 2ο: Σκοποί - Επιδιώξεις</a><br /> <a href="#k3">ΑΡΘΡΟ 3ο: Μέσα εκπλήρωσης των σκοπών</a><br /> <a href="#k4">ΑΡΘΡΟ 4ο: Πόροι του σωματείου</a><br /> <a href="#k5">ΑΡΘΡΟ 5ο: Σφραγίδα του σωματείου</a><br /><br /><h4>ΚΕΦΑΛΑΙΟ Β΄: ΣΧΕΣΕΙΣ ΜΕΛΩΝ-ΣΥΛΛΟΓΟΥ</h4><br /> <a href="#k6">ΑΡΘΡΟ 6ο: Όροι αποδοχής</a><br /> <a href="#k7">ΑΡΘΡΟ 7ο: Διάκριση μελών</a><br /> <a href="#k8">ΑΡΘΡΟ 8ο: Εγγραφή μελών</a><br /> <a href="#k9">ΑΡΘΡΟ 9ο: Δικαιώματα μελών</a><br /> <a href="#k10">ΑΡΘΡΟ 10ο: Υποχρεώσεις μελών</a><br /> <a href="#k11">ΑΡΘΡΟ 11ο: Διαγραφή μέλους</a><br /> <a href="#k12">ΑΡΘΡΟ 12ο: Αποχώρηση μέλους</a><br /> <a href="#k13">ΑΡΘΡΟ 13ο: Αποβολή μέλους</a><br /><br /><h4>ΚΕΦΑΛΑΙΟ Γ΄:ΔΙΟΙΚΗΣΗ ΤΟΥ ΣΩΜΑΤΕΙΟΥ</h4><br /> <a href="#k14">ΑΡΘΡΟ 14ο: Διοικητικό συμβούλιο</a><br /> <a href="#k15">ΑΡΘΡΟ 15ο: Τρόπος Εκλογής του Δ.Σ.</a><br /> <a href="#k16">ΑΡΘΡΟ 16ο: Συγκρότηση Δ.Σ.</a><br /> <a href="#k17">ΑΡΘΡΟ 17ο: ΣΥΓΚΛΗΣΗ Δ.Σ. - ΛΗΨΗ ΑΠΟΦΑΣΕΩΝ Δ.Σ.</a><br /> <a href="#k18">ΑΡΘΡΟ 18ο: Κανονισμοί για τα μέλη του Δ.Σ.</a><br /> <a href="#k19">ΑΡΘΡΟ 19ο: Αρμοδιότητες των μελών του Δ.Σ.</a><br /> <a href="#k20">ΑΡΘΡΟ 20ο: Γενική Συνέλευση (Γ.Σ.)</a><br /> <a href="#k21">ΑΡΘΡΟ 21ο: ΣΥΓΚΛΗΣΗ - ΛΕΙΤΟΥΡΓΙΑ Γ.Σ.</a><br /> <a href="#k22">ΑΡΘΡΟ 22ο: Έκτακτες Γ.Σ.</a><br /> <a href="#k23">ΑΡΘΡΟ 23ο: Λήψη αποφάσεων Γ.Σ.</a><br /> <a href="#k24">ΑΡΘΡΟ 24ο: Απαρτία Γ.Σ. Αποφάσεις Γ.Σ.</a><br /> <a href="#k25">ΑΡΘΡΟ 25ο: Αποφάσεις Γ.Σ.</a><br /><br /><h4>ΚΕΦΑΛΑΙΟ Δ: ΟΙΚΟΝΟΜΙΚΗ ΔΙΑΧΕΙΡΙΣΗ</h4><br /> <a href="#k26">ΑΡΘΡΟ 26ο: Βιβλία του σωματείου</a><br /> <a href="#k27">ΑΡΘΡΟ 27ο: Οικονομική διαχείριση</a><br /> <a href="#k28">ΑΡθΡΟ 28ο: Ελεγκτική επιτροπή (Ε.Ε.)</a><br /> <a href="#k29">ΑΡΘΡΟ 29ο: Έργο της ελεγκτικής επιτροπής</a><br /><br /><h4>ΚΕΦΑΛΑΙΟ Ε΄: Υπόλοιπα Άρθρα</h4><br /> <a href="#k30">ΑΡΘΡΟ 30ο: Εφορευτική επιτροπή</a><br /> <a href="#k31">ΑΡΘΡΟ 31ο: Έκτακτες επιτροπές - Ομάδες εργασίας</a><br /> <a href="#k32">ΑΡΘΡΟ 32ο: Τροποποίηση καταστατικού</a><br /> <a href="#k33">ΑΡΘΡΟ 33ο: Διάλυση του σωματείου</a><br /> <a href="#k34">ΑΡΘΡΟ 34ο: Εκκαθάριση</a><br /> <a href="#k35">ΑΡΘΡΟ 35ο: Ερμηνεία του καταστατικού</a><br /> <a href="#k36">ΑΡΘΡΟ 36ο: Έγκριση καταστατικού</a><br /><br /> <a href="#k37">ΤΑ ΙΔΡΥΤΙΚΑ ΜΕΛΗ</a><br /><br /><br />
   <h4>ΚΕΦΑΛΑΙΟ Α΄ - ΕΙΣΑΓΩΓΙΚΕΣ ΔΙΑΤΑΞΕΙΣ</h4>
   <div ><a id="k1" name="k1"></a><h6>ΑΡΘΡΟ 1ο: Επωνυμία - Έδρα - Διάρκεια</h6></div>
<div >Ιδρύεται Επιστημονικός Σύλλογος με την επωνυμία &quot;ΕΝΩΣΗ ΧΡΗΣΤΩΝ ΚΑΙ ΦΙΛΩΝ ΛΙΝΟΥΞ ΕΛΛΑΔΟΣ&quot; (Ε.Χ.Φ.Λ.Ε.) - Hellenic Linux Users Group (HEL.L.U.G.)&quot; με έδρα την Καλλιθέα Αττικής, οδός Παπαφλέσσα 1-3, σκοπό μη κερδοσκοπικό και χρονική διάρκεια αόριστη.</div><br>
<div ><a id="k2" name="k2"></a><h6> ΑΡΘΡΟ 2ο: Σκοποί - Επιδιώξεις</h6></div>
<div >Σκοποί του Σωματείου είναι:
<p>1. Η σύσφιξη των δεσμών και των σχέσεων μεταξύ των Ελλήνων χρηστών του Linux (λειτουργικό σύστημα για ηλεκτρονικούς υπολογιστές) καθώς και η παροχή αλληλοβοήθειας μεταξύ αυτών.</p>
<p >2. H διεξαγωγή εκπαιδευτικών ή άλλων δραστηριοτήτων με σκοπό την βελτίωση των γνώσεων των μελών του πάνω σε θέματα του Linux.</p>
<p >3. Η δημιουργία, τροποποίηση και προσαρμογή στις ελληνικές ανάγκες λογισμικού, που σχετίζεται με το Linux καθώς και η ελεύθερη διανομή του.</p>
<p >4. Η προβολή και προώθηση του Linux τόσο σε εθνικό όσο και σε διεθνές επίπεδο με σκοπό την ευρύτερη διάδοσή του μεταξύ των χρηστών Η/Υ.</p>
<p >5. Η ευαισθητοποίηση και ενημέρωση κρατικών ή ιδιωτικών φορέων αλλά και γενικότερα οποιουδήποτε ενδιαφερόμενου σχετικά με το Linux και των θεμάτων που άπτονται τόσο αυτού όσο και γενικότερων θεμάτων πληροφορικής.</p>
<p >6. Η ερευνητική δραστηριότητα τόσο αυτόνομα εντός του συλλόγου, όσο και σε συνεργασία με άλλους εθνικούς ή διεθνείς φορείς σε τομείς που σχετίζονται με την πληροφορική και το Linux.</div></p>
<div ><a id="k3" name="k3"></a><h6>ΑΡΘΡΟ 3ο: Μέσα εκπλήρωσης των σκοπών</h6></div>
<p >Κατάλληλα μέσα για την επίτευξη των παραπάνω σκοπών θεωρούνται κυρίως τα παρακάτω:</p>
<p >1. Το ανθρώπινο δυναμικό του συλλόγου με την αφιλοκερδή υποστήριξη και βοήθεια που προτίθενται να διαθέσει.</p>
<p >2. Η συνεργασία με φορείς και άτομα εκτός συλλόγου, τόσο στην Ελλάδα όσο και στο εξωτερικό, εάν κριθεί ότι μπορεί να συμβάλει στην εκπλήρωση των στόχων του.</p>
<p >3. Κάθε άλλο μέσο, που κατά την κρίση του Διοικητικού Συμβουλίου, υπηρετεί τους σκοπούς του Σωματείου.</p>
<div ><a id="k4" name="k4"></a><h6>ΑΡΘΡΟ 4ο: Πόροι του σωματείου</h6></div>
<p >1. Οι πόροι του σωματείου είναι οι ακόλουθοι:</p>
<p >α. Η εγγραφή και οι συνδρομές των μελών του.</p>
<p >β. Οι τόκοι των κεφαλαίων.</p>
<p >γ. Δωρεές, κληρονομιές, συνεισφορές από οποιονδήποτε είτε εντός του συλλόγου είτε εκτός αυτού.</p>
<p >δ. Πάσης φύσεως οικονομικές ενισχύσεις, που προέρχονται από φυσικά ή νομικά πρόσωπα δημοσίου και ιδιωτικού δικαίου.</p>
<p >ε. Επιχορηγήσεις και άλλες οικονομικές ενισχύσεις Κοινοτικών, Δημοσίων, Δημοτικών και άλλων αρχών.</p>
<p >στ. Τυχόν έσοδα από οργάνωση σεμιναρίων, εγκατάσταση λογισμικού ή παροχή άλλων υπηρεσιών. σχετιζόμενων με τους σκοπούς και τα μέσα του συλλόγου.</p>
<p >ζ. Πώληση εντύπων υπό κάθε μορφή (ηλεκτρονική, έντυπη κλπ.)</p>
<p >η. Έκτακτες εισφορές, προτεινόμενες από το Δ.Σ. και εγκρινόμενες από την Γ.Σ.</p>
<p >θ. Οποιαδήποτε άλλη πηγή, εφ όσον δεν αντιβαίνει την υπάρχουσα νομοθεσία και δεν έρχεται σε αντίθεση με τους σκοπούς του σωματείου, κατόπιν συμφώνου γνώμεως της Γ.Σ.</p>
<p >2. Κληροδοσίες και δωρεές υπό τρόπο γίνονται δεκτές, ύστερα από έγκριση της Γενικής συνέλευσης κατά πλειοψηφία.</p>
<p >3. Η εκμετάλλευση της κινητής και ακίνητης περιουσίας του Σωματείου δε μπορεί σε κάθε περίπτωση, να συνεπάγεται την ανάμειξη αυτού σε κερδοσκοπικές δραστηριότητες και σκοπούς πέραν των στόχων του σωματείου.</p>
<p >4. Το Δ.Σ. διαχειρίζεται την περιουσία του σωματείου κατά το δοκούν, με σκοπό την συντήρησή της, πάντα σε συμφωνία με τη σχετική νομοθεσία, και λογοδοτεί επ&#39; αυτού στην Γ.Σ.</p>
<div ><a id="k5" name="k5"></a><h6>ΑΡΘΡΟ 5ο: Σφραγίδα του σωματείου</h6></div>
<p >Ο Σύλλογος έχει κυκλική σφραγίδα, η οποία φέρει στην περιφέρειά της τον τίτλο του Συλλόγου και το έτος ιδρύσεως αυτού και στο κέντρο πιγκουίνο με ελληνική σημαία.</p>
<h4>ΚΕΦΑΛΑΙΟ Β΄: ΣΧΕΣΕΙΣ ΜΕΛΩΝ-ΣΥΛΛΟΓΟΥ</h4></div>
<div ><a id="k6" name="k6"></a><h6>ΑΡΘΡΟ 6ο: Όροι αποδοχής</h6></div>
<p >1. Μέλη του Σωματείου μπορούν να είναι ελεύθερα όλοι όσοι, αδιακρίτως φύλλου, επαγγελματίες ή ερασιτέχνες, είναι χρήστες του Linux, καθώς και φίλοι του λειτουργικού αυτού συστήματος.</p>
<p >2. Τα υποψήφια μέλη πρέπει να αποδέχονται ανεπιφύλακτα το καταστατικό και να έχουν συμπληρώσει το 18ο έτος της ηλικίας τους.</p>
<p >3. Ανήλικοι κάτω των 18 ετών δεν μπορούν να είναι μέλη του Σωματείου, εκτός και αν συναινεί ο πατέρας, επίτροπος ή κηδεμόνας αυτών και αναγγέλλει τούτο εγγράφως προς τη διοίκηση του Σωματείου.</p>
<div ><a id="k7" name="k7"></a><h6>ΑΡΘΡΟ 7ο: Διάκριση μελών</h6></div>
<p >Τα μέλη του Σωματείου διακρίνονται σε:</p>
<p >1. ΤΑΚΤΙΚΑ, όσα καλύπτονται από το άρθρο 4 παρ. 1</p>
<p >2. ΕΠΙΤΙΜΑ. Επίτιμα μέλη ανακηρύσσονται από τη Γεν. Συνέλευση με φανερή ψηφοφορία, ύστερα από πρόταση του Δ.Σ., όσα προσέφεραν εξαιρετικές υπηρεσίες στην πραγματοποίηση των σκοπών του Σωματείου.</p>
<p >3. ΕΠΙΤΙΜΟΥΣ ΠΡΟΕΔΡΟΥΣ, με πρόταση του Δ.Σ., η Γεν. Συνέλευση ανακηρύσσει με φανερή ψηφοφορία ως επίτιμους Προέδρους, Προέδρους του Σωματείου, που προσέφεραν πολλές και εξαιρετικές υπηρεσίες σ&#39; αυτό.</p>
<div ><a id="k8" name="k8"></a><h6>ΑΡΘΡΟ 8ο: Εγγραφή μελών</h6></div>
<p >1. Κάθε νέο μέλος για να εγγραφεί, πρέπει να υποβάλει αίτηση προς το Δ.Σ. με τα στοιχεία της ταυτότητάς του, τη διεύθυνση, το τηλέφωνο του και με τη σημείωση ότι αποδέχεται το παρόν καταστατικό. Την αίτηση πρέπει να συνυπογράφουν τουλάχιστον 3 Τακτικά Μέλη του Συλλόγου.</p>
<p >2. Το Δ.Σ. ελέγχει τις προϋποθέσεις για την εγγραφή του και αναλόγως εγκρίνει ή απορρίπτει την αίτηση. Ο αιτών έχει το δικαίωμα να προσφύγει κατά της απορριπτικής απόφασης ενώπιον της Γενικής Συνέλευσης, η οποία και αποφαίνεται αμετάκλητα.</p>
<p >3. Ο γενόμενος δεκτός ως μέλος, καταβάλει το οριζόμενο απ&#39; το καταστατικό ποσό δικαιώματος εγγραφής και εγγράφεται στα βιβλία του Σωματείου.</p>
<p ><a id="k9" name="k9"></a><h6> *ΑΡΘΡΟ 9ο: Δικαιώματα μελών</h6></p>
<p >1. Όλα τα μέλη έχουν ίσα δικαιώματα και υποχρεώσεις. Η ιδιότητα του μέλους δε μεταβιβάζεται ούτε κληρονομείται.</p>
<p >2. Κάθε εγγεγραμμένο μέλος έχει τα παρακάτω δικαιώματα:</p>
<p >α. Να συμμετέχει στις συνεδριάσεις της Γ.Σ του Σωματείου.</p>
<p >β. Το δικαίωμα του &quot;εκλέγειν και εκλέγεσθαι&quot;, εφ&#39; όσον έχει συμπληρώσει το 18ο έτος της ηλικίας του και είναι ταμειακώς εντάξει.</p>
<p >γ. Να λαμβάνει γνώση οποτεδήποτε των πρακτικών και των λαμβανομένων από τη Γ.Σ και τ&#39; άλλα καταστατικά όργανα αποφάσεων.</p>
<p >δ. Να λαμβάνει γνώση του εισαγόμενου από το Δ.Σ. στη Γ.Σ. ισολογισμού.</p>
<p >ε. Να υποβάλλει στη Γ.Σ. εγγράφως, ηλεκτρονικώς ή προφορικώς προτάσεις ή ενστάσεις σχετικές με την επίτευξη των στόχων του Σωματείου.</p>
<p >στ. Να λαμβάνει χρηματική ενίσχυση, από τους πόρους του Συλλόγου, κατόπιν αποφάσεως του Δ.Σ. επικυρωμένης από τη Γ.Σ., για την παραγωγή έργου το οποίο έχει συμβάλλει στην προώθηση των σκοπών του Συλλόγου.</p>
<p >ζ. Να μετάσχει στις ειδικές επιτροπές που μπορεί να δημιουργήσει ο Σύλλογος</p>
<p ><a id="k10" name="k10"></a> <h6>ΑΡΘΡΟ 10ο: Υποχρεώσεις μελών</h6></p>
<p >Κάθε μέλος του Σωματείου έχει τις παρακάτω υποχρεώσεις:</p>
<p >1. Να συμμετέχει στις Γ.Σ και να συμπαραστέκεται στα όργανα της Διοίκησης κατά την άσκηση των καθηκόντων της.</p>
<p >2. Να τηρεί το καταστατικό και να συμμορφώνεται με τις αποφάσεις της Γ. Σ. και του Δ.Σ. του Σωματείου.</p>
<p >3. Να μην αντιστρατεύεται τα συμφέροντα του Σωματείου.</p>
<p >4. Να υπερασπίζεται ιδιωτικώς και δημοσίως το έργο του Συλλόγου.</p>
<p >5. Τέλος, υποχρεούται να καταβάλλει στο ταμείο του Σωματείου:</p>
<p >α. Το εφάπαξ δικαίωμα εγγραφής του, που ορίζεται σε 10 ευρώ (10).</p>
<p >β. Το ποσό της ετήσιας συνδρομής που ανέρχεται σε 30 ευρώ (30).</p>
<p >γ. Κάθε άλλη έκτακτη εισφορά, όπως αυτή προβλέπεται να ορίζεται, προς αντιμετώπιση έκτακτων δαπανών του Σωματείου.</p>
<p >6. Εφεξής, το ποσό δικαιώματος εγγραφής και ετήσιας συνδρομής θα καθορίζεται από την Γ.Σ. κατόπιν προτάσεως του Δ.Σ.</p>
<p >7 . Έκτακτες εισφορές αποφασίζονται από το Δ.Σ. και εγκρίνονται από την Γ.Σ.</p>
<p ><a id="k11" name="k11"></a> <h6>ΑΡΘΡΟ 11ο: Διαγραφή μέλους</h6></p>
<p >1. Τα μέλη υποχρεούνται να καταβάλουν την ετήσια συνδρομή, εντός του τελευταίου τριμήνου του έτους. Απαγορεύεται η συμμετοχή στις Γ.Σ. μέλους, το οποίο μέχρι της ενάρξεως της Γ.Σ. δεν έχει εκπληρώσει τις οικονομικές του υποχρεώσεις σύμφωνα με το παρόν καταστατικό.</p>
<p >2. Όσα εγγεγραμμένα μέλη καθυστερήσουν την ετήσια συνδρομή ή τις άλλες οικονομικές υποχρεώσεις που καθόρισε το Δ.Σ. ή η Γ.Σ., πέραν του εξαμήνου το Δ.Σ. τα ειδοποιεί μ&#39; επιστολή να ανταποκριθούν εντός διαστήματος 30 ημερών, αλλιώς διαγράφονται με απόφαση της Γ.Σ. ύστερα από πρόταση του Δ.Σ.</p>
<p >3. Όταν το διαγραμμένο για οικονομικές οφειλές μέλος καταβάλει αυτές, τότε αυτοδικαίως επανεγγράφεται.</p>
<p >4. Ένα διαγεγραμμένο μέλος δε δικαιούται να απαιτήσει την επιστροφή χρημάτων ή να διεκδικήσει άλλα περιουσιακά στοιχεία του Συλλόγου.</p>
<p ><a id="k12" name="k12"></a> <h6>ΑΡΘΡΟ 12ο: Αποχώρηση μέλους</h6></p>
<p >1. Τα μέλη αποχωρούν οικειοθελώς απ&#39; το Σωματείο, κατόπιν εγγράφου δηλώσεως προς το Δ.Σ. Το μέλος που αποχωρεί υποχρεούται στην εκπλήρωση των μέχρι της αποχώρησής του υποχρεώσεων έναντι του Συλλόγου.</p>
<p >2. Η αποχώρηση του γνωστοποιείται σε όλα τα υπόλοιπα μέλη, είτε με συμβατικό τρόπο ή με ηλεκτρονικό ταχυδρομείο.</p>
<p ><a id="k13" name="k13"></a><h6> ΑΡΘΡΟ 13ο: Αποβολή μέλους</h6></p>
<p >1. Σε μέλος που δεν τηρεί τους όρους του καταστατικού, που αντιδρά άμεσα ή έμμεσα στους σκοπούς του Σωματείου, που παραβαίνει τις διατάξεις του Νόμου περί Σωματείων ή προβάλλει προσκόμματα στην εκτέλεση των αποφάσεων του Δ.Σ. και της Γ.Σ. και συμπεριφέρεται κατά τρόπο ασυμβίβαστο προς τα συμφέροντα του Συλλόγου, γίνονται κατ&#39; αρχήν συστάσεις από το Δ.Σ.</p>
<p >2. Αν δεν συμμορφωθεί, αποβάλλεται οριστικά ύστερα από αιτιολογημένη απόφαση του Δ.Σ., η οποία λαμβάνεται με μυστική ψηφοφορία και πλειοψηφία των 2/3 του συνόλου των μελών.</p>
<p >3. Με την ίδια διαδικασία αποφασίζει και για την αποβολή μέλους που έχει καταδικαστεί γι&#39; αξιόποινη πράξη, σύμφωνα με τις διατάξεις του Ποινικού Κώδικα.</p>
<p >4. Πριν από την έκδοση της οριστικής απόφασης περί αποβολής μέλους, το ενδιαφερόμενο μέλος καλείται απ&#39; το Δ.Σ. να απολογηθεί εγγράφως εντός ευλόγου προθεσμίας, μετά την πάροδο της οποίας το Δ.Σ. αποφαίνεται και άνευ αυτής.</p>
<p >5. Κατά της αποφάσεως αποβολής μέλους δύναται ν&#39; ασκηθεί από το αποβληθέν μέλος η κατά το άρθρο 88 του ΑΚ προβλεπόμενη προσφυγή.</p>
<p >6. Το αποβληθέν μέλος δεν δύναται να έχει καμία οικονομική ή άλλη αξίωση έναντι του σωματείου</p>
<p >7. Τον πειθαρχικό έλεγχο του Δ.Σ. και της Ελεγκτικής Επιτροπής ασκεί η Γ.Σ.</p>
<p ><h4>ΚΕΦΑΛΑΙΟ Γ΄: ΔΙΟΙΚΗΣΗ ΤΟΥ ΣΩΜΑΤΕΙΟΥ</h4><a id="k14" name="k14"></a> ΑΡΘΡΟ 14ο: Διοικητικό συμβούλιο</p>
<p >1. Ο Σύλλογος διοικείται από πενταμελές Διοικητικό Συμβούλιο που αποτελείται από τον Πρόεδρο, Αντιπρόεδρο, Γενικό Γραμματέα, Ταμία, Έφορο και εκλέγεται από τη Γ.Σ. με ψηφοφορία, σύμφωνα με το σχετικό άρθρο του καταστατικού</p>
<p >2. Το Δ.Σ. διοικεί το Σύλλογο και διαχειρίζεται την περιουσία του σύμφωνα με τις διατάξεις των νόμων, του παρόντος καταστατικού και τις αποφάσεις των Γ.Σ.</p>
<p >3. Αποφασίζει για κάθε θέμα που αφορά στην εκπλήρωση των σκοπών του Συλλόγου, συντάσσει τον ετήσιο προϋπολογισμό και τον απολογισμό του λογιστικού έτους και ανακοινώνει αυτούς προς τη Γ.Σ.</p>
<p ><a id="k15" name="k15"></a> ΑΡΘΡΟ 15ο: Τρόπος Εκλογής του Δ.Σ.</p>
<p >1. Όσοι από τα μέλη που έχουν δικαίωμα να εκλέγονται στα Όργανα του Συλλόγου θέλουν να εκλεγούν για το αξίωμα του μέλους του Διοικητικού Συμβουλίου υποβάλλουν την υποψηφιότητά τους, γραπτά ή ηλεκτρονικά στην Εφορευτική Επιτροπή το λιγότερο μια βδομάδα πριν από την ημέρα της Γ.Σ. Η Εφορευτική Επιτροπή ελέγχει τη νομιμότητα της αίτησης και ανακηρύσσει το μέλος υποψήφιο.</p>
<p >2. Υποψήφιοι που δεν ανακηρύχθηκαν από την Εφορευτική Επιτροπή μπορούν να προσφύγουν με ενστάσεις τους στη Γ.Σ., η οποία αποφασίζει οριστικά.</p>
<p >3. Τα ονόματα των υποψήφιων συμβούλων αναγράφονται με αλφαβητική σειρά σε ενιαίο ψηφοδέλτιο. Το ψηφοδέλτιο μπορεί να έχει τη γνωστή συμβατική μορφή ή να είναι ένα ηλεκτρονικό αρχείο, το οποίο αποστέλλεται στον listserver και από εκεί σε όλα τα μέλη.</p>
<p >4. Ειδικά για μέλη που εγγράφως και εγκαίρως δηλώσουν ότι δεν έχουν πρόσβαση στο Internet, το ψηφοδέλτιο εκτυπώνεται σε χαρτί και αποστέλλεται με συμβατικό ταχυδρομείο από την Εφορευτική Επιτροπή στα μέλη αυτά.</p>
<p >5. Κάθε μέλος που ψηφίζει μπορεί να βάλει μέχρι πέντε (5) σταυρούς προτίμησης.</p>
<p >6. Μέλη του Δ.Σ. εκλέγονται οι κατά σειρά πλειοψηφίσαντες βάσει του σταυρού προτίμησης, οι δε υπόλοιποι κατά σειρά επιλαχόντες θεωρούνται αναπληρωματικοί. Σε περίπτωση ισοψηφίας διενεργείται επαναληπτική ψηφοφορία μόνο για τα ισοψηφήσαντα μέλη.</p>
<p >7. Η θητεία του Δ.Σ. είναι μονοετής. Μετά τη λήξη της θητείας του, απαγορεύεται η άσκηση καθηκόντων διοικήσεως, οποιαδήποτε δε, δικαιοπραξία από το Δ.Σ. ή μελών αυτού είναι άκυρη και δε δεσμεύει το Σύλλογο.</p>
<p >8. Οι αναπληρωματικοί σύμβουλοι καλούνται κατά τη σειρά εκλογής τους σε αντικατάσταση τακτικού μέλους του Δ.Σ. σε περίπτωση παραίτησης, θανάτου, έκπτωσης ή παύσης αυτού.</p>
<p ><a id="k16" name="k16"></a> ΑΡΘΡΟ 16ο: Συγκρότηση Δ.Σ.</p>
<p >1. Τα εκλεγμένα μέλη του Δ.Σ. συνέρχονται με πρόσκληση του συμβούλου που πλειοψήφησε μέσα σε 15 ημέρες από την ημέρα της εκλογής τους και συγκροτούνται σε σώμα με ψηφοφορία εκλέγοντας μεταξύ τους με απόλυτη πλειοψηφία των μελών κατά σειρά τον Πρόεδρο, τον Αντιπρόεδρο, τον Γεν. Γραμματέα, τον Ταμία και τον Έφορο. Συντάσσεται τότε σχετική πράξη, η οποία υπογράφεται από τα μέλη και καταχωρείται στα βιβλία πρακτικών του Σωματείου.</p>
<p >2. Κανένας μέλος του Δ.Σ. δεν μπορεί να έχει συγχρόνως δύο ή περισσότερες από τις παραπάνω ιδιότητες. Μέχρις ότου αναλάβει καθήκοντα το νέο Δ.Σ., το παλαιό εξακολουθεί να διαχειρίζεται τις επείγουσες υποθέσεις του Συλλόγου.</p>
<p >3. Η μονοετής θητεία του Δ.Σ. αρχίζει από την ημέρα της εκλογής του.</p>
<p ><a id="k17" name="k17"></a> ΑΡΘΡΟ 17ο: ΣΥΓΚΛΗΣΗ Δ.Σ. - ΛΗΨΗ ΑΠΟΦΑΣΕΩΝ Δ.Σ.</p>
<p >1. Το Δ.Σ. συνεδριάζει στην έδρα του Συλλόγου ύστερα από πρόσκληση του Προέδρου ή σε περίπτωση κωλύματος αυτού, του Αντιπροέδρου. Το Δ.Σ βρίσκεται σε απαρτία αν είναι παρόντα τρία (3) τουλάχιστον μέλη του. Αν αυτό δεν είναι δυνατό, τότε μπορεί να γίνει συνεδρίαση δια αλληλογραφίας. Τα μέλη που έχουν πρόσβαση στο Internet μπορούν να επικοινωνούν μέσω ηλεκτρονικού ταχυδρομείου. Για τα μέλη που δεν έχουν πρόσβαση, ο Πρόεδρος είναι υποχρεωμένος να ενημερώνει τα μέλη είτε γραπτά είτε τηλεφωνικά (τα τηλεφωνικά ή ταχυδρομικά έξοδα καλύπτονται από το ταμείο του Συλλόγου). Οι αποφάσεις του Δ.Σ. λαμβάνονται με απόλυτη πλειοψηφία κατά τον τρόπο διεξαγωγής των ψηφοφοριών της Γ.Σ.</p>
<p >2. Το Δ.Σ. συνέρχεται εκτάκτως, όποτε το συγκαλέσει ο Πρόεδρος ή ο νόμιμος αναπληρωτής του ή αν η συζήτηση ζητηθεί από τρία (3) τουλάχιστον μέλη του Δ.Σ. με αίτησή τους, στην οποία αναγράφονται τα προς συζήτηση θέματα.</p>
<p >3. Οι αποφάσεις του Δ.Σ. λαμβάνονται με απόλυτη πλειοψηφία των παρόντων μελών και καταχωρούνται στο βιβλίο των πρακτικών. Σε περίπτωση ισοψηφίας υπερέχει η ψήφος του Προέδρου. Σε όλες τις συνεδριάσεις τηρούνται πρακτικά από τον Γεν. Γραμματέα, τα οποία επικυρώνονται με τις υπογραφές των μελών και του προεδρεύσαντος.</p>
<p >4. Το Δ.Σ. αποφασίζει για κάθε περίπτωση, που δεν προβλέπεται από το καταστατικό και δεν υπάρχει ειδική απόφαση της Γ.Σ.</p>
<p >5. Όταν ο αριθμός των μελών του Δ.Σ. μειωθεί για οποιοδήποτε λόγο, το Δ.Σ. συμπληρώνεται από τα αναπληρωματικά μέλη κατά τη σειρά της εκλογής τους σύμφωνα με το σχετικό άρθρο του καταστατικού.</p>
<p >6. Τα μέλη του Συλλόγου μπορούν να παρακολουθούν τις συνεδριάσεις του Δ.Σ. με δικαίωμα λόγου, όταν αυτό είναι δυνατό, όχι όμως και ψήφου.</p>
<p ><a id="k18" name="k18"></a> ΑΡΘΡΟ 18ο: Κανονισμοί για τα μέλη του Δ.Σ.</p>
<p >1. Τα μέλη του Δ.Σ. μπορούν να παυθούν από τη Γ.Σ. με απόφαση που λαμβάνεται με απόλυτη πλειοψηφία των 4/5 των παρόντων μελών.</p>
<p >2. Μέλος του Δ.Σ. δεν ψηφίζει, εάν η απόφαση αφορά την επιχείρηση δικαιοπραξίας ή την έγερση ή την κατάργηση δίκης μεταξύ του Συλλόγου αφ&#39; ενός και του μέλους ή του συζύγου ή συγγενούς του εξ αίματος μέχρι του 3ου βαθμού, αφετέρου.</p>
<p >3. Σε περίπτωση παραίτησης, θανάτου, έκπτωσης ή συνεχούς κωλύματος του Προέδρου ή άλλου μέλους του Προεδρείου το Δ.Σ. εκλέγει νέο αντικαταστάτη αυτού μέχρι τη λήξη της θητείας του.</p>
<p >4. Μέλος του Δ.Σ. που απουσιάζει αδικαιολόγητα επί τέσσερις συνεχόμενες τακτικές συνεδριάσεις ή έχει εκπέσει του αξιώματος του ή παραιτηθεί, αντικαθίσταται με απόφαση του Δ.Σ. από τον πρώτο κατά σειρά αναπληρωματικό σύμβουλο και εάν αυτός δεν αποδεχτεί το διορισμό καλείται ο δεύτερος κατά σειρά και ούτω καθ&#39; εξής. Εάν λείπουν τα απαιτούμενα πρόσωπα για τη διοίκηση του Συλλόγου, τα λοιπά μέλη του Δ.Σ., εφ&#39; όσον αρκούν για τη συγκρότηση απαρτίας οφείλουν να συγκαλέσουν τη Γ.Σ. προς διεξαγωγή αρχαιρεσιών και συμπλήρωση των κενών θέσεων, εάν αυτό δεν καταστεί δυνατόν, τότε διορίζεται προσωρινή διοίκηση από το Πρωτοδικείο Αθηνών.</p>
<p >5. Το μέλος που εκπίπτει από το αξίωμα του δικαιούται να προσφύγει στη Γ.Σ. για ακύρωση της απόφασης έκπτωσής του. Η προσφυγή κατατίθεται στον Γεν. γραμματέα του Δ.Σ. με απόδειξη σε δέκα μέρες από την κοινοποίηση της απόφασης έκπτωσης. Αν κατατεθεί προσφυγή, η σχετική απόφαση δεν εκτελείται μέχρι να αποφασίσει η Γ.Σ.</p>
<p ><a id="k19" name="k19"></a> ΑΡΘΡΟ 19ο Αρμοδιότητες των μελών του Δ.Σ.</p>
<p >Το Δ.Σ. διοικεί και διαχειρίζεται τις υποθέσεις του Συλλόγου και κατευθύνει τη δράση αυτού στην επιδίωξη και πραγματοποίηση των σκοπών του.</p>
<p >1. Ο Πρόεδρος του Δ.Σ. προΐσταται αυτού, διευθύνει τις συνεδριάσεις, εισηγείται προς αυτό τα θέματα της ημερήσιας διάταξης, την οποία συντάσσει με το Γεν. Γραμματέα. Εκπροσωπεί το Σύλλογο, ενώπιον κάθε Δικαστικής, Πολιτικής, Φορολογικής ή άλλης αρχής και ενώπιον κάθε τρίτου σ&#39; όλες τις σχέσεις, δικαιοπραξίες και εκδηλώσεις. Επιβλέπει τη διαχείριση του ταμία, κάθε φορά που κρίνει αυτό αναγκαίο, στον οποίο δίνει την εντολή για κάθε δαπάνη κατόπιν απόφασης της Γ.Σ. Συντάσσει ανακοινώσεις και κάθε κείμενο που κοινοποιείται στα πλαίσια των αποφάσεων του Δ.Σ. Συνυπογράφει με τον Γενικό Γραμματέα όλα τα έγγραφα, την αλληλογραφία, τα εντάλματα πληρωμών, τα οποία εκδίδονται βάσει αποφάσεων του Δ.Σ. Προσυπογράφει στον Ταμία τις διπλότυπες αποδείξεις είσπραξης. Συγκαλεί τις Γ.Σ. ύστερα από απόφαση του Δ.Σ. και τις συνελεύσεις του Δ.Σ. Φροντίζει γενικά για την τήρηση του καταστατικού, των αποφάσεων της Γ.Σ. και του Δ.Σ., Παίρνοντας κάθε εξασφαλιστικό μέτρο των συμφερόντων του Συλλόγου ακόμα δε και χωρίς απόφαση του Δ.Σ., εάν από την αναβολή κινδυνεύουν τα συμφέροντά του.</p>
<p >2. Ο Αντιπρόεδρος συνεργάζεται με τον Πρόεδρο του Δ.Σ. για την εκτέλεση των αποφάσεων και τον αναπληρώνει σε περίπτωση απουσίας ή κωλύματος.</p>
<p >3. Ο Γενικός Γραμματέας είναι ο εισηγητής και εκτελεστής των αποφάσεων του Δ.Σ. Τηρεί τα πρακτικά των συνεδριάσεων του Δ.Σ., το μητρώο μελών, συνυπογράφει με τον Πρόεδρο όλα τα έγγραφα, διεξάγει την αλληλογραφία κι επιμελείται της τακτικής τήρησης των αρχείων. Υποβάλλει μετά του Ταμία ή του Προέδρου, ανάλογα με την περίπτωση, κάθε ζητούμενο στοιχείο σε κάθε Δημόσια Αρχή. Φυλάσσει τη σφραγίδα του Σωματείου, εποπτεύει και ελέγχει την καλή λειτουργία των υπηρεσιών του Συλλόγου και προίσταται του προσωπικού αυτού. Τον Γεν. Γραμματέα όταν κωλύεται αντικαθιστά είτε ο Πρόεδρος ή κάποιος που ορίζεται από τον Πρόεδρο.</p>
<p >4. Ο Ταμίας είναι υπεύθυνος για την τήρηση του βιβλίου ταμείου και για τη ταμειακή διαχείριση. Ενεργεί τις εισπράξεις και τις πληρωμές βάσει γραμματίων και ενταλμάτων και προβαίνει σε αναλήψεις χρημάτων βάσει αποφάσεων του Δ.Σ. Τις διπλότυπες αποδείξεις εισπράξεως υπογράφει και ο Πρόεδρος όπως και τα εντάλματα πληρωμών, στα οποία πρέπει να μνημονεύεται στο τέλος ο αριθμός της αποφάσεως του Δ.Σ., με την οποία εγκρίθηκε η δαπάνη. Συντάσσει καταστάσεις της ταμειακής κινήσεως που τις υποβάλλει στο Δ.Σ. στο τέλος κάθε εξαμήνου. Η κατάσταση πρέπει να περιέχει αναλυτικά τα έσοδα και τα έξοδα με τα σχετικά παραστατικά έγγραφα. Ο Ταμίας καταθέτει τα πέραν ενός ποσού διαθέσιμων μετρητών που θα αποφασίζεται από την Γ.Σ. και αρχικά θα είναι πενήντα χιλιάδες δρχ. (50.000) σε καθορισμένη από το Δ.Σ. αναγνωρισμένη ελληνική τράπεζα και σε λογαριασμό καταθέσεως όψεως στο όνομα του Σωματείου. Η απόφαση θα πρέπει να εξασφαλίζει την όσο δυνατό μεγαλύτερη απόδοση χρημάτων. Ο ταμίας μεριμνά για την κανονική είσπραξη των συνδρομών και τηρεί ενήμερο του Δ.Σ. για τυχόν καθυστερήσεις. Ο Ταμίας υποχρεούται να θέτει στη διάθεση του Δ.Σ για έλεγχο το Ταμείο του Συλλόγου, όποτε αυτό κριθεί αναγκαίο.</p>
<p >5. Ο Έφορος τηρεί το βιβλίο περιουσίας και επιμελείται της διαφύλαξης των περιουσιακών στοιχείων του Συλλόγου. Είναι υπεύθυνος για τη προμήθεια των αναγκαίων υλικών και διοργάνωση διαλέξεων, εκδηλώσεων, εορτών κλπ.</p>
<p >6. Το Δ.Σ. έχει τη δυνατότητα να καλεί κάθε φορά ανάλογα με τις ανάγκες του Σωματείου βοηθητικά πρόσωπα προκειμένου να καλυφθούν έκτακτες ανάγκες και μπορεί να εξουσιοδοτήσει τρίτους για να αντιπροσωπεύσουν τον σύλλογο εάν και όπου αυτό καταστεί αναγκαίο</p>
<p ><a id="k20" name="k20"></a> ΑΡΘΡΟ 20ο: Γενική Συνέλευση (Γ.Σ.)</p>
<p >1. Η Γ.Σ. του Συλλόγου αποτελείται από το σύνολο των οικονομικά τακτοποιημένων μελών του.</p>
<p >2. Οικονομικά τακτοποιημένο θεωρείται το μέλος που έχει καταβάλει τις ετήσιες συνδρομές προς το Σύλλογο μέχρι και του εξαμήνου που συνέρχεται η Γενική Συνέλευση.</p>
<p >3. Η Γ.Σ. αποτελεί το ανώτατο όργανο του Συλλόγου και αποφασίζει για κάθε θέμα που αφορά το Σύλλογο.</p>
<p >4. Επιπλέον, η Γ.Σ:</p>
<p >α. Εκλέγει το Δ.Σ., την Εφορευτική Επιτροπή και την Ελεγκτική Επιτροπή (Ε.Ε.) και ελέγχει τη δράση αυτών.</p>
<p >β. Εγκρίνει ή απορρίπτει τον απολογισμό δράσης και διαχείρισης του Δ.Σ και τις εκθέσεις της Ελεγκτικής Επιτροπής για τον έλεγχο της διαχείρισης.</p>
<p >γ. Εγκρίνει, τροποποιεί και συμπληρώνει τους ετήσιους προϋπολογισμούς για κάθε οικονομικό έτος.</p>
<p >δ) Παύει τα μέλη του Δ.Σ. και της Ελεγκτικής Επιτροπής για σπουδαίους λόγους και ιδίως για βαριά παράβαση των καθηκόντων τους ή για ανικανότητα να ασκήσουν την τακτική διαχείριση.</p>
<p ><a id="k21" name="k21"></a> ΑΡΘΡΟ 21ο: ΣΥΓΚΛΗΣΗ - ΛΕΙΤΟΥΡΓΙΑ Γ.Σ</p>
<p >1. Οι Γ.Σ. είναι τακτικές κι έκτακτες.</p>
<p >2. Η τακτική Γ.Σ. συνέρχεται μία (1) φορά το χρόνο και κατά προτίμηση μέσα στους 3 πρώτους μήνες του έτους, μετά από πρόσκληση του Δ.Σ. Στα μέλη αποστέλλεται έγγραφη πρόσκληση είτε με συμβατικό ή με ηλεκτρονικό ταχυδρομείο (20) είκοσι τουλάχιστον ημέρες πριν από την πραγματοποίηση της συνόδου. Η πρόσκληση πρέπει ν&#39; αναγράφει τα θέματα της ημερήσιας διάταξης, τον τόπο, την ημέρα και ώρα της συνέλευσης. Υπογράφεται δε από τον Πρόεδρο και το Γεν. Γραμματέα. Σύμφωνα μ&#39; αυτή τίθενται υποχρεωτικώς, κατά την κρίση των μελών τα εξής θέματα:</p>
<p >α. Ο απολογισμός των πεπραγμένων του Δ.Σ. για το παρελθόν έτος.</p>
<p >β. Ο οικονομικός ισολογισμός για την ετήσια διαχειριστική περίοδο και ο προϋπολογισμός της επόμενης.</p>
<p >γ. Η έκθεση της Ελεγκτικής επιτροπής.</p>
<p ><a id="k22" name="k22"></a> ΑΡΘΡΟ 22ο: Έκτακτες Γ.Σ.</p>
<p >1. Έκτακτες Γ.Σ. συγκαλούνται όταν αυτό κριθεί αναγκαίο από το Δ.Σ. ή όταν ζητηθεί με αίτηση από το 2/5 τουλάχιστον των οικονομικά τακτοποιημένων μελών με γραπτή αίτηση προς το Δ.Σ. στην οποία θα αναγράφονται τα προς συζήτηση θέματα.</p>
<p >2. Το Δ.Σ. υποχρεούται να συγκαλέσει τη Γ.Σ. μέσα σε διάστημα 15 ημερών από την υποβολή της αίτησης. Αν περάσει άπρακτη η παραπάνω προθεσμία, τότε η Γ.Σ. συγκαλείται από τους αιτούντες κατόπιν αδείας του Πρωτοδικείου Αθηνών, η οποία ρυθμίζει και τα αφορούντα την Προεδρία της Γ.Σ. θέματα.</p>
<p >3. Σε ότι αφορά την από το Δ.Σ. σχετική πρόσκληση και γνωστοποίηση αυτής, εφαρμόζονται τα προβλεπόμενα εκ του καταστατικού για τις τακτικές Γ.Σ. του Συλλόγου.</p>
<p ><a id="k23" name="k23"></a> ΑΡΘΡΟ 23ο: Λήψη αποφάσεων Γ.Σ.</p>
<p >1. Δικαίωμα συμμετοχής και ψήφου στις Γ.Σ. έχουν όλα τα οικονομικώς τακτοποιημένα μέλη. Οι Γ.Σ. διευθύνονται από τον Πρόεδρο, ο οποίος εκλέγεται από τα παρόντα μέλη μετά από υπόδειξη της πλειοψηφίας αυτών. Κατά τον ίδιο τρόπο εκλέγεται και ο Γραμματέας της Γ.Σ. ο οποίος τηρεί τα πρακτικά.</p>
<p >2. Ο Πρόεδρος διευθύνει τις συζητήσεις, καθορίζει σειρά ομιλητών, μεριμνά για την τήρηση της ημερήσιας διάταξης και την τάξη.</p>
<p >3. Οι αποφάσεις της Γ.Σ. λαμβάνονται με απόλυτη πλειοψηφία των μελών που συμμετέχουν σ&#39; αυτή.</p>
<p >4. Ο τρόπος λήψης αποφάσεων είναι ανάλογος του είδους της Γ.Σ.:</p>
<p >α) Ηλεκτρονική Συνέλευση: Ένα θέμα τίθεται σε ψηφοφορία και καλούνται όλα τα μέλη να ψηφίσουν σε χρονικό διάστημα που καθορίζει ο Πρόεδρος του Δ.Σ. Η ψηφοφορία γίνεται είτε με την αποστολή της ηλεκτρονικής αποστολής στον listserver ή στον Πρόεδρο, ή με αποστολή συμβατικής επιστολής στον Πρόεδρο. Μετά το πέρας της ψηφοφορίας ο Πρόεδρος ανακοινώνει το αποτέλεσμα της ψηφοφορίας.</p>
<p >β) Συμβατική Συνέλευση: Οι ψηφοφορίες γίνονται σύμφωνα με το σχετικό άρθρο του καταστατικού</p>
<p >5. Για τις συζητήσεις στη Γ.Σ., τις ψηφοφορίες και γενικά τις αποφάσεις που λαμβάνονται, τηρούνται με τη φροντίδα του Γραμματέα πρακτικά, που καταχωρούνται σε ειδικό βιβλίο και υπογράφονται από τον ίδιο.</p>
<p ><a id="k24" name="k24"></a> ΑΡΘΡΟ 24ο: Απαρτία Γ.Σ.</p>
<p >1. Η Γ.Σ. βρίσκεται σε απαρτία όταν είναι παρόντες το 1/3 τουλάχιστον του αριθμού των μελών των εχόντων δικαίωμα ψήφου. Αν δεν υπάρχει απαρτία κατά την πρώτη σύγκληση, τότε η Γ.Σ. γίνεται δια ηλεκτρονικής αλληλογραφίας (ηλεκτρονική συνέλευση). Ο Σύλλογος διαθέτει ειδικό μέσο άμεσης επικοινωνίας (listserver) των μελών με τη χρήση του ηλεκτρονικού ταχυδρομείου. Όσα μέλη του Συλλόγου δεν έχουν πρόσβαση στο Internet μετέχουν με συμβατικό ταχυδρομείο, η δε ενημέρωσή τους για την πορεία της Συνέλευσης θα γίνεται από τον Πρόεδρο του Συλλόγου. Η συζήτηση των θεμάτων θα γίνεται κατά την πάγια μέθοδο συζήτησης θεμάτων του USENET. Το πέρας της Γ.Σ. ανακοινώνεται από τον Πρόεδρο του Δ.Σ.</p>
<p >2. Αν υπάρχει απαρτία (συμβατική συνέλευση), η οποία διαπιστώνεται από τον Πρόεδρο του Δ.Σ., Γ.Σ. με απλή πλειοψηφία των παρόντων Πρόεδρο και Γραμματέα, οι οποίοι διευθύνουν τη συνεδρίαση.</p>
<p >3. Η Γ.Σ. μπορεί να αποφασίσει με απλή πλειοψηφία για τη συζήτηση οποιουδήποτε θέματος.</p>
<p ><a id="k25" name="k25"></a> ΑΡΘΡΟ 25ο: Αποφάσεις Γ.Σ.</p>
<p >1. Απόφαση της Γ.Σ. επί θέματος που δεν έχει αναγραφεί στην ημερήσια διάταξη και πρόσκληση είναι άκυρη.</p>
<p >2. Οι αποφάσεις των Γ.Σ. λαμβάνονται πάντοτε με ψηφοφορία φανερή και ποτέ δια βοής, λαμβάνονται δε με απόλυτη πλειοψηφία των παρόντων, εκτός αν με βάση άλλες διατάξεις του παρόντος απαιτείται αυξημένη πλειοψηφία.</p>
<p >3. Με μυστική ψηφοφορία λαμβάνονται οι αποφάσεις για θέματα που με απόφαση του Δ.Σ. ή της Γ.Σ. χαρακτηρίζονται εξαιρετικά σοβαρά.</p>
<p ><h4>ΚΕΦΑΛΑΙΟ Δ: ΟΙΚΟΝΟΜΙΚΗ ΔΙΑΧΕΙΡΙΣΗ</h4><a id="k26" name="k26"></a> ΑΡΘΡΟ 26ο: Βιβλία του σωματείου</p>
<p >1. Για την άρτια λειτουργία και τη νόμιμη διαχείριση των οικονομικών του Συλλόγου, το Δ.Σ. τηρεί τα εξής αριθμημένα και θεωρημένα από τον Πρόεδρο βιβλία:</p>
<p >α. Μητρώο Μελών.</p>
<p >β. Βιβλίο Πρακτικών Συνεδριάσεων του Δ.Σ.</p>
<p >γ. Βιβλίο Πρακτικών Συνεδριάσεων της Γ.Σ.</p>
<p >δ. Βιβλίο ταμείου (εισπράξεων και πληρωμών).</p>
<p >ε. Βιβλίο περιουσίας.</p>
<p >στ. Βιβλίο ταμειακής ενημερότητας των μελών.</p>
<p >ζ. Βιβλίο εισερχομένων κι εξερχομένων εγγράφων.</p>
<p >η. Βιβλίο Διαγραφών.</p>
<p >2. Τα παραπάνω βιβλία δύνανται να φυλάσσονται σε ηλεκτρονική μορφή (αρχεία, βάση δεδομένων, ηλεκτρονικά κείμενα, λογιστικά φύλλα) αν αυτό αποτελεί επιθυμία του Συλλόγου και δεν αντιβαίνει με υπάρχοντες νόμους.</p>
<p >3. Τα μέλη του Συλλόγου έχουν δικαίωμα να πληροφορούνται το περιεχόμενο των παραπάνω βιβλίων.</p>
<p ><a id="k27" name="k27"></a> ΑΡΘΡΟ 27ο: Οικονομική διαχείριση</p>
<p >1. Η περιουσία του Συλλόγου μπορεί να διατεθεί για:</p>
<p >α. Χρηματοδότηση των μελών του συλλόγου ή τρίτων οι οποίοι εργάζονται για τη δημιουργία λογισμικού ή την εκπόνηση μελέτης που αποδεδειγμένα προωθεί τους σκοπούς του Συλλόγου.</p>
<p >β. Έκδοση εντύπων τα οποία προβάλλουν το έργο του Συλλόγου ή είναι επιμορφωτικού περιεχομένου.</p>
<p >γ. Πληρωμή συνδρομών σε περιοδικά ή αγορά εντύπων και λογισμικού τα οποία βοηθούν το έργο του Συλλόγου.</p>
<p >δ. Οργάνωση συνεδρίων με θέματα σχετικά με τους σκοπούς του Συλλόγου.</p>
<p >ε. Συμμετοχή του Συλλόγου σε συνέδρια, εκθέσεις κλπ. για προβολή του έργου του.</p>
<p >στ. Κάθε άλλη δαπάνη αποφασιζόμενη από το Δ.Σ. εάν αποσκοπεί στην εκπλήρωση των στόχων του συλλόγου.</p>
<p >2. Διενεργούμενη δαπάνη είναι έγκυρη, όταν έχει εγκριθεί με σχετική απόφαση του Δ.Σ.</p>
<p >3. Προκειμένου γι&#39; αγορά ή πώληση ακινήτων απαιτείται πάντοτε η έγκριση της Γ.Σ.</p>
<p >4.Απαγορεύεται η διάθεση της περιουσίας του Συλλόγου για σκοπούς διαφορετικούς από τους προβλεπόμενους στο παρόν καταστατικό.</p>
<p ><a id="k28" name="k28"></a> ΑΡθΡΟ 28ο: Ελεγκτική επιτροπή (Ε.Ε.)</p>
<p >1. Η Ελεγκτική Επιτροπή αποτελείται από 3 μέλη και εκλέγεται από τη Γ.Σ. σύμφωνα με το σχετικό άρθρο, με φανερή ψηφοφορία και για 1 έτος.</p>
<p >2. Η Ελεγκτική Επιτροπή, μόλις εκλεγεί, συγκροτείται σε σώμα, ακολουθώντας τον τρόπο συγκρότησης του Δ.Σ., και με ψηφοφορία εκλέγει τον Πρόεδρό της, ο οποίος καλεί και διευθύνει τις συνεδριάσεις και όλο το έργο της.</p>
<p ><a id="k29" name="k29"></a> ΑΡΘΡΟ 29ο: Έργο της ελεγκτικής επιτροπής</p>
<p >1. Έργο της Ε.Ε. είναι ο έλεγχος της οικονομικής διαχείρισης του Συλλόγου, των πραγματοποιηθέντων εξόδων και της πηγής αυτών καθώς και των πραγματοποιηθεισών δαπανών. Κατά την άσκηση του έργου τους, τα μέλη της Ε.Ε εξετάζουν οποιοδήποτε χρήσιμο στοιχείο και ζητούν την επίδειξη των εγγράφων και βιβλίων.</p>
<p >2. Τα μέλη που συνιστούν την Ε.Ε. δεν μπορούν να είναι μέλη του Δ.Σ. του Σωματείου.</p>
<p >3. Το πόρισμα του ελέγχου τους υποβάλλουν εγγράφως προς τη συνερχόμενη κατ&#39; έτος τακτική Γ.Σ.</p>
<p >4. Στο τέλος του έτους η Ε.Ε διενεργεί καθολικό έλεγχο και συντάσσει σχετική έκθεση, την οποία υποβάλλει στο Δ.Σ. και τη Γ.Σ.</p>
<p ><h4>ΚΕΦΑΛΑΙΟ Ε΄: Υπόλοιπα άρθρα</h4><a id="k30" name="k30"></a> ΑΡΘΡΟ 30ο: Εφορευτική επιτροπή</p>
<p >1. Η Εφορευτική Επιτροπή αποτελείται από 3 μέλη και εκλέγεται από τη Γ.Σ. πριν από κάθε ψηφοφορία για εκλογή νέου Δ.Σ. και νέας Ελεγκτικής Επιτροπής.</p>
<p >2. Στην Εφορευτική Επιτροπή δε μπορεί να είναι μέλος υποψήφιος για τα αξιώματα για τα οποία γίνονται εκλογές.</p>
<p >3. Η Εφορευτική Επιτροπή κρατάει πρωτόκολλο ψηφοφορίας, στο οποίο καταχωρείται με αύξοντα αριθμό το ονοματεπώνυμο του υποψηφίου και σε ξεχωριστό φάκελο η αίτηση υποψηφιότητας.</p>
<p >4. Η Εφορευτική Επιτροπή είναι υπεύθυνη για τη διεξαγωγή των εκλογών: ετοιμασία, αποστολή και παραλαβή ψηφοδελτίων, καθώς και για την ανακοίνωση του αποτελέσματος, με την κατάρτιση του αντίστοιχου πίνακα.</p>
<p >5. Μετά το πέρας των εκλογών, συντάσσεται πρακτικό εκλογών, στο οποίο αναφέρονται όλα τα σχετικά με τις εκλογές.</p>
<p ><a id="k31" name="k31"></a> ΑΡΘΡΟ 31ο: Έκτακτες επιτροπές - Ομάδες εργασίας</p>
<p >1. Για την προώθηση των σκοπών του Συλλόγου συγκροτούνται με απόφαση του Δ.Σ. επιτροπές υπεύθυνες για την οργάνωση εκδηλώσεων, ομιλιών, σεμιναρίων, συνεδρίων για τον προγραμματισμό επισκέψεων και επαφών, για τη δημιουργία κέντρου πληροφοριών και γενικά για οποιοδήποτε ζήτημα κριθεί σκόπιμο από το Σύλλογο η συγκρότηση μιας επιτροπής.</p>
<p >2. Η Γ.Σ. μετά από εισήγηση του Δ.Σ., μπορεί να προχωρεί στη συγκρότηση Ομάδων Εργασίας με σκοπό τη μελέτη ενός συγκεκριμένου προβλήματος, τη δημιουργία νέων εργαλείων κλπ.</p>
<p ><a id="k32" name="k32"></a> ΑΡΘΡΟ 32ο: Τροποποίηση καταστατικού</p>
<p >1. Για την τροποποίηση του καταστατικού αποφασίζει η Γ.Σ., που συνέρχεται ειδικώς για το σκοπό αυτό.</p>
<p >2. Η Γ.Σ με σκοπό την τροποποίηση του καταστατικού βρίσκεται σε απαρτία όταν παρίστανται τα 2/3 των οικονομικώς τακτοποιημένων μελών.</p>
<p >3. Οι αποφάσεις για την τροποποίηση του καταστατικού λαμβάνονται με πλειοψηφία των 3/5 των παρόντων.</p>
<p >4. Οποιαδήποτε τροποποίηση του καταστατικού ισχύει μόνο μετά την εγγραφή αυτής στο προβλεπόμενο απ&#39; τον Α.Κ βιβλίο.</p>
<p >ΑΡΘΡΟ 33ο: Διάλυση του σωματείου</p>
<p >Ο Σύλλογος διαλύεται:</p>
<p >1. Με δικαστική απόφαση στις περιπτώσεις που ορίζει ο νόμος.</p>
<p >2. Όταν τα μέλη του είναι λιγότερα από δέκα (10).</p>
<p >3. Με πρόταση διαλύσεως, η οποία γίνεται με τον ίδιο τρόπο που τροποποιείται το καταστατικό.</p>
<p ><a id="k34" name="k34"></a> ΑΡΘΡΟ 34ο: Εκκαθάριση</p>
<p >1. Ο υπό διάλυση Σύλλογος τίθεται υπό εκκαθάριση εφαρμοζομένων των σχετικών περί Σωματείων διατάξεων του Α.Κ.</p>
<p >2. Η περιουσία του Σωματείου σε καμιά περίπτωση δε διανέμεται στα μέλη του.</p>
<p >3. Σε περίπτωση διαλύσεως του Συλλόγου η περιουσία του διατίθεται για σκοπούς που εξυπηρετούν αναγνωρισμένα την κοινή ωφέλεια και την πρόοδο της επιστήμης.</p>
<p ><a id="k35" name="k35"></a> ΑΡΘΡΟ 35ο: Ερμηνεία του καταστατικού</p>
<p >1. Εάν προκύψει θέμα που δε ρυθμίζεται από το παρόν καταστατικό, αποφαίνεται το Δ.Σ. σύμφωνα με το πνεύμα του παρόντος, τις σχετικές διατάξεις του Α.Κ. και λοιπών Νόμων, με γνώμονα τη συναδέλφωση των μελών, η οποία αποτελεί το θεμέλιο λίθο για την πραγμάτωση των σκοπών του Συλλόγου μας.</p>
<p >2. Η Γ.Σ. στην πρώτη τακτική ή έκτακτη συνέλευσή της, επικυρώνει την ρύθμιση πέραν το καταστατικού ή την ερμηνεία του από το Δ.Σ.</p>
<p >3. Σε περίπτωση μη επικύρωσης, ακολουθεί ψηφοφορία όπως το καταστατικό ορίζει για την αναθεώρηση του καταστατικού.</p>
<p ><a id="k36" name="k36"></a> ΑΡΘΡΟ 36ο: Έγκριση καταστατικού</p>
<p >Το παρόν καταστατικό που αποτελείται από 36 άρθρα, αναγνώσθηκε, συζητήθηκε και εγκρίθηκε κατ&#39; άρθρο και στο σύνολό του από εμάς τους ιδρυτές που συνήλθαμε στις 09-05-1998 στην Αθήνα επί των οδών Ρούμελης 10, Αγία Παρασκευή.</p>
<p >&nbsp;</p>
<p >ΤΑ ΙΔΡΥΤΙΚΑ ΜΕΛΗ</p>
<table align="left" border="1" cellpadding="2" cellspacing="0">
   <tbody style="">
      <tr style="">
         <td style="text-align: center;" valign="top">Α/Α</td> <td style="text-align: center;" valign="top"><strong>ΕΠΩΝΥΜΟ</strong></td> <td style="text-align: center;" valign="top"><strong>ΟΝΟΜΑ</strong></td> </tr>
      <tr style="">
         <td style="" valign="top">1</td> <td style="" valign="top">ΑΡΑΧΩΒΑΣ</td> <td style="" valign="top">ΝΙΚΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">2</td> <td style="" valign="top">ΒΑΡΑΚΙΤΗΣ</td> <td style="" valign="top">ΚΩΝΣΤΑΝΤΙΝΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">3</td> <td style="" valign="top">ΓΕΩΡΓΑΤΟΣ</td> <td style="" valign="top">ΦΩΤΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">4</td> <td style="" valign="top">ΓΥΦΤΟΜΗΤΡΟΣ</td> <td style="" valign="top">ΙΩΑΝΝΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">5</td> <td style="" valign="top">ΙΩΑΝΝΟΥ</td> <td style="" valign="top">ΙΩΑΝΝΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">6</td> <td style="" valign="top">ΚΑΒΑΡΝΟΣ</td> <td style="" valign="top">ΑΝΤΩΝΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">7</td> <td style="" valign="top">ΚΑΜΠΡΙΑΝΗΣ</td> <td style="" valign="top">ΜΙΧΑΛΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">8</td> <td style="" valign="top">ΚΕΡΑΜΙΔΑΣ</td> <td style="" valign="top">ΓΕΩΡΓΙΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">9</td> <td style="" valign="top">ΚΡΕΜΜΥΔΑΣ</td> <td style="" valign="top">ΚΛΕΑΝΘΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">10</td> <td style="" valign="top">ΚΥΡΙΑΖΟΠΟΥΛΟΣ</td> <td style="" valign="top">ΙΩΑΝΝΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">11</td> <td style="" valign="top">ΜΑΙΣΤΡΕΛΗΣ</td> <td style="" valign="top">ΚΩΝΣΤΑΝΤΙΝΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">12</td> <td style="" valign="top">ΜΠΟΥΡΑΣ</td> <td style="" valign="top">ΔΗΜΗΤΡΙΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">13</td> <td style="" valign="top">ΜΟΥΖΟΥΡΕΛΛΗΣ</td> <td style="" valign="top">ΓΕΩΡΓΙΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">14</td> <td style="" valign="top">ΠΑΠΑΚΩΣΤΑΣ</td> <td style="" valign="top">ΕΥΡΙΠΙΔΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">15</td> <td style="" valign="top">ΣΑΝΙΔΑ</td> <td style="" valign="top">ΠΑΡΑΣΚΕΥΗ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">16</td> <td style="" valign="top">ΣΟΛΔΑΤΟΣ</td> <td style="" valign="top">ΘΕΟΔΩΡΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">17</td> <td style="" valign="top">ΒΡΥΩΝΗΣ</td> <td style="" valign="top">ΠΑΝΑΓΙΩΤΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">18</td> <td style="" valign="top">ΕΞΗΝΤΑΡΙΔΗΣ</td> <td style="" valign="top">ΙΩΑΝΝΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">19</td> <td style="" valign="top">ΦΛΟΥΡΗΣ</td> <td style="" valign="top">ΜΙΧΑΛΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">20</td> <td style="" valign="top">ΓΚΛΑΒΑΣ</td> <td style="" valign="top">ΟΡΕΣΤΗΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">21</td> <td style="" valign="top">ΑΘΑΝΑΣΟΠΟΥΛΟΣ</td> <td style="" valign="top">ΧΡΗΣΤΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">22</td> <td style="" valign="top">ΜΑΥΡΟΓΙΑΝΝΟΠΟΥΛΟΣ</td> <td style="" valign="top">ΝΙΚΟΣ</td>
      </tr>
      <tr style="">
         <td style="" valign="top">23</td> <td style="" valign="top">ΚΟΚΡΑΣ</td> <td style="" valign="top">ΝΙΚΟΣ</td>
      </tr>
   </tbody>
</table>
