---
title: "Κοινότητα"
layout: "pages"
bannertemplate: "hellug-banner.html"
date: 2013-04-29
category_title: Linux
tags: [linux]
---
<p>Μιά προσπάθεια καταγραφής των :</p>
<ol>
	<li style="text-align: justify;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><strong>Υπηρεσιών του Συλλόγου Hellug</strong> για έργα Κοινοτήτων ή Ομάδων</span></span></li>
	<li style="text-align: justify;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><strong>Ελληνικών Κοινοτήτων</strong> που έχουν ως κεντρικό τους θέμα το Ελ.Λογισμικό linux/FOSS (συνολικά ή ανά περίπτωση project).</span></span></li>
	<li style="text-align: justify;"><span style="font-size:12px;"><span style="font-family: verdana, geneva, sans-serif;"><strong>Διεθνών Κοινοτήτων ή Οργανισμών</strong> σχετικών με το&nbsp;linux/FOSS.</span></span></li>
</ol>
