---
title: "Έλεγχος συνδρομής"
layout: "pages"
bannertemplate: "hellug-banner.html"
category_title: Μέλη
build:
  list: never
---


<!-- htmx -->
<script src="/static/js/htmx.min.js"></script>
<script src="/static/js/ext/response-targets.js"></script>

<div hx-get="/api/auth/status?display=inline" hx-trigger="load" hx-ext="response-targets" hx-target="this" hx-target-401="this" hx-swap="outerHTML"></div>

<div hx-get="/api/member/status" hx-trigger="load" hx-swap="outerHTML"></div>

<div hx-ext="response-targets">
<form id="subscriptionform" class="row g-2" hx-post="/api/sendSubscriptionEmail" hx-target="this" hx-target-422="this" >
    <p> Παρακαλούμε συμπληρώστε την παρακάτω φόρμα, για να λάβετε περισσότερες πληροφορίες σχετικά με τις ταμειακές εκκρεμότητες σας, μέσω e-mail. Αν έχετε αλλάξει διεύθυνση e-mail, παρακαλούμε επικοινωνήστε με το <a href="mailto:finance@hellug.gr">finance@hellug.gr</a>.</p>
    <div class="col-9">
        <label for="inputEmail" class="form-label">Πληκτρολογήστε το email σας (όπως το είχατε δώσει κατά την εγγραφή σας)</label>
        <input id="inputEmail" type="email" name="email" class="form-control" placeholder="username@hellug.gr">
    </div>

        <div hx-get="/api/captcha/?htmx=1" hx-trigger="load" hx-swap="innerHTML" hx-target="#captcha"></div>
        <label for="captcha">Εισάγετε τα ψηφία της επόμενης «Εικόνας Ελέγχου»</label>
        <div class="col-sm-3" id="captcha">
            <img class="htmx-indicator" src="" alt="Φορτώνει..">
            <input type="hidden" name=Id value="">
        </div>
        <div class="col-sm-3">
            <input name=Solution id=solution class="form-control">
        </div>
    <div class="col-12">
        <button class="btn btn-primary">Υποβολή</button>
    </div>
</form>
</div>
