---
title: "Project Hosting"
layout: "tests"
bannertemplate: "hellug-banner.html"
date: 2013-04-29
category_title: "Δράσεις"
tags: [Δράσεις]
---


<table border="0" cellpadding="1" cellspacing="1" style="width: 500px;"><tbody><tr><td style="text-align: center;"><u><strong>Project</strong></u></td><td style="text-align: center;"><u><strong>Link</strong></u></td></tr><tr><td style="text-align: center;">OpenERP&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td><td><a href="http://openerp.hellug.gr/" target="_blank">http://openerp.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://mcrypt.hellug.gr/" target="_blank">http://mcrypt.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://openoffice.hellug.gr/" target="_blank">http://openoffice.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://clonezilla-sysresccd.hellug.gr/" target="_blank">http://clonezilla-sysresccd.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://imapfilter.hellug.gr/" target="_blank">http://imapfilter.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://xisp.hellug.gr/" target="_blank">http://xisp.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://hydra.hellug.gr/" target="_blank">http://hydra.hellug.gr/</a></td></tr><tr><td>&nbsp;</td><td><a href="http://openedu.hellug.gr/" target="_blank">http://openedu.hellug.gr</a></td></tr><tr><td>&nbsp;</td><td><a href="http://argeas.hellug.gr/" target="_blank">http://argeas.hellug.gr</a></td></tr><tr><td>&nbsp;</td><td><a href="http://git.hellug.gr/" target="_blank">http://git.hellug.gr</a></td></tr><tr><td>&nbsp;</td><td><a href="http://svn.hellug.gr/" target="_blank">http://svn.hellug.gr</a></td></tr><tr><td>&nbsp;</td><td><a href="http://cvs.hellug.gr/" target="_blank">http://cvs.hellug.gr</a></td></tr></tbody></table><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
