---
title: "Υλικό Προβολής του Συλλόγου."
layout: "pages"
bannertemplate: "hellug-banner.html"
date: 2022-01-02
category_title: Σύλλογος
tags: [Υλικό Προβολής]
peri-hellug: [yliko-probolis]
menu:
    main:
        parent: "contact"
        weight: 5
---
<p>
  Η "Ένωση Χρηστών και Φίλων Λίνουξ Ελλάδας-Hellenic Linux User Group (HEL.L.U.G.) έχει εκδόσει και χρησημοποιήσει κατά καιρούς, φυλλάδια γνωριμίας για τους σκοπούς και τις δράσεις της. Μπορείτε <b>να δείτε</b>, <b>να πάρετε</b> και (γιατί όχι..!..) <b><i>να τυπώσετε</i></b>, το τρέχον φυλάδιο, αλλά και όλα τα προηγούμενα (για ιστορικούς λόγους..), από ιδρύσεως του Συλλόγου.
</p>
<center>
	<figure>
		<a href="/media/Hellug-Brochure-All/Hellug-Brochure-2018-Final.pdf" target="_blank" title="Download Brochure 2018"><figcaption><b>Φυλλάδιο 2018 - σήμερα</b></figcaption>
			<img src="/media/Hellug-Brochure-All/Hellug-Brochure-2018-Final-p1-2338.jpg" alt="XX" style="width:733px;height:520px;"></a>
	</figure>
	<figure>
		<a href="/media/Hellug-Brochure-All/Hellug-Brochure-2004-Final.pdf" target="_blank" title="Download Brochure 2004">
			<figcaption><b>Φυλλάδιο 2004 - 2018</b></figcaption>
			<img src="/media/Hellug-Brochure-All/Hellug-Brochure-2004-Final-p1-582.jpg" alt="XX" style="width:450px;height:735px;"></a>
	</figure>
	<figure>
		<a href="/media/Hellug-Brochure-All/Hellug-Brochure-1998-Final.pdf" target="_blank" title="Download Brochure 1998">
			<figcaption><b>Φυλλάδιο 1998 - 2004</b></figcaption>
			<img src="/media/Hellug-Brochure-All/Hellug-Brochure-1998-Final-p1-844.jpg" alt="XX" style="width:733px;height:755px;"></a>
	</figure>
</center>
